//font

.f-midashi {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-style: normal;
  font-weight: 600;
}

.f-futura {
  font-family: futura-pt, sans-serif;
  font-style: normal;
}

.f-futura--m {
  font-weight: 500;
}

.f-futura--d {
  font-weight: 600;
}

.f-futura--b {
  font-weight: 700;
}

.f-futura--ce {
  font-weight: 800;
}
