// mixin

@mixin max($bp: 768px) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin min($bp: 769px) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin size($media, $pro, $num) {
  @if $pro == fs {
    @if $media == pc {
      font-size: $num/1440 * 100vw
    } @else {
      font-size: $num/750 * 100vw
    }
  } @else if $pro == l {
    @if $media == pc {
      left: $num/1440 * 100vw
    } @else {
      left: $num/750 * 100vw
    }
  } @else if $pro == r {
    @if $media == pc {
      right: $num/1440 * 100vw
    } @else {
      right: $num/750 * 100vw
    }
  } @else if $pro == t {
    @if $media == pc {
      top: $num/1440 * 100vw
    } @else {
      top: $num/750 * 100vw
    }
  } @else if $pro == b {
    @if $media == pc {
      bottom: $num/1440 * 100vw
    } @else {
      bottom: $num/750 * 100vw
    }
  } @else if $pro == w {
    @if $media == pc {
      width: $num/1440 * 100vw
    } @else {
      width: $num/750 * 100vw
    }
  } @else if $pro == h {
    @if $media == pc {
      height: $num/1440 * 100vw
    } @else {
      height: $num/750 * 100vw
    }
  }
}

@mixin margin($media,$t,$r,$b,$l) {
  @if $media == pc {
    margin: $t/1440 * 100vw $r/1440 * 100vw $b/1440 * 100vw $l/1440 * 100vw
  } @else {
    margin: $t/750 * 100vw $r/750 * 100vw $b/750 * 100vw $l/750 * 100vw
  }
}

@mixin padding($media,$t,$r,$b,$l) {
  @if $media == pc {
    padding: $t/1440 * 100vw $r/1440 * 100vw $b/1440 * 100vw $l/1440 * 100vw
  } @else {
    padding: $t/750 * 100vw $r/750 * 100vw $b/750 * 100vw $l/750 * 100vw
  }
}
