// common

@import "_mixin";
@import "_reset";
@import "_variables";
@import "_font";

@import '../node_modules/swiper/dist/css/swiper.css';

::selection {
  color: #ffffff;
  background: #2b10bf;
}

html {
  visibility: hidden;
}
html.wf-active {
  visibility: visible;
}

.page:not(.page-top) {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -30vw;
    width: 160vw;
    height: 100vh;
    z-index: 9999;
    background-color: currentColor;
    transition: width 1.2s cubic-bezier(1,.04,1,.76), transform 1.2s cubic-bezier(1,.04,1,.76);
    transform: matrix3d(1, 0, 0, 0, -0.65, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    @include max() {
      transform: matrix3d(1, 0, 0, 0, -0.35, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    html.is-ie &, html.is-edge & {
      display: none;
    }
    .is-mounted & {
      width: 0;
      transform: none;
    }
  }
}

//main-block
.main-block {
  position: relative;
  background-size: cover;
  background-position: center;
  &:hover {
    .main-block-copy--link {
      &::before {
        height: 4px;
      }
    }
  }
}

.main-block-title {
  &__main {
    @include size(pc,fs,110);
    line-height: 1;
    @include max() {
      @include size(sp,fs,110);
      line-height: 0.94;
    }
    span {
      display: block;
    }

    .main-block--with-text & {
      letter-spacing: 0.28em;
      line-height: 1.14;
      @include min {
        @include size(pc,fs,88);
      }
      @include max {
        @include size(sp,fs,88);
      }
    }
  }
}

.main-block-copy {
  display: block;
  @include padding(pc,0,0,27,0);
  @include size(pc,fs,24);
  letter-spacing: 0.2em;
  line-height: 1;
  border-bottom: 4px solid currentColor;
  @include max {
    @include padding(sp,0,0,29,0);
    @include size(sp,fs,28);
    border-width: 2px;
  }

  .main-block--with-text & {
    line-height: 1.78;
    letter-spacing: 0.24em;
    @include min {
      @include padding(pc,0,0,18,0);
    }
    @include max {
      @include padding(sp,0,0,18,0);
    }
  }

  &--link {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      transition: height 0.1s linear;
      background-color: currentColor;
    }
  }
}

.main-block-text {
  @include margin(pc,52,0,0,0);
  @include size(pc,fs,14);
  line-height: 2.44;
  letter-spacing: 0.1em;
  text-align: justify;
  @include max {
    @include margin(sp,48,0,0,0);
    @include size(sp,fs,24);
    line-height: 2.0;
  }
}

.main-block-visual {
  background-size: cover;
}

//device display none
.dn-pc {
  @include min() {
    display: none;
  }
}

.dn-sp {
  @include max() {
    display: none;
  }
}

//aos

.scroll-anime-image {
  position: relative;
  transition: background-position 1.4s cubic-bezier(.34,.07,.095,.995);
  background-position: 0 3vw;
  .is-ie & {
    background-position: 0 60px;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60%;
    transition: height 1.4s cubic-bezier(.34,.07,.095,.995);
  }
  .aos-animate & {
    background-position: 0 0 !important;
    &::before {
      height: 0;
    }
  }
  &--delay-01 {
    transition-delay: 0.5s;
    &::before {
      transition-delay: 0.5s;
    }
  }
}

.scroll-anime-letter {
  display: block;
  html:not(.is-ie) & {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transform: translate3d(0,0.3em,0) skewY(5deg);
    transition: clip-path 0.6s ease-out, transform 0.6s ease-out;
  }
  .aos-animate & {
    html:not(.is-ie) & {
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
      transform: translate3d(0,0,0) skewY(0deg);
    }
  }
  &--motion-small {
    html:not(.is-ie) & {
      clip-path: polygon(0 80%, 100% 80%, 100% 0, 0 100%);
      transform: translate3d(0,0.3em,0) skewY(4deg);
    }
  }
  &--delay-01 {
    .aos-animate & {
      transition-delay: 0.2s;
    }
  }
  &--delay-image-01 {
    .aos-animate & {
      transition-delay: 0.3s;
    }
  }
  &--delay-image-02 {
    .aos-animate & {
      transition-delay: 0.5s;
    }
  }
  &--delay-image-03 {
    .aos-animate & {
      transition-delay: 0.7s;
    }
  }
  &--delay-02 {
    .aos-animate & {
      transition-delay: 0.4s;
    }
  }
  &--delay-03 {
    .aos-animate & {
      transition-delay: 0.6s;
    }
  }
}

.text-hover {
  display: flex;
  height: 1.1em;
  overflow: hidden;
  .target {
    span {
      display: block;
      transition: transform 0.3s ease;
    }
  }
  &:hover {
    @include min {
      .target {
        span {
          transform: translate3d(0,-100%,0);
        }
      }
    }
  }
}

@for $i from 0 through 20 {
  .text-hover .target:nth-child(#{$i + 1}) {
    span {
      transition-delay: 0.025s * $i;
    }
  }
}

.text-hover-wrapper {
  &:hover {
    .target {
      span {
        transform: translate3d(0,-100%,0);
      }
    }
  }
}

.main-visual-block {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    will-change: opacity;
    transition: opacity 0.8s ease-in 1s;
  }
  .is-mounted & {
    &::before {
      opacity: 0;
    }
  }
  .main-block-title__main, .main-block-copy {
    z-index: 10;
  }
}

#mainVisual {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    will-change: opacity;
    transition: opacity 0.15s ease-in;
  }
  &.is-loaded {
    &::after {
      opacity: 0;
    }
  }
}
