.page-interview-detail-head {
  overflow: hidden;
  @include min() {
    @include size(pc,h,896);
    @include padding(pc,160,157,0,157);
  }
  @include max() {
    @include size(sp,h,1120);
    @include padding(sp,166,0,0,115);
  }
  .interview-detail--type01 & {
    background-color: #f5c2bf;
  }
  .interview-detail--type02 & {
    background-color: #8bc4c4;
  }
  .interview-detail--type03 & {
    background-color: #d3e7e7;
  }
}

.page-interview-detail-head__title {
  position: relative;
  color: #fff;
  background-size: cover;
  @include min() {
    @include size(pc,h,608);
  }
  @include max() {
    @include size(sp,h,704);
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: opacity 0.8s ease-in 1s;
  }
  .is-mounted & {
    &::before {
      opacity: 0;
    }
  }
  &__inner {
    z-index: 10;
    @include min() {
      position: absolute;
      top: 46.4%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
    @include max() {
      position: relative;
      @include size(sp,t,70);
      @include size(sp,l,-40);
    }
    &.is-pos-bottom {
      @include max() {
        @include size(sp,t,328);
      }
    }
  }
  h1 {
    @include min() {
      @include size(pc,fs,88);
      line-height: 1.13;
    }
    @include max() {
      @include margin(sp,0,0,18,0);
      @include size(sp,fs,104);
      line-height: 1;
    }
    .is-stafftrainer {
      @include min() {
        margin-right: -0.5em;
      }
    }
    .is-shopstaff {
      @include min() {
        margin-right: -0.53em;
      }
    }
    .is-shopmanager {
      @include min() {
        margin-right: -0.56em;
      }
    }
  }
  .f-futura--b {
    @include min() {
      @include size(pc,fs,16);
      text-align-last: justify;
    }
    @include max() {
      @include size(sp,fs,24);
      letter-spacing: 0.07em;
    }
  }
}

.page-interview-detail-head__sp-title {
  position: relative;
  @include size(sp,l,-34);
  @include margin(sp,0,0,36,0);
  color: #fff;
  @include size(sp,fs,18);
  letter-spacing: 0.53em;
  line-height: 1;
  text-align: center;
  .num {
    @include margin(sp,0,0,0,10);
    @include size(sp,fs,22);
  }
}

.page-interview-detail-head__bottom {
  color: #585850;
  @include min() {
    display: flex;
    @include padding(pc,31,0,0,58);
    align-items: center;
  }
  @include max() {
    @include padding(sp,30,0,0,0);
  }
}

.page-interview-detail-head__copy {
  @include min() {
    @include size(pc,fs,24);
    letter-spacing: 0.24em;
  }
  @include max() {
    @include margin(sp,0,0,18,0);
    @include size(sp,fs,28);
    letter-spacing: 0.22em;
  }
  &::after {
    @include min() {
      content: "";
      display: inline-block;
      position: relative;
      top: -3px;
      @include size(pc,w,330);
      height: 4px;
      @include margin(pc,0,15,0,14);
      background-color: #585850;
      vertical-align: middle;
    }
  }
}

.page-interview-detail-head__years {
  letter-spacing: 0.09em;
  @include min() {
    @include size(pc,fs,16);
  }
  @include max() {
    @include size(sp,fs,20);
  }
  &::before {
    @include max() {
      content: "";
      display: inline-block;
      position: relative;
      top: 1;
      @include size(sp,w,156);
      height: 2px;
      @include margin(sp,0,15,0,0);
      background-color: #585850;
      vertical-align: middle;
    }
  }
}

.page-interview-detail-body {
  background-color: #f0f0f0;
  color: #2b10bf;
  @include min() {
    @include padding(pc,96,0,224,0);
  }
  @include max() {
    @include padding(sp,0,0,354,0);
  }

  .back-bt {
    display: block;
    position: relative;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid transparent;
    letter-spacing: 0.21em;
    text-align: center;
    @include min() {
      @include size(pc,w,272);
      @include size(pc,fs,20);
      @include margin(pc,0,0,0,99);
      @include padding(pc,0,0,11,0);
    }
    @include max() {
      @include size(sp,w,428);
      @include size(sp,fs,24);
      @include margin(sp,0,0,0,99);
      @include padding(sp,0,0,22,0);
      border-width: 1px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      @include size(pc,l,2);
      @include size(pc,b,-9);
      @include size(pc,w,16);
      @include size(pc,h,16);
      border-left: 2px solid currentColor;
      border-bottom: 2px solid transparent;
      transform: rotateZ(45deg);
      @include max() {
        @include size(sp,l,2);
        @include size(sp,b,-9);
        @include size(sp,w,18);
        @include size(sp,h,18);
        border-width: 1px;
      }
    }
    span {
      margin-right: -0.32em;
    }
  }
}

.page-interview-detail-sec {
  .main-block {
    position: relative;
  }
  .main-block__detail {
    @include min() {
      position: absolute;
    }
    @include max() {
      @include padding(sp,0,102,0,102);
    }
    .main-block-copy {
      line-height: 1.88;
      @include min() {
        @include size(pc,w,388);
        @include size(pc,fs,24);
        @include padding(pc,0,0,18,0);
      }
      @include max() {
        display: inline-block;
        @include padding(sp,0,30,18,0);
        @include size(sp,fs,30);
      }
    }
    .main-block-text {
      position: relative;
      text-align: justify;
      @include max() {
        position: relative;
        line-height: 2.2;
        z-index: 10;
      }
    }
  }
}

.page-interview-detail-sec--01 {
  @include min() {
    @include padding(pc,0,0,96,0);
  }
  .main-block-visual {
    @include min() {
      @include size(pc,w,828);
      @include size(pc,h,608);
    }
    @include max() {
      @include size(sp,h,608);
      @include margin(pc,0,0,116,0);
    }
  }
  .main-block-copy {
    @include min() {
      @include margin(pc,0,0,87,0);
    }
  }
  .main-block__detail {
    @include min() {
      @include size(pc,t,145);
      @include size(pc,r,269);
    }
  }
  .main-block-text {
    @include min() {
      @include size(pc,w,386);
      @include size(pc,l,116);
    }
  }
}

.page-interview-detail-sec--02 {
  .main-block-visual {
    @include min() {
      @include size(pc,w,614);
      @include size(pc,h,800);
      @include margin(pc,0,100,0,0);
      margin-left: auto;
    }
    @include max() {
      position: relative;
      @include size(sp,t,-60);
      @include size(sp,w,583);
      @include size(sp,h,800);
      @include margin(sp,0,0,54,0);
      margin-left: auto;
      z-index: 0;
    }
  }
  .main-block__detail {
    @include min() {
      @include size(pc,t,94);
      @include size(pc,l,440);
    }
  }
  .main-block-copy {
    @include min() {
      @include margin(pc,0,0,87,0);
    }
  }
  .main-block-text {
    @include min() {
      @include size(pc,w,443);
      @include size(pc,l,-285);
    }
  }
}

.page-interview-detail-sec--03 {
  @include min() {
    @include margin(pc,0,0,-193,0);
  }
  @include max() {
    @include padding(sp,0,0,95,0);
  }
  .main-block {
    @include min() {
      display: flex;
      justify-content: space-between;
    }
  }
  .main-block-visual {
    position: relative;
  }
  .main-block__detail {
    @include min() {
      @include size(pc,r,156);
      @include size(pc,t,144);
    }
  }
  .main-block-copy {
    @include min() {
      @include margin(pc,0,0,57,0);
    }
  }
  .main-block-text {
    @include min() {
      @include size(pc,w,443);
      @include size(pc,l,-111);
    }
  }
  .main-block-visual--01 {
    @include min() {
      @include size(pc,t,-289);
      @include size(pc,w,600);
      @include size(pc,h,800);
    }
    @include max() {
      position: relative;
      @include size(sp,t,-28);
      @include size(sp,w,583);
      @include size(sp,h,800);
      @include margin(sp,0,0,88,0);
      z-index: 0;
    }
  }
  &--has-morevisual {
    @include min() {
      @include margin(pc,0,0,191,0);
    }
    @include max() {
      @include padding(sp,0,0,0,0);
    }
    .main-block__detail {
      @include min() {
        top: auto;
        @include size(pc,b,-97);
        @include size(pc,l,383);
        z-index: 10;
      }
    }
    .main-block-copy {
      @include min() {
        @include margin(pc,0,0,58,0);
      }
    }
    .main-block-text {
      @include min() {
        @include size(pc,l,-225);
      }
    }
    .main-block-visual--02 {
      @include min() {
        @include size(pc,t,159);
        @include size(pc,w,771);
        @include size(pc,h,608);
      }
      @include max() {
        @include size(sp,w,651);
        @include size(sp,h,608);
        @include margin(sp,100,0,128,0);
        margin-left: auto;
      }
    }
  }
}

.page-interview-detail-sec--04 {
  @include min() {
    @include padding(pc,0,0,248,0);
  }
  @include max() {
    @include padding(sp,0,0,148,0);
  }
  .main-block-visual {
    @include min() {
      @include size(pc,w,1014);
      @include size(pc,h,608);
      margin: auto;
    }
    @include max() {
      @include size(sp,h,608);
      @include margin(sp,0,0,116,0);
    }
  }
  .main-block__detail {
    @include min() {
      position: static;
    }
  }
  .main-block-copy {
    @include min() {
      position: absolute;
      @include size(pc,r,156);
      @include size(pc,b,257);
    }
  }
  .main-block-text {
    @include min() {
      position: absolute !important;
      @include size(pc,w,499);
      @include size(pc,t,611);
      @include size(pc,r,215);
    }
  }
}
