<template>
  <div class="page page-about">
    <HeaderMenu></HeaderMenu>
    <div class="page-about-sec-01 page-about-main js-link-show js-changeBg" data-color="light-blue">
      <div class="page-about-main__visual main-visual-block" id="mainVisual"></div>
      <div class="page-about-main__ttl">
        <img src="../../assets/img/about/img-main-ttl.svg" alt="ABOUT S-GROOVE ブランド店舗における販売のプロフェッショナル">
      </div>
      <stickyLinkBt
        v-bind:isShown="showSectionIndex >= -1 && showSectionIndex != 0"
        v-bind:isHidden="showSectionIndex === 0 || showSectionIndex >= 1"
        type="first"
      />
    </div>
    <div class="page-about-sec-02 js-link-show">
      <stickyLinkBt
          v-bind:isShown="showSectionIndex === 0"
          v-bind:isHidden="showSectionIndex === 1 || showSectionIndex >= 1"
          type="red"
        />
      <div class="page-about-intro"  data-aos="">
        <div class="page-about-intro__visual scroll-anime-image"></div>
        <div class="main-block main-block--with-text">
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">アパレルブランドをはじめ<br>あらゆるショップへ</div>
            <div class="main-block-text">エス・グルーヴは、TSIホールディングスのグループ内における販売部門・販売スタッフを集約して発足した、販売のプロフェッショナルチームです。今まで培ってきた経験とノウハウを生かし、店舗の運営と販売をクライアントさまに代わり最大のパフォーマンスへと導きます。</div>
          </div>
          <div class="main-block-title">
            <h2 class="main-block-title__main f-futura f-futura--m"><span class="scroll-anime-letter scroll-anime-letter--delay-01">WHO</span><span class="scroll-anime-letter scroll-anime-letter--delay-02">WE ARE</span></h2>
          </div>
        </div>
      </div>
      <div class="page-about-blands">
        <div class="page-about-blands__visuals">
          <ul>
            <li class="page-about-blands__visual">
              <div class="page-about-blands__img"></div>
              <span class="f-futura f-futura--b">JILLSTUART</span>
            </li>
            <li class="page-about-blands__visual">
              <div class="page-about-blands__img"></div>
              <span class="f-futura f-futura--b">ROSEBUD</span>
            </li>
            <li class="page-about-blands__visual">
              <div class="page-about-blands__img"></div>
              <span class="f-futura f-futura--b">NEW BALANCE GOLF</span>
            </li>
            <li class="page-about-blands__visual">
              <div class="page-about-blands__img"></div>
              <span class="f-futura f-futura--b">URTH CAFFE</span>
            </li>
          </ul>
        </div>
        <div class="main-block main-block--with-text" data-aos="">
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">業界トップグループだから<br>数多くのブランドに関われる</div>
            <div class="main-block-text">TSIグループのブランド店舗だけでなく、海外ブランドのポップアップ店舗やUrthCaffeのような飲食店、店舗単位での担当もあります。あらゆるブランドに関わることで、働くバリエーションも広がります。</div>
          </div>
          <div class="main-block-title">
            <h2 class="main-block-title__main f-futura f-futura--m"><span class="scroll-anime-letter">BRANDS</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="page-about-sec-03 js-link-show js-changeBg" data-color="offwhite">
      <div class="page-about-education" data-aos="">
        <stickyLinkBt
          to="/benefit"
          v-bind:isShown="showSectionIndex === 1"
          v-bind:isActive="activeSectionIndex === 0 && passedSectionIndex != 0"
          v-bind:isHidden="passedSectionIndex === 0"
          type="blue"
        />
        <div class="js-link-target"></div>
        <div class="main-block main-block--with-text scroll-anime-image">
          <div class="main-block-title">
            <h2 class="main-block-title__main f-futura f-futura--m"><span class="scroll-anime-letter scroll-anime-letter--delay-01">EDUCA</span><span class="scroll-anime-letter scroll-anime-letter--delay-02">-TION</span></h2>
          </div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">店舗での問題を解決するための<br>教育や研修、コンサルティング</div>
            <div class="main-block-text">エス・グルーヴは、チームとして高めて行くために教育や研修に力を入れています。新人研修だけでなく、マネジメント研修まで幅広い成長へと支援しています。研修を外部へのコンサルティングまで広げて活躍しているメンバーもいます。</div>
          </div>
        </div>
        <div class="page-about-sec-03__visuals">
          <ul>
            <li class="page-about-sec-03__visual"><div class="page-about-sec-03__img"></div></li>
            <li class="page-about-sec-03__visual"><div class="page-about-sec-03__img"></div></li>
            <li class="page-about-sec-03__visual"><div class="page-about-sec-03__img"></div></li>
          </ul>
        </div>
      </div>
      <div class="page-about-benefit" data-aos="">
        <stickyLinkBt
          to="/benefit"
          v-bind:isShown="passedSectionIndex === 0"
          v-bind:isActive="activeSectionIndex === 1 && passedSectionIndex != 1"
          v-bind:isHidden="passedSectionIndex === 1"
          type="blue"
        />
        <div class="js-link-target"></div>
        <div class="main-block main-block--with-text scroll-anime-image">
          <div class="main-block-title">
            <h2 class="main-block-title__main f-futura f-futura--m"><span class="scroll-anime-letter">BENEFIT</span></h2>
          </div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">スタッフひとりひとりが<br>よりいきいきと輝けるように</div>
            <div class="main-block-text">ファッション・アパレル業界で働くこと、その仕事を通じて、お客様に喜んでもらい、さらに自分たちの仕事が好きになるような。そんな毎日の仕事に変えていきたい。女性が多い業界だからこそ、グループの強みを生かして、福利厚生や教育、ライフスタイルを磨いていけるような会社を目指しています。</div>
          </div>
        </div>
        <div class="page-about-sec-03__visuals">
          <ul>
            <li class="page-about-sec-03__visual"><div class="page-about-sec-03__img"></div></li>
            <li class="page-about-sec-03__visual"><div class="page-about-sec-03__img"></div></li>
            <li class="page-about-sec-03__visual"><div class="page-about-sec-03__img"></div></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="page-about-sec-04 js-link-show">
      <stickyLinkBt
        v-bind:isShown="showSectionIndex === 2 && passedSectionIndex === 1"
        v-bind:isHidden="showSectionIndex === 3"
        type="red"
      />
      <div class="main-block main-block--with-text">
        <div class="main-block-title" data-aos="">
          <h2 class="main-block-title__main f-futura f-futura--m"><span class="scroll-anime-letter">BRAND <br class="dn-pc">LIST</span></h2>
        </div>
      </div>
      <div class="bland-list">
        <div class="bland-list__contents">
          <transition :name="transitionName" :duration='400' mode="out-in">
            <div class="bland-item" :key="currentId" :class="current.class">
              <a :href="current.url" target="_blank"></a>
            </div>
          </transition>
        </div>
        <div class="bland-list__tabs">
          <tabItem v-for="item in list" v-bind="item" :key="item.id" v-model="currentId"/>
        </div>
      </div>
    </div>
    <entrySec>
      <stickyLinkBt
        to="/entry"
        v-bind:isShown="showSectionIndex === 3"
        v-bind:isActive="activeSectionIndex === 2"
        v-bind:isHidden="passedSectionIndex === 2"
        type="entry"
      />
    </entrySec>
  </div>
</template>

<script>
import AOS from 'aos'
import HeaderMenu from './../parts/_headerMenu.vue'
import tabItem from './../parts/_tabItem'
import entrySec from './../parts/_entrySec'
import stickyLinkBt from './../parts/_stickyLinkBt.vue'
import Utils from './../../utils/Utils.js'

export default {
  components: {
    entrySec,
    tabItem,
    HeaderMenu,
    stickyLinkBt
  },
  data() {
    return {
      currentId: 1,
      list: [
        { id: 1, label: 'ROSE BUD', class: 'bland-item-01', url: '' },
        { id: 2, label: 'Laline', class: 'bland-item-02', url: ''},
        { id: 3, label: 'JILL STUART', class: 'bland-item-03', url: ''},
        { id: 4, label: 'HUMAN WOMAN', class: 'bland-item-04', url: ''},
        { id: 5, label: 'H standard', class: 'bland-item-05', url: ''},
        { id: 6, label: 'ADORE', class: 'bland-item-06', url: ''},
        { id: 7, label: 'BOSCH', class: 'bland-item-07', url: '' },
        { id: 8, label: 'B ability', class: 'bland-item-08', url: 'b-ability/' },
        { id: 9, label: 'NATURAL BEAUTY', class: 'bland-item-09', url: '' },
        { id: 10, label: 'PINKY & DIANNE', class: 'bland-item-10', url: ''},
        { id: 11, label: 'PEARLY GATES', class: 'bland-item-11', url: ''},
        { id: 12, label: 'MASTER BUNNY EDITION', class: 'bland-item-12', url: ''},
        { id: 13, label: 'Jack Bunny', class: 'bland-item-13', url: '' },
        { id: 14, label: 'New Balance Golf', class: 'bland-item-14', url: '' },
        { id: 15, label: 'St ANDREWS', class: 'bland-item-15', url: '' }
      ],
      transitionName: 'slide-left',
      currentSection: null,
      passedSectionIndex: null,
      activeSectionIndex: null,
      showSectionIndex: null,
      waypointsInstances: []
    }
  },
  mounted() {
    AOS.init({
      offset: window.innerWidth > 768 ? 200 : 100,
      once: true
    })

    const utils = new Utils()
    utils.loadImage()
    this.waypoints()
  },
  computed: {
    current() {
      return this.list.filter(el => el.id === this.currentId)[0] || {}
    }
  },
  beforeDestroy: function () {
    this.waypointsInstances.forEach(instance => {
      instance.destroy()
    })
  },
  methods: {
    waypoints() {
      const elems = this.$el.getElementsByClassName('js-link-target')
      const showElems = this.$el.getElementsByClassName('js-link-show')
      const nodes = Array.prototype.slice.call(elems, 0)
      const nodes02 = Array.prototype.slice.call(showElems, 0)
      const me = this

      nodes.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.activeSectionIndex = idx
              } else {
                me.activeSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = window.innerWidth > 768 ? (64 / 864 * window.innerHeight) : (40 / 667 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )

        // すぎさったsectionの管理
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.passedSectionIndex = idx
              } else {
                me.passedSectionIndex = idx - 1
              }
            },
            offset: function() {
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = -_linkTargetElementHeight / 2
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })

      nodes02.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.showSectionIndex = idx
              } else {
                me.showSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = (64 / 864 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })
    }
  }
}
</script>

<style lang='scss'>
@import './../../assets/style/_mixin.scss';

.page-about-main {
  position: relative;
  background-color: #c9d8f3;
  @include min {
    @include size(pc,h,896);
    @include padding(pc,160,0,0,0);
  }
  @include max {
    @include size(sp,h,1120);
    @include padding(sp,225,0,0,0);
  }
}

.page-about-main__visual {
  position: relative;
  background-size: cover;
  @include min {
    @include size(pc,w,1126);
    @include size(pc,h,1152);
    margin: auto;
    background-image: url(./../../assets/img/about/img-about-main.jpg);
  }
  @include max {
    @include size(sp,w,635);
    @include size(sp,h,992);
    margin-left: auto;
    background-image: url(./../../assets/img/about/sp/img-about-main.jpg);
  }

  &::before, &::after {
    background-color: #C7D5F0;
  }
}

.page-about-main__ttl {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-bottom: 4px solid #faf160;
  @include min {
    @include size(pc,t,235);
    @include size(pc,w,670);
    @include padding(pc,0,0,26,0);
  }
  @include max {
    @include size(sp,t,176);
    @include size(sp,w,640);
    @include padding(sp,0,0,26,0);
    border-width: 2px;
  }
  img {
    width: 100%;
  }
}

.page-about-sec-02, .page-about-sec-03 {
  .main-block__detail {
    @include min {
      @include size(pc,w,444);
    }
  }
}

.page-about-sec-02 {
  background-color: #f0f0f0;
  color: #ee5b62;
  @include min {
    @include padding(pc,544,0,288,0);
  }
  @include max {
    @include padding(sp,534,0,288,55);
  }
  .main-block {
    position: absolute;
    @include min {
      display: flex;
      @include padding(pc,0,0,0,157);
    }
  }
  .main-block-title__main {
    @include min {
      @include margin(pc,-10,0,0,0);
    }
  }
  .main-block__detail {
    @include max {
      @include size(sp,w,528);
    }
  }
}

.page-about-intro {
  position: relative;
  @include min {
    @include padding(pc,0,0,160,0);
  }
  @include max {
    @include padding(sp,0,0,602,0);
  }
  .main-block {
    width: 100%;
    @include size(pc,t,86);
    @include min {
      justify-content: space-between;
    }
    @include max {
      @include size(sp,t,-300);
    }
  }
  .main-block-title {
    @include min {
      @include padding(pc,0,144,0,0);
    }
  }
  .main-block__detail {
    @include max {
      @include margin(sp,0,0,104,0);
    }
  }
}

.page-about-intro__visual {
  background-size: cover;
  @include min {
    @include size(pc,w,671);
    @include size(pc,h,832);
    @include margin(pc,0,0,0,498);
    background-image: url(./../../assets/img/about/img-about-intro.jpg);
  }
  @include max {
    @include size(sp,w,531);
    @include size(sp,h,832);
    margin-left: auto;
    background-image: url(./../../assets/img/about/sp/img-about-intro.jpg);
  }
  &::before {
    background-color: #f0f0f0;
  }
}

.page-about-blands {
  position: relative;

  .main-block {
    width: 100%;
    justify-content: space-between;
    @include size(pc,t,-42);
    @include max {
      @include size(sp,t,-494);
    }
  }
  .main-block__detail {
    @include max {
      @include margin(sp,0,0,30,0);
    }
  }
  .main-block-text {
    @include min {
      width: 74.6%;
    }
  }
  .main-block-title {
    @include min {
      @include padding(pc,0,121,0,0);
    }
    @include max {
      @include padding(sp,0,0,0,220);
    }
  }
}

.page-about-blands__visuals {
  ul {
    display: flex;
    flex-wrap: wrap;
    @include min {
      @include size(pc,w,727);
      @include margin(pc,0,157,0,0);
      margin-left: auto;
    }
  }
}

.page-about-blands__visual {
  position: relative;
  @include min {
    @include size(pc,w,329);
    @include margin(pc,0,0,39,0);
    &:nth-child(2n-1) {
      @include margin(pc,0,69,0,0);
    }
  }
  @include max {
    @include size(sp,w,329);
    @include margin(sp,0,0,32,0);
    &:nth-child(2n-1) {
      @include margin(sp,0,37,0,0);
    }
  }
  span {
    display: block;
    letter-spacing: 0.37em;
    @include min {
      @include size(pc,fs,14);
    }
    @include max {
      @include size(sp,fs,18);
    }
  }
  .page-about-blands__img {
    display: block;
    width: 100%;
    background-size: cover;
    @include min {
      @include size(pc,h,256);
      @include margin(pc,0,0,7,0);
    }
    @include max {
      @include size(sp,h,256);
      @include margin(sp,0,0,5,0);
    }
  }
  &:first-child {
    .page-about-blands__img {
      background-image: url("../../assets/img/about/img-brands-01.jpg");
    }
  }
  &:nth-child(2) {
    .page-about-blands__img {
      background-image: url("../../assets/img/about/img-brands-02.jpg");
    }
  }
  &:nth-child(3) {
    .page-about-blands__img {
      background-image: url("../../assets/img/about/img-brands-03.jpg");
    }
  }
  &:nth-child(4) {
    .page-about-blands__img {
      background-image: url("../../assets/img/about/img-brands-04.jpg");
    }
  }
}

.page-about-sec-03 {
  background-color: #eee8da;
  color: #2b10bf;
  .main-block-title {
    .main-block-title__main {
      letter-spacing: 0.36em;
    }
  }
  .main-block__detail {
    @include max {
      @include size(sp,w,520);
    }
  }
}

.page-about-sec-03__visuals {
  ul {
    display: flex;
    @include min {
      justify-content: center;
    }
    @include max {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      overflow-scrolling: touch;
    }
    li {
      @include size(pc,w,329);
      @include size(pc,h,256);
      background-size: cover;
      @include max {
        min-width: 43.86667vw;
        @include size(sp,h,256);
      }
      &:not(:last-child) {
        @include margin(pc,0,69,0,0);
        @include max {
          @include margin(sp,0,15,0,0);
        }
      }
      img {
        width: 100%;
      }
    }
  }
}

.page-about-education {
  position: relative;
  @include min {
    @include margin(pc,0,0,192,0);
  }
  @include max {
    @include margin(sp,0,0,224,0);
  }
  .js-link-target {
    position: absolute;
    width: 100%;
    @include min {
      @include size(pc,t,-128);
      @include size(pc,h,704);
    }
    @include max {
      top: 0;
      @include size(sp,h,1180);
    }
  }
  .sticky-link-bt {
    &.is-active, &.is-hidden {
      @include min {
        @include size(pc,b,353);
      }
      @include max {
        @include size(sp,b,266);
      }
    }
  }
  .main-block {
    @include min {
      @include size(pc,t,-128);
      @include size(pc,w,1012);
      @include size(pc,h,704);
      @include margin(pc,0,0,-32,271);
      background-image: url(./../../assets/img/about/img-education-main.jpg);
    }
    @include max {
      @include size(sp,t,-96);
      @include size(sp,w,649);
      @include size(sp,h,704);
      @include margin(sp,0,0,530,0);
      background-image: url(./../../assets/img/about/sp/img-education-main.jpg);
    }
    &::before {
      background-color: #f0f0f0;
    }
  }
  .main-block-title {
    position: relative;
    @include min {
      @include size(pc,t,-53);
      @include size(pc,l,-45);
      text-align: center;
      @include margin(pc,0,0,110,0);
    }
    @include max {
      @include size(sp,t,-86);
      @include size(sp,l,54);
      @include margin(sp,0,0,580,0);
    }
    .main-block-title__main {
      display: inline-block;
      text-align-last: left;
      span:last-child {
        letter-spacing: 0.5em;
      }
    }
  }
  .main-block__detail {
    @include min {
      position: relative;
      @include size(pc,l,-115);
    }
    @include max {
      @include margin(sp,0,0,0,115);
    }
  }
  .page-about-sec-03__visuals {
    li {
      &:first-child {
        background-image: url("../../assets/img/about/img-education-01.jpg");
      }
      &:nth-child(2) {
        background-image: url("../../assets/img/about/img-education-02.jpg");
      }
      &:nth-child(3) {
        background-image: url("../../assets/img/about/img-education-03.jpg");
      }
    }
  }
}

.page-about-benefit {
  position: relative;
  .js-link-target {
    position: absolute;
    width: 100%;
    @include min {
      top: 0;
      @include size(pc,h,704);
    }
    @include max {
      @include size(sp,t,190);
      @include size(sp,h,1180);
    }
  }
  .sticky-link-bt {
    &.is-active, &.is-hidden {
      @include min {
        @include size(pc,b,353);
      }
      @include max {
        @include size(sp,b,266);
      }
    }
  }
  .main-block {
    @include min {
      @include size(pc,w,942);
      @include size(pc,h,704);
      @include margin(pc,0,0,96,0);
      background-image: url(./../../assets/img/about/img-benefit-main.jpg);
    }
    @include max {
      @include size(sp,w,636);
      @include size(sp,h,704);
      @include margin(sp,0,0,720,0);
      margin-left: auto;
      background-image: url(./../../assets/img/about/sp/img-benefit-main.jpg);
    }
    &::before {
      background-color: #eee8da;
    }
  }
  .main-block-title {
    position: relative;
    @include min {
      @include size(pc,t,-53);
      @include size(pc,l,47);
      text-align: right;
      @include margin(pc,0,0,81,0);
    }
    @include max {
      @include size(sp,t,-48);
      @include size(sp,l,-64);
      @include margin(sp,0,0,678,0);
    }
    .main-block-title__main {
      display: inline-block;
      text-align-last: left;
    }
  }
  .main-block__detail {
    @include min {
      position: relative;
      @include size(pc,l,839);
    }
  }

  .page-about-sec-03__visuals {
    ul {
      @include margin(pc,0,0,-208,0);
      @include max {
        @include margin(pc,0,0,-120,0);
      }
      li {
        &:first-child {
          background-image: url("../../assets/img/about/img-benefit-01.jpg");
        }
        &:nth-child(2) {
          background-image: url("../../assets/img/about/img-benefit-02.jpg");
        }
        &:nth-child(3) {
          background-image: url("../../assets/img/about/img-benefit-03.jpg");
        }
      }
    }
  }
}

.page-about-sec-04 {
  @include padding(pc,384,0,150,0);
  background-color: #f0f0f0;
  color: #ee5b62;
  @include max {
    @include padding(sp,202,0,150,0);
  }
  .main-block-title {
    @include min {
      text-align: right;
      @include margin(pc,0,226,75,0);
    }
    @include max {
      @include margin(sp,0,0,75,106);
    }
    &__main {
      letter-spacing: 0.346em !important;
    }
  }
}

.bland-list {
  display: flex;
}

.bland-list__contents {
  overflow: hidden;
  @include min {
    @include size(pc,w,942);
    @include size(pc,h,704);
    @include margin(pc,0,70,0,0);
  }
  @include max {
    @include size(sp,w,401);
    @include size(sp,h,704);
    @include margin(sp,0,45,0,0);
  }
  .bland-item {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    a {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include size(pc,w,400);
      @include size(pc,h,300);
      margin: auto;
      background-position: center;
      @include max {
        @include size(sp,w,400);
        @include size(sp,h,300);
      }
    }
  }
  .bland-item-01 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-01.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-01.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-01.svg);
      @include min {
        background-size: (387 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (345 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-02 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-02.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-02.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-02.svg);
      @include min {
        background-size: (246 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (246 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-03 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-03.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-03.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-03.svg);
      @include min {
        background-size: (386 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (304 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-04 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-04.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-04.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-04.svg);
      @include min {
        background-size: (319 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (348 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-05 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-05.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-05.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-05.svg);
      @include min {
        background-size: (329 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (304 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-06 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-06.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-06.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-06.svg);
      @include min {
        background-size: (339 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (322 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-07 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-07.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-07.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-07.svg);
      @include min {
        background-size: (309 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (295 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-08 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-08.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-08.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-08.svg);
      @include min {
        background-size: (332 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (306 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-09 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-09.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-09.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-09.svg);
      @include min {
        background-size: (314 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (300 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-10 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-10.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-10.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-10.svg);
      @include min {
        background-size: (387 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (345 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-11 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-11.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-11.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-11.svg);
      @include min {
        background-size: (387 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (346 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-12 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-12.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-12.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-12.svg);
      @include min {
        background-size: (387 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (346 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-13 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-13.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-13.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-13.svg);
      @include min {
        background-size: (328 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (293 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-14 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-14.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-14.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-14.svg);
      @include min {
        background-size: (384 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (346 / 750 * 100vw, auto);
      }
    }
  }
  .bland-item-15 {
    @include min {
      background-image: url(./../../assets/img/about/img-bland-slide-15.jpg);
    }
    @include max {
      background-image: url(./../../assets/img/about/sp/img-bland-slide-15.jpg);
    }
    a {
      background-image: url(./../../assets/img/about/logo-15.svg);
      @include min {
        background-size: (387 / 1440 * 100vw, auto);
      }
      @include max {
        background-size: (345 / 750 * 100vw, auto);
      }
    }
  }
}

.bland-list__tabs {
  @include margin(pc,60,0,0,0);
  @include max {
    @include margin(sp,58,0,0,0);
  }
  button {
    position: relative;
    text-align: left;
    color: #ee5b62;
    transition: color 0.3s ease-in, opacity 0.2s ease-in;
    opacity: 1;
    @include min() {
      @include size(pc,w,252);
      @include size(pc,fs,18);
      @include margin(pc,0,0,25,0);
      letter-spacing: 0.14em;
    }
    @include max {
      @include size(sp,w,280);
      @include size(sp,fs,20);
      @include margin(sp,0,0,24,0);
      letter-spacing: 0.1em;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 4px;
      background-color: #ee5b62;
      transition: width 0.3s ease-in;
      @include min() {
        @include size(pc,l,-114);
        @include size(pc,b,-8);
      }
      @include max {
        @include size(sp,l,-72);
        @include size(sp,b,-6);
        height: 2px;
      }
    }
    &:hover {
      opacity: 0.7;
      transition-duration: 0.1s;
    }
    &.active {
      opacity: 1;
      color: #ee5b62;
      &::before {
        @include size(pc,w,443);
        @include max {
          @include size(sp,w,333);
        }
      }
    }
  }
}
</style>
