<template>
  <div class="page page-benefit">
    <HeaderMenu></HeaderMenu>
    <div class="page-benefit__sec-01 page-benefit-main js-changeBg" data-color="offwhite">
      <div class="main-block f-futura main-visual-block" id="mainVisual">
        <div class="main-block-title">
          <h1 class="main-block-title__main f-futura--m"><span>BENEFIT</span></h1>
        </div>
        <div class="main-block-copy f-midashi">私たちだからできる福利厚生</div>
      </div>
    </div>
    <div class="page-benefit__sec-02 js-link-show js-changeBg" data-color="white">
      <div class="page-benefit__block page-benefit__block--01">
        <stickyLinkBt
          to="/interview"
          v-bind:isShown="showSectionIndex >= -1"
          v-bind:isActive="activeSectionIndex === 0 && passedSectionIndex != 0"
          v-bind:isHidden="passedSectionIndex === 0 && showSectionIndex === 0"
          type="first"
        />
        <div class="page-benefit-graph">
          <img src="./../../assets/img/benefit/img-graph.svg" alt="">
        </div>
        <div class="page-benefit__block__inner">
          <div class="main-block-copy f-midashi"><span class="f-futura f-futura--m">TSI HOLDINGS</span> グループだから<br>できる幅広いキャリアパス</div>
          <div class="main-block-text">特定のブランドだけでなく、地域やエリアでの雇用、店長・マネージャー・セクション長へのパスがきちんと描けるように育成や教育にも力をいれています。それだけでなく、アパレルという枠を飛び越えて、カフェやコスメなど、販売のプロとしてのキャリアもあり、ライフステージに合わせて成長していけるように取り組んでいます。</div>
          <router-link to="/interview" class="page-benefit-link main-block f-futura">
            <div class="js-link-target"></div>
            <div class="main-block-copy f-midashi">入社1年目から<br>それぞれのインタビュー</div>
            <div class="main-block-title">
              <div class="main-block-title__main f-futura--b"><span>INTERVIEW</span></div>
            </div>
          </router-link>
        </div>
      </div>
      <div class="page-benefit__block page-benefit__block--02" data-aos="">
        <div class="main-block f-futura">
          <div class="main-block-visual scroll-anime-image"></div>
          <div class="main-block-title">
            <h2 class="main-block-title__main f-futura f-futura--m"><span class="scroll-anime-letter scroll-anime-letter--delay-01">EDUCA</span><span class="scroll-anime-letter scroll-anime-letter--delay-02">-TION</span></h2>
          </div>
          <div class="main-block-copy f-midashi">教育制度</div>
          <div class="benefit-item">
            <div class="benefit-item__inner">
              <div class="benefit-item__title f-midashi">新入社員研修</div>
              <div class="benefit-item__text">入社から立ち上がりまで、店舗にスムースに入っていけるように前提知識や所作の研修を行います。同期のメンバーとも親交を深める機会として大きな資産になります。</div>
            </div>
            <div class="benefit-item__img"><img src="./../../assets/img/benefit/img-benefit-education-01.jpg" alt=""></div>
          </div>
        </div>
        <div class="benefit-item-list">
          <div class="benefit-item">
            <div class="benefit-item__inner">
              <div class="benefit-item__title f-midashi">セールスプロデュース研修</div>
              <div class="benefit-item__text">サブ店長になるまで、STEP1〜4までそれぞれのレベルに合わせ、接客技術や部下の育成のためのマネジメントまで幅広い領域を学びます。同じレベルでの研修なので横のつながりも深まる場になっています。</div>
            </div>
            <div class="benefit-item__img"><img src="./../../assets/img/benefit/img-benefit-education-02.jpg" alt=""></div>
          </div>
          <div class="benefit-item">
            <div class="benefit-item__inner">
              <div class="benefit-item__title f-midashi">店長研修</div>
              <div class="benefit-item__text">店長として必要な知識やマインドを学んでいきます。売上や利益といった数字のことや全般のマネジメントを題材にしますが、体を動かしたりゲーム性を取り入れることで楽しく受けることのできる研修です。</div>
            </div>
            <div class="benefit-item__img"><img src="./../../assets/img/benefit/img-benefit-education-03.jpg" alt=""></div>
          </div>
          <div class="benefit-item">
            <div class="benefit-item__inner">
              <div class="benefit-item__title f-midashi">ロールプレイング大会</div>
              <div class="benefit-item__text">年に1回、TSIグループ全体でロールプレイングのコンテストが行われ、優秀スタッフは表彰されます。<br>販売員の日々の店舗接客の中で技術を競うことはないですが、会社全体で取り組むことで輝けるステージ作りを積極的におこなっています。</div>
            </div>
            <div class="benefit-item__img"><img src="./../../assets/img/benefit/img-benefit-education-04.jpg" alt=""></div>
          </div>
        </div>
        <div class="benefit-item">
          <div class="benefit-item__inner">
            <div class="benefit-item__title f-midashi">その他｜研修</div>
            <div class="benefit-item__text">新入社員研修を受けて半年後に同じメンバーで行い、半年間で起こった悩みや経験をみんなで共有、共感しながらディスカッションを中心に今後成長するための課題を洗い出すフォローアップ研修を行います。<br>そして、さらに半年後に販売員として、先輩としての準備を行うためにブラッシュアップ研修を行います。</div>
          </div>
        </div>
      </div>
      <div class="page-benefit__block page-benefit__block--03" data-aos="">
        <div class="main-block f-futura">
          <div class="main-block-visual scroll-anime-image"></div>
          <div class="main-block-title">
            <h2 class="main-block-title__main f-futura f-futura--m"><span class="scroll-anime-letter scroll-anime-letter--delay-01">BENEFIT</span><span class="scroll-anime-letter scroll-anime-letter--delay-02">PROGRAMS</span></h2>
          </div>
          <div class="main-block-copy f-midashi">福利厚生</div>
          <div class="benefit-item">
            <div class="benefit-item__inner">
              <div class="benefit-item__title f-futura f-futura--m">TSI GROUP UNION</div>
              <div class="benefit-item__text">福利厚生の中で特徴的なのは、「TSIグループユニオン」といわれる労働組合です。全国での部活動やサークル活動、様々な活動をグループ一括で担っています。この制度を使って旅行をしたり、ツアーを組んだりなど、仕事だけでないつながりを生み出しています。</div>
              <div class="benefit-item__img-list">
                <div class="benefit-item__img">
                  <img src="./../../assets/img/benefit/img-benefit-programs-01.jpg" alt="">
                </div>
                <div class="benefit-item__img">
                  <img src="./../../assets/img/benefit/img-benefit-programs-02.jpg" alt="">
                </div>
                <div class="benefit-item__img">
                  <img src="./../../assets/img/benefit/img-benefit-programs-03.jpg" alt="">
                </div>
                <div class="benefit-item__img">
                  <img src="./../../assets/img/benefit/img-benefit-programs-04.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="benefit-item__img-list">
          <div class="benefit-item__img">
            <img src="./../../assets/img/benefit/img-benefit-programs-05.jpg" alt="">
          </div>
          <div class="benefit-item__img">
            <img src="./../../assets/img/benefit/img-benefit-programs-06.jpg" alt="">
          </div>
        </div>
        <div class="benefit-item-list">
          <div class="benefit-item">
            <div class="benefit-item__inner">
              <div class="benefit-item__title f-futura f-futura--m">LIFE SUPPORT</div>
              <div class="benefit-item__text"><p>・各種社会保険</p><p>・産休・育休制度（産前・産後）</p><p>・育児・介護短時間勤務制度</p></div>
            </div>
          </div>
          <div class="benefit-item">
            <div class="benefit-item__inner">
              <div class="benefit-item__title f-futura f-futura--m">EMPLOYEE <br class="dn-pc">BENEFITS</div>
              <div class="benefit-item__text"><p>・社員割引制度</p><p>・全国宿泊施設、飲食施設<br class="dn-pc">割引制度</p><p>・フィットネスクラブ・<br class="dn-pc">エステ等割引制度</p><p>・社員共済会制度</p></div>
            </div>
          </div>
        </div>
        <div class="benefit-item-list">
          <div class="benefit-item">
            <div class="benefit-item__inner">
              <div class="benefit-item__title f-midashi">自己啓発支援制度</div>
              <div class="benefit-item__text">TSIホールディングスが選定し業務に活用可能な資格・検定を、社員が合格・資格取得・基準に達した場合、取得にかかる費用を一部支援してもらえます。<br>例.：TOEIC、英語応対能力検定（業種別試験（販売/飲食）スコアＡ）、販売士（リテールマーケティング検定）、接客販売技能検定、メンタルヘルス・マネジメント検定など</div>
            </div>
          </div>
          <div class="benefit-item">
            <div class="benefit-item__inner">
              <div class="benefit-item__title f-midashi">メンター制度</div>
              <div class="benefit-item__text">配属店舗内にて「業務を指導する担当者」と、「心のケアを行う担当者」が付きます。<br>入社後、業務を行っていくための必要なことを教えたり、接客や付随する業務がスキルアップできるよう指導します。また、仕事をしていく中で感じる悩みも先輩が寄り添ってサポートを行います。<br>※店舗環境によっては担当者が同一人物の場合もあります。</div>
            </div>
          </div>
          <div class="benefit-item">
            <div class="benefit-item__inner">
              <div class="benefit-item__title f-midashi">キャリアコンサルティング制度</div>
              <div class="benefit-item__text">半年ごとに、本人が作成した目標に対し、上司と個人面談を行います。定めた目標について、フィードバックを行い、自身の評価、課題等を話し合います。また、悩みや困っていることの相談、今後のキャリア形成について、ステップアップするための課題、不足していることなど、アドバイスをします。</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <entrySec>
      <stickyLinkBt
        to="/entry"
        v-bind:isShown="showSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 1"
        v-bind:isHidden="passedSectionIndex === 1"
        type="entry"
      />
    </entrySec>
  </div>
</template>

<script>
import AOS from 'aos'
import HeaderMenu from './../parts/_headerMenu.vue'
import entrySec from './../parts/_entrySec.vue'
import stickyLinkBt from './../parts/_stickyLinkBt.vue'
import Utils from './../../utils/Utils.js'

export default {
  components: {
    entrySec,
    HeaderMenu,
    stickyLinkBt
  },
  data() {
    return {
      currentSection: null,
      passedSectionIndex: null,
      activeSectionIndex: null,
      showSectionIndex: null,
      waypointsInstances: []
    }
  },
  beforeDestroy: function () {
    this.waypointsInstances.forEach(instance => {
      instance.destroy()
    })
  },
  mounted() {
    AOS.init({
      offset: window.innerWidth > 768 ? 200 : 100,
      once: true
    })
    const utils = new Utils()
    utils.loadImage()

    this.waypoints()
  },
  methods: {
    waypoints() {
      const elems = this.$el.getElementsByClassName('js-link-target')
      const showElems = this.$el.getElementsByClassName('js-link-show')
      const nodes = Array.prototype.slice.call(elems, 0)
      const nodes02 = Array.prototype.slice.call(showElems, 0)
      const me = this

      nodes.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.activeSectionIndex = idx
              } else {
                me.activeSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = window.innerWidth > 768 ? (64 / 864 * window.innerHeight) : (40 / 667 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )

        // すぎさったsectionの管理
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.passedSectionIndex = idx
              } else {
                me.passedSectionIndex = idx - 1
              }
            },
            offset: function() {
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = -_linkTargetElementHeight / 2
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })

      nodes02.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.showSectionIndex = idx
              } else {
                me.showSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = (64 / 864 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })
    }
  }
}
</script>

<style lang="scss">
@import './../../assets/style/_mixin.scss';

.page-benefit {
  .page-benefit-main {
    position: relative;
    background-color: #eee8da;
    color: #3e3d34;
    @include min() {
      @include padding(pc,160,157,128,157);
    }
    @include max() {
      @include padding(sp,224,0,128,115);
    }
    .main-block {
      width: 100%;
      background-color: #f8dce7;
      @include min() {
        @include size(pc,h,608);
        background-image: url(./../../assets/img/benefit/img-benefit-main.jpg);
      }
      @include max() {
        @include size(sp,h,768);
        background-image: url(./../../assets/img/benefit/sp/img-benefit-main.jpg);
      }
    }
    .main-block-title {
      @include max() {
        @include margin(sp,0,0,0,0);
      }
    }
    .main-block-title__main {
      position: relative;
      @include min() {
        @include size(pc,t,-61);
        @include size(pc,l,25);
        letter-spacing: 0.521em;
        text-align: center;
      }
      @include max() {
        @include size(sp,t,-58);
        @include size(sp,l,-96);
        margin-right: -0.88em;
        letter-spacing: 0.376em;
        span {
          text-align: right;
        }
      }
    }

    .main-block-copy {
      @include min() {
        position: absolute;
        @include size(pc,t,234);
        @include size(pc,r,-157);
        @include size(pc,w,543);
      }
      @include max() {
        display: inline-block;
        @include margin(sp,0,0,0,-34);
      }
    }

    .main-visual-block {
      &::before, &::after {
        background-color: #f8dce7;
      }
    }
  }

  .page-benefit__sec-02 {
    background-color: #f0f0f0;
    overflow-x: hidden;
    @include min() {
      @include padding(pc,128,0,0,0);
    }
    @include max() {
      position: relative;
      @include padding(sp,636,0,116,0);
    }
  }

  .page-benefit__block--01 {
    color: #3e3d34;
    @include min() {
      position: relative;
      display: flex;
      align-items: flex-start;
      @include margin(pc,0,0,130,0);
    }
    @include max() {
      @include padding(sp,0,0,604,0);
    }
    .page-benefit-graph {
      background-color: #eee8da;
      @include min() {
        display: inline-block;
        @include size(pc,w,828);
        @include size(pc,h,735);
        @include padding(pc,128,171,160,158);
      }
      @include max() {
        @include size(sp,w,636);
        @include size(sp,h,702);
        margin-left: auto;
        @include padding(sp,160,68,96,69);
      }
      img {
        width: 100%;
      }
    }
    .page-benefit__block__inner {
      @include min() {
        @include size(pc,w,505);
        @include margin(pc,82,0,0,-45);
      }
      @include max() {
        position: absolute;
        @include size(sp,t,174);
        @include size(sp,l,52);
        @include size(sp,w,528);
      }
      .main-block-copy {
        @include min() {
          @include padding(pc,0,0,15,4);
          letter-spacing: 0.24em;
          line-height: 1.81;
          .f-futura {
            @include size(pc,fs,26);
            letter-spacing: 0.25em;
          }
        }
        @include max() {
          @include padding(sp,0,0,20,0);
          @include size(sp,fs,30);
          letter-spacing: 0.24em;
          line-height: 1.53;
          white-space: nowrap;
          .f-futura {
            @include size(sp,fs,30);
            letter-spacing: 0.267em;
          }
        }
      }
      .main-block-text {
        @include min() {
          @include size(pc,w,386);
          @include margin(pc,87,4,59,0);
          margin-left: auto;
        }
      }
    }
    .page-benefit-link {
      display: block;
      position: relative;
      @include min() {
        @include size(pc,w,331);
        @include size(pc,h,320);
        @include margin(pc,0,4,0,0);
        margin-left: auto;
        background-image: url(./../../assets/img/benefit/img-benefit-01.jpg);
      }
      @include max() {
        @include size(sp,w,331);
        @include size(sp,h,320);
        @include margin(sp,716,0,0,-52);
        background-image: url(./../../assets/img/benefit/sp/img-benefit-01.jpg);
      }
      .main-block-copy {
        position: relative;
        border-bottom: 0;
        line-height: 1.89;
        letter-spacing: 0.2em;
        white-space: nowrap;
        @include min() {
          @include padding(pc,17,0,19,0);
          @include size(pc,l,-58);
          @include size(pc,fs,24);
        }
        @include max() {
          @include padding(sp,52,0,44,0);
          @include size(sp,l,268);
          @include size(sp,fs,30);
          line-height: 1.59;
          letter-spacing: 0.23em;
        }
      }
      .main-block-title__main {
        position: relative;
        @include min() {
          @include size(pc,l,-55);
          @include size(pc,fs,18);
          letter-spacing: 0.5em;
        }
        @include max() {
          @include size(sp,l,274);
          @include size(sp,fs,18);
          letter-spacing: 0.52em;
        }
      }

      .js-link-target {
        position: absolute;
        top: 0;
        left: 0;
        @include min() {
          @include size(pc,w,331);
          @include size(pc,h,320);
          @include margin(pc,0,4,0,0);
        }
        @include max() {
          @include size(sp,w,331);
          @include size(sp,h,320);
        }
      }
    }
    .sticky-link-bt {
      &.is-active {
        &.is-shown {
          &::before {
            animation: none;
          }
        }
      }
      &.is-active, &.is-hidden {
        @include min() {
          @include size(pc,b,0);
        }
        @include max() {
          bottom: auto;
          @include size(sp,t,1678);
        }
      }
    }
  }

  .page-benefit__block--02 {
    color: #ee5b62;
    @include min() {
      @include margin(pc,0,0,186,0);
    }
    @include max() {
      @include margin(sp,0,0,112,0);
    }
    .main-block {
      @include min() {
        @include margin(pc,0,0,67,0);
      }
      .main-block-visual {
        background-size: cover;
        @include min() {
          @include size(pc,w,714);
          @include size(pc,h,960);
          margin-left: auto;
          background-image: url(./../../assets/img/benefit/img-benefit-education-main.jpg);
        }
        @include max() {
          @include size(sp,w,636);
          @include size(sp,h,960);
          margin-left: auto;
          background-image: url(./../../assets/img/benefit/sp/img-benefit-education-main.jpg);
        }
      }

      .main-block-title {
        position: absolute;
        @include min() {
          @include size(pc,t,44);
          @include size(pc,r,451);
        }
        @include max() {
          @include size(sp,t,166*2);
          @include size(sp,l,52);
        }
        .main-block-title__main {
          letter-spacing: 0.36em;
          line-height: 1.14;
          @include min() {
            @include size(pc,fs,88);
          }
          @include max() {
            @include size(sp,fs,88);
          }
          span {
            &:last-child {
              margin-left: 0.13em;
              letter-spacing: 0.46em;
            }
          }
        }
      }

      .main-block-copy {
        position: absolute;
        @include min() {
          @include size(pc,t,265);
          @include size(pc,l,157);
          @include size(pc,w,443);
        }
        @include max() {
          @include size(sp,t,307*2);
          @include size(sp,l,56);
          @include size(sp,w,424);
          letter-spacing: 0.3em;
        }
      }

      .benefit-item {
        @include min() {
          position: absolute;
          @include size(pc,t,420);
          @include size(pc,l,157);
        }
        @include max() {
          @include margin(sp,90,0,44,0);
        }
        &__text {
          @include min() {
            @include size(pc,w,445);
          }
        }
      }
    }

    .benefit-item-list {
      @include min() {
        @include margin(pc,0,0,87,0);
      }
      & + .benefit-item {
        @include min() {
          @include size(pc,w,444);
          margin: auto;
        }
        .benefit-item__inner {
          @include max() {
            @include size(sp,w,576);
          }
        }
      }
    }
    .benefit-item {
      @include max() {
        display: flex;
        @include margin(sp,0,0,44,0);
      }
      &__inner {
        @include max() {
          @include size(sp,w,380);
          @include margin(sp,0,0,0,54);
        }
      }
      &__img {
        @include max() {
          position: relative;
          @include size(sp,t,70);
          @include size(sp,r,-56);
        }
      }
    }
  }

  .page-benefit__block--03 {
    color: #2b10bf;
    @include min() {
      @include margin(pc,0,0,127,0);
    }
    .main-block {
      @include min() {
        @include margin(pc,0,0,64,0);
      }
      @include max() {
        @include margin(sp,0,0,104,0);
      }
      .main-block-visual {
        background-size: cover;
        @include min() {
          @include size(pc,w,713);
          @include size(pc,h,960);
          background-image: url(./../../assets/img/benefit/img-benefit-programs-main.jpg);
        }
        @include max() {
          @include size(sp,w,635);
          @include size(sp,h,960);
          background-image: url(./../../assets/img/benefit/sp/img-benefit-programs-main.jpg);
        }
      }

      .main-block-title {
        position: absolute;
        @include min() {
          @include size(pc,t,44);
          @include size(pc,r,108);
        }
        @include max() {
          @include size(sp,t,362);
          @include size(sp,l,48);
          white-space: nowrap;
        }
        .main-block-title__main {
          letter-spacing: 0.686em;
          line-height: 1.14;
          @include min() {
            @include size(pc,fs,88);
          }
          @include max() {
            @include size(sp,fs,88);
          }
          span {
            &:last-child {
              letter-spacing: 0.345em;
            }
          }
        }
      }

      .main-block-copy {
        position: absolute;
        @include min() {
          @include size(pc,t,329);
          @include size(pc,r,157);
          @include size(pc,w,443);
        }
        @include max() {
          @include size(sp,t,710);
          @include size(sp,r,52);
          @include size(sp,w,424);
          letter-spacing: 0.3em;
        }
      }

      .benefit-item {
        @include min() {
          position: absolute;
          @include size(pc,t,456);
          @include size(pc,r,157);
        }
        @include max() {
          @include margin(sp,96,0,0,0);
        }
        &__inner {
          @include min() {
            @include size(pc,w,445);
          }
        }
        .benefit-item__title {
          @include max() {
            @include size(sp,w,518);
            margin-left: auto;
            margin-right: auto;
          }
        }
        .benefit-item__text {
          @include max() {
            @include size(sp,w,518);
            @include margin(sp,0,0,70,0);
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .benefit-item__img-list {
        display: flex;
        flex-wrap: wrap;
        @include min() {
          @include size(pc,w,670);
        }
        @include max() {
          @include size(sp,w,670);
          margin-left: auto;
          margin-right: (-34 / 750 * 100vw);
        }
        .benefit-item__img {
          @include min() {
            width: calc(50% - (12 / 1440 * 100vw) / 2);
            &:nth-child(2n-1) {
              @include margin(pc,0,12,12,0);
            }
            .is-ie &, .is-firefox & {
              width: calc(49% - (12 / 1440 * 100vw) / 2);
            }
          }
          @include max() {
            width: calc(50% - (12 / 750 * 100vw) / 2);
            &:nth-child(2n-1) {
              @include margin(sp,0,12,12,0);
            }
          }
        }
      }

      & + .benefit-item__img-list {
        display: inline-block;
        @include min() {
          @include margin(pc,0,0,0,157);
        }
        @include max() {
          @include margin(sp,0,40,0,-60);
          vertical-align: top;
        }
        .benefit-item__img {
          @include min() {
            @include margin(pc,0,0,32,0);
          }
          &:not(:last-child) {
            @include max() {
              @include margin(sp,0,0,32,0);
            }
          }
          &:last-child {
            @include min() {
              @include margin(pc,0,0,67,0);
            }
          }
        }
        & + .benefit-item-list {
          display: inline-block;
          @include min() {
            @include margin(pc,0,0,66,65);
            vertical-align: bottom;
          }
          @include max() {
            @include size(sp,w,430);
            @include margin(sp,0,0,80,0);
          }
          .benefit-item {
            display: inline-block;
            vertical-align: top;
            .benefit-item__title {
              @include min() {
                @include margin(pc,0,0,37,0);
              }
              @include max() {
                @include margin(sp,0,0,8,0);
              }
            }
            .benefit-item__text {
              @include max() {
                padding-left: 1em;
                text-indent: -1em;
                text-align: left;
              }
            }
            &:not(:last-child) {
              @include min() {
                @include margin(pc,0,63,0,0);
              }
              @include max() {
                @include margin(sp,0,0,50,0);
              }
            }
          }

          & + .benefit-item-list {
            .benefit-item__inner {
              @include max() {
                @include size(sp,w,576);
                @include margin(sp,0,0,0,54);
              }
            }
          }
        }
      }
    }

    .benefit-item-list {
      @include min() {
        @include margin(pc,0,0,87,0);
      }
      & + .benefit-item {
        @include min() {
          @include size(pc,w,444);
          margin: auto;
        }
      }
    }
  }

  .benefit-item {
    &__title {
      @include min() {
        @include margin(pc,0,0,22,0);
        @include size(pc,fs,22);
        letter-spacing: 0.066em;
      }
      @include max() {
        @include margin(sp,0,0,10,0);
        @include size(sp,fs,30);
        letter-spacing: 0.23em;
      }
      &.f-futura {
        @include min() {
          @include size(pc,fs,24);
          letter-spacing: 0.245em;
        }
        @include max() {
          @include size(sp,fs,34);
          letter-spacing: 0.22em;
        }
      }
      .f-futura {
        letter-spacing: 0.245em;
        @include min() {
          @include size(pc,fs,24);
        }
        @include max() {
          @include size(sp,fs,32);
        }
      }
    }
    &__text {
      font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
      text-align: justify;
      line-height: 2.2;
      letter-spacing: 0.1em;
      @include min() {
        @include margin(pc,0,0,43,0);
        @include size(pc,fs,14);
      }
      @include max() {
        @include margin(sp,0,0,43,0);
        @include size(sp,fs,24);
        line-height: 2;
      }
      p {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
      }
    }
    &__img {
      position: relative;
      @include min() {
        @include size(pc,w,329);
      }
      @include max() {
        @include size(sp,w,329);
      }
      &::before {
        content: "";
        display: block;
        @include min() {
          @include padding(pc,256,0,0,0);
        }
        @include max() {
          @include padding(sp,256,0,0,0);
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }
  .benefit-item-list {
    @include min() {
      display: flex;
      justify-content: center;
    }
    .benefit-item {
      @include min() {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include size(pc,w,329);
        &:not(:last-child) {
          @include margin(pc,0,69,0,0);
        }
      }
    }
  }
}
</style>
