<template>
  <div class="page page-entry">
    <HeaderMenu></HeaderMenu>
    <div class="page-entry__sec-01 page-entry-main js-link-show">
      <div class="main-block f-futura main-visual-block" id="mainVisual">
        <div class="main-block-title">
          <h1 class="main-block-title__main f-futura--m"><span>ENTRY</span></h1>
        </div>
      </div>
      <div class="entry-conductor">
        <div class="entry-conductor__text">エントリーはマイナビにて受け付けています。<br class="dn-sp">セミナー・説明会情報、詳しい募集要件などはマイナビにて、ご確認ください。</div>
        <a href="" class="entry-conductor__bt" target="_blank" onclick="ga('send', 'event', 'link', 'click', '');"></a>
      </div>
      <stickyLinkBt
        v-bind:isShown="showSectionIndex >= -1 && showSectionIndex != 0"
        v-bind:isHidden="showSectionIndex === 0 || showSectionIndex >= 1"
        type="first"
      />
    </div>
    <div class="page-entry__sec-02">
      <stickyLinkBt
        to=""
        v-bind:isShown="showSectionIndex === 0"
        v-bind:isHidden="showSectionIndex === 2"
        type="entry-page"
      />
      <div class="entry-rows js-link-show">
        <div class="entry-row">
          <div class="entry-block">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">説明会日程</div>
              <div class="entry-item__text">説明会は随時開催していますので、マイナビページをご覧ください！</div>
            </div>
          </div>
          <div class="entry-block"></div>
        </div>
        <div class="entry-row">
          <div class="entry-block">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">募集職種</div>
              <div class="entry-item__text">■ ブランド販売職<br>■ エキスパート販売職</div>
            </div>
          </div>
          <div class="entry-block">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">仕事内容</div>
              <div class="entry-item__text">■ ブランド販売職<br>募集エリア内の自社店舗で勤務する職種です。特定のブランド・地域において、高度な接客技術、顧客満足度が高い接客技術を有することができます。<br><br>■ エキスパート販売職<br>募集エリア内の自社店舗はもちろん、他アパレル企業、色々な分野での販売のお仕事ができる（派遣）勤務する職種です。将来のマネージャー候補として、広い視野を持つために他企業の経験を通じて、高度な専門知識・スキルを有することができます。</div>
            </div>
          </div>
        </div>
        <div class="entry-row">
          <div class="entry-block">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">選考フロー</div>
              <div class="entry-item__text">1.  マイナビよりエントリー<br>▼<br>2.  会社説明会<br>▼<br><p class="entry-dot-border">3.  エントリーシート / 応募書類提出</p><br>【エントリーシート提出先】<br>〒107-0061 東京都港区北青山1-2-3 青山ビル6F<br>株式会社 エス・グルーヴ<br>経営管理部 採用課 新卒採用担当 宛て<br>▼<br>4.  書類選考<br>▼<br>5.  筆記試験・一次選考～二次選考<br>▼<br>6.  最終面接<br>▼<br>7.  内定</div>
            </div>
          </div>
          <div class="entry-block">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">内定までの所要日数</div>
              <div class="entry-item__text">1カ月 ～ 1カ月半</div>
            </div>
            <div class="entry-item">
              <div class="entry-item__title f-midashi">選考方法</div>
              <div class="entry-item__text">書類選考、筆記試験、グループワーク、面接</div>
            </div>
            <div class="entry-item">
              <div class="entry-item__title f-midashi">提出書類</div>
              <div class="entry-item__text">【面接時】<p class="entry-dot-border">エントリーシート</p><br>【内定後】<br>履歴書、成績証明書、卒業見込証明書、健康診断書</div>
            </div>
          </div>
        </div>
        <div class="entry-row">
          <div class="entry-block entry-block--long">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">採用時の基本給</div>
              <p class="entry-item__subtitle entry-dot-border">ブランド販売職 / エキスパート販売職</p>
              <div class="entry-item__inner">
                <div class="entry-item__text"><br>【大卒】<br>北海道エリア 195,500円<br>東北エリア 193,500円<br>関東エリア 206,500円<br>中京エリア 200,500円<br>関西エリア 203,500円<br>中国エリア 193,500円<br>九州エリア 195,500円（福岡市・北九州市・下関市）<br>九州エリア 190,500円（その他）<br><br><p class="entry-dot-border">※別途、固定残業手当16,500円/12時間相当分が含まれます。</p><br>【専門・短大卒】<br>北海道エリア 184,500円<br>東北エリア 182,500円<br>関東エリア 195,500円<br>中京エリア 189,500円<br>関西エリア 192,500円<br>中国エリア 182,500円<br>九州エリア 184,500円（福岡市・北九州市・下関市）<br>九州エリア 179,500円（その他）<br><br><p class="entry-dot-border dn-pc">※別途、固定残業手当15,500円/12時間相当分が含まれます。</p><p class="dn-sp">※別途、固定残業手当15,500円/12時間相当分が含まれます。</p><br class="dn-sp"></div>
                <div class="entry-item__text"><br class="dn-sp">【高校卒】<br>高卒選考は「2019年9月」からとなります。<br>詳細は各校就職担当、もしくはハローワークにお問い合わせください。<br><br>北海道エリア 176,000円<br>東北エリア 174,000円<br>関東エリア 187,000円<br>中京エリア 181,000円<br>関西エリア 184,000円<br>中国エリア 174,000円<br>九州エリア 176,000円（福岡市・北九州市・下関市）<br>九州エリア 171,000円（その他）<br><br>※別途、固定残業手当15,000円/12時間相当分が含まれます。<br><br></div>
              </div>
              <p class="entry-item__caption">※2018年4月実績<br>※固定残業時間を超えた場合は、別途支給致します。</p>
            </div>
          </div>
        </div>
        <div class="entry-row">
          <div class="entry-block">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">諸手当</div>
              <div class="entry-item__text">通勤手当、時間外見合手当、残業手当、社販補助手当 他</div>
            </div>
          </div>
          <div class="entry-block">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">昇給・賞与</div>
              <div class="entry-item__text">昇給：年1回（4月）<br>賞与：年2回（6月、12月）</div>
            </div>
          </div>
        </div>
        <div class="entry-row">
          <div class="entry-block">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">休日・休暇</div>
              <div class="entry-item__text">月8回～9回の休日（年間休日113日）<br>※具体的運用は店舗ごとに設定<br>夏季及び冬季、有給、時間単位有給、慶弔、特別休暇 他</div>
            </div>
          </div>
          <div class="entry-block">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">待遇・福利厚生・社内制度</div>
              <div class="entry-item__text">社会保険完備（雇用・健康・厚生・労災・財形）<br>産休・育休制度、育児・介護短時間勤務制度<br>自己啓発支援制度<br>メンター制度<br>キャリアコンサルティング制度<br>社員割引販売<br>全国宿泊施設・飲食施設割引制度<br>フィットネス・エステ等の割引制度<br>共済会 など</div>
              <router-link to="/benefit" class="entry-link-bt"><span>社内制度・福利厚生</span></router-link>
            </div>
          </div>
        </div>
        <div class="entry-row">
          <div class="entry-block">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">勤務地</div>
              <div class="entry-item__text">関東・関西・名古屋・福岡・その他エリア</div>
            </div>
          </div>
          <div class="entry-block">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">勤務時間</div>
              <div class="entry-item__text">1カ月単位の変形労働時間によるシフト制<br>（担当店舗により異なる）</div>
            </div>
          </div>
        </div>
        <div class="entry-row">
          <div class="entry-block">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">研修制度</div>
              <div class="entry-item__text">新入社員研修<br>フォローアップ（半年後）研修<br>ブラッシュアップ（1年後）研修<br>セールスプロデュース研修<br>店長研修<br>ロールプレインコンテスト<br>各種セミナー など</div>
              <router-link to="/benefit" class="entry-link-bt"><span>社内制度・福利厚生</span></router-link>
            </div>
          </div>
          <div class="entry-block">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">問い合わせ先</div>
              <div class="entry-item__text">〒107-0061<br>東京都港区北青山1-2-3 青山ビル 6F<br>株式会社エス・グルーヴ 経営管理部 採用課 新卒採用担当<br><a href="" class="entry-item-contact-link">03-6634-7551</a>（平日9：30～18：30）<br><a href="" class="entry-item-contact-link">saiyo_ng@s-groove.co.jp</a></div>
            </div>
          </div>
        </div>
        <div class="entry-row">
          <div class="entry-block entry-block--long">
            <div class="entry-item">
              <div class="entry-item__title f-midashi">全国拠点情報</div>
              <div class="entry-item__inner">
                <div class="entry-item__text entry-item__text--map">■東京本社<br><p class="entry-dot-border">〒107-0061 東京都港区北青山1-2-3 青山ビル6F<a href="" class="entry-item-contact-link entry-item-contact-link--map" target="_blank">MAP</a></p><br>■北海道エリア事務所<br><p class="entry-dot-border">〒060-0001 北海道札幌市中央区北1条西3-3 札幌MNビル6F<a href="" class="entry-item-contact-link entry-item-contact-link--map" target="_blank">MAP</a></p><br>■東北エリア事務所<br><p class="dn-sp">〒980-0011 宮城県仙台市青葉区上杉1-6-10 仙台北辰ビルディングSEED21<a href="" class="entry-item-contact-link entry-item-contact-link--map" target="_blank">MAP</a></p><p class="entry-dot-border dn-pc">〒980-0011 宮城県仙台市青葉区上杉1-6-10 仙台北辰ビルディングSEED21<a href="" class="entry-item-contact-link entry-item-contact-link--map" target="_blank">MAP</a></p></div>
                <div class="entry-item__text entry-item__text--map">■中京エリア事務所<br><p class="entry-dot-border">〒461-0005 愛知県名古屋市東区東桜1-10-29 パークサイドビル栄2F<a href="" class="entry-item-contact-link entry-item-contact-link--map" target="_blank">MAP</a></p><br>■関西・四国エリア事務所<br><p class="entry-dot-border">〒541-0053 大阪府大阪市中央区本町3-2-9 5F<a href="" class="entry-item-contact-link entry-item-contact-link--map" target="_blank">MAP</a></p><br>■九州・中国エリア事務所<br>〒810-0041 福岡県福岡市中央区大名1-15-33 福岡セントラルビル5F<a href="" class="entry-item-contact-link entry-item-contact-link--map" target="_blank">MAP</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="" onclick="ga('send', 'event', 'link', 'click', '');" target="_blank" class="entry-link-bt f-midashi"><span>エントリーはこちら</span><img src="./../../assets/img/entry/img-logo.png" alt="マイナビ"></a>
    </div>
  </div>
</template>

<script>
import HeaderMenu from './../parts/_headerMenu.vue'
import stickyLinkBt from './../parts/_stickyLinkBt.vue'
import Utils from './../../utils/Utils.js'

export default {
  components: {
    HeaderMenu,
    stickyLinkBt
  },
  data() {
    return {
      currentSection: null,
      passedSectionIndex: null,
      activeSectionIndex: null,
      showSectionIndex: null,
      waypointsInstances: []
    }
  },
  mounted() {
    const utils = new Utils()
    utils.loadImage()
    this.waypoints()
  },
  beforeDestroy: function () {
    this.waypointsInstances.forEach(instance => {
      instance.destroy()
    })
  },
  methods: {
    waypoints() {
      const elems = this.$el.getElementsByClassName('js-link-target')
      const showElems = this.$el.getElementsByClassName('js-link-show')
      const nodes = Array.prototype.slice.call(elems, 0)
      const nodes02 = Array.prototype.slice.call(showElems, 0)
      const me = this

      nodes.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.activeSectionIndex = idx
              } else {
                me.activeSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = window.innerWidth > 768 ? (64 / 864 * window.innerHeight) : (40 / 667 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )

        // すぎさったsectionの管理
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.passedSectionIndex = idx
              } else {
                me.passedSectionIndex = idx - 1
              }
            },
            offset: function() {
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = -_linkTargetElementHeight / 2
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })

      nodes02.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.showSectionIndex = idx
              } else {
                me.showSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = (64 / 864 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })
    }
  }
}
</script>

<style lang="scss">
@import './../../assets/style/_mixin.scss';

.page-entry {
  color: #2b10bf;
  .page-entry-main {
    position: relative;
    background-color: #eee8da;
    @include min() {
      @include padding(pc,160,486,160,485);
    }
    @include max() {
      @include padding(sp,256,141,76,141);
    }
    .main-block {
      width: 100%;
      background-color: #fce2e9;
      @include min() {
        @include size(pc,h,576);
        background-image: url(./../../assets/img/entry/img-entry-main.jpg);
      }
      @include max() {
        @include size(sp,h,576);
        background-image: url(./../../assets/img/entry/sp/img-entry-main.jpg);
      }

      &::before, &::after {
        background-color: #fce2e9;
      }
    }
    .main-block-title {
      @include max() {
        @include margin(sp,0,0,0,0);
      }
    }
    .main-block-title__main {
      position: relative;
      @include min() {
        @include size(pc,t,-29);
        @include size(pc,l,-35);
        letter-spacing: 0.521em;
        text-align: center;
        white-space: nowrap;
      }
      @include max() {
        @include size(sp,t,-58);
        @include size(sp,l,-42);
        margin-right: -1.18em;
        letter-spacing: 0.521em;
        span {
          text-align: right;
        }
      }
    }

    .sticky-link-bt {
      @include max() {
        display: none;
      }
    }
  }

  .entry-conductor {
    display: flex;
    align-items: center;
    @include min() {
      position: absolute;
      @include size(pc,b,31);
      @include size(pc,r,157);
    }
    @include max() {
      @include margin(sp,0,-141,0,0);
    }
    &__text {
      text-align: justify;
      @include min() {
        @include size(pc,w,340);
        @include margin(pc,16,28,0,0);
        @include size(pc,fs,14);
        line-height: 2.17;
        letter-spacing: 0.1em;
      }
      @include max() {
        @include size(sp,w,472);
        @include margin(sp,20,22,0,0);
        @include size(sp,fs,24);
        line-height: 2;
        letter-spacing: 0.07em;
      }
    }
    &__bt {
      position: relative;
      background-color: #fff;
      background-image: url("./../../assets/img/entry/img-logo.png");
      transition: opacity 0.3s ease;
      @include min() {
        @include size(pc,w,128);
        @include size(pc,h,128);
        background-size: (58 / 1440 * 100vw) auto;
        background-position: center calc(50% - (7 / 1440 * 100vw));
      }
      @include max() {
        position: fixed;
        right: 0;
        bottom: 40px;
        @include size(sp,w,115);
        @include size(sp,h,160);
        @include margin(sp,14,0,0,0);
        background-size: (64 / 750 * 100vw) auto;
        background-position: center calc(50% - (13 / 750 * 100vw));
        z-index: 100;
      }
      &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        color: #2b10bf;
      }
      &::before {
        border-bottom: 2px solid currentColor;
        border-right: 2px solid transparent;
        @include min() {
          @include size(pc,l,27);
          @include size(pc,b,20);
          @include size(pc,w,72);
          @include size(pc,h,2);
        }
        @include max() {
          @include size(sp,l,26);
          @include size(sp,b,30);
          @include size(sp,w,72);
          @include size(sp,h,2);
        }
      }
      &::after {
        border-bottom: 2px solid transparent;
        border-right: 2px solid currentColor;
        transform: rotateZ(-45deg);
        @include min() {
          @include size(pc,r,33);
          @include size(pc,b,17);
          @include size(pc,w,2);
          @include size(pc,h,17);
        }
        @include max() {
          @include size(sp,r,20);
          @include size(sp,b,28);
          @include size(sp,w,2);
          @include size(sp,h,17);
        }
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }

  .page-entry__sec-02 {
    background-color: #f0f0f0;
    @include min() {
      @include padding(pc,0,270,270,270);
    }
    @include max() {
      @include padding(sp,96,100,170,100);
    }
    .sticky-link-bt {
      @include max() {
        display: none;
      }
      &::before {
        height: 0;
      }
      &.is-shown {
        .sticky-link-bt__look {
          background-image: url("./../../assets/img/entry/img-logo.png");
          @include min() {
            background-size: (43 / 1440 * 100vw) auto;
            background-position: calc(50% - (2 / 1440 * 100vw)) calc(50% - (14 / 1440 * 100vw));
          }
          &::before {
            @include size(pc,w, 74);
            transition: width 0.15s ease 0.17s;
            @include max {
              @include size(sp,w, 80);
            }
          }
          &::after {
            opacity: 1;
            transition: opacity 0.1s ease 0.32s;
          }
        }
        & > a {
          pointer-events: auto;
          .sticky-link-bt__look {
            opacity: 1;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            transition: clip-path 0.4s ease,-webkit-clip-path 0.4s ease, opacity 0.1s ease;
          }
        }
      }
    }
  }

  .entry-rows {
    position: relative;
    @include min() {
      @include margin(pc,-244,0,187,0);
    }
    @include max() {
      @include margin(sp,0,0,80,0);
    }
  }

  .entry-row {
    @include min() {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @include margin(pc,0,0,114,0);
      &:first-child {
        @include margin(pc,0,0,181,0);
      }
    }
  }

  .entry-block {
    @include min() {
      @include size(pc,w,387);
    }
    @include max() {
      @include margin(sp,0,0,112,0);
    }
    &--long {
      width: 100%;
    }
  }

  .entry-item {
    &__title {
      border-bottom: 4px solid currentColor;
      letter-spacing: 0.24em;
      line-height: 1;
      @include min() {
        @include margin(pc,0,0,58,0);
        @include padding(pc,0,0,27,0);
        @include size(pc,fs,22);
      }
      @include max() {
        @include margin(sp,0,0,50,0);
        @include padding(sp,0,0,30,0);
        @include size(sp,fs,30);
        border-width: 2px;
      }
    }
    &__subtitle {
      letter-spacing: 0.24em;
      line-height: 1;
      @include min() {
        @include size(pc,fs,14);
      }
      @include max() {
        @include size(sp,fs,24);
      }
    }
    &__text {
      text-align: justify;
      letter-spacing: 0.08em;
      @include min() {
        @include size(pc,fs,14);
        line-height: 2.17;
      }
      @include max() {
        @include size(sp,fs,24);
        line-height: 2;
      }

      &--map {
        text-align: left;
      }

      & + .entry-link-bt {
        @include min() {
          @include margin(pc,25,0,0,0);
        }
      }

      & > .entry-link-bt {
        @include min() {
          @include margin(pc,162,0,0,0);
        }
      }
    }

    & + .entry-item {
      @include min() {
        @include margin(pc,116,0,0,0);
      }
      @include max() {
        @include margin(sp,112,0,0,0);
      }
    }
  }

  .entry-item__inner {
    @include min() {
      display: flex;
      justify-content: space-between;
      & > div {
        @include size(pc,w,387);
      }
    }
    @include max() {
      & > div {
        &:not(:last-child) {
          margin-bottom: 2em;
        }
      }
    }
  }

  .entry-link-bt {
    display: inline-block;
    position: relative;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid transparent;
    letter-spacing: 0.1em;
    line-height: 1;
    @include min() {
      @include size(pc,fs,14);
      @include padding(pc,0,27,8,0);
      text-align: center;
    }
    @include max() {
      @include size(sp,w,278);
      @include size(sp,fs,24);
      @include margin(sp,48,0,0,0);
      @include padding(sp,0,0,18,0);
    }
    &.f-midashi {
      position: relative;
      @include min() {
        display: block;
        @include size(pc,w,446);
        margin: auto;
        @include padding(pc,0,95,27,0);
        @include size(pc,fs,22);
        letter-spacing: 0.25em;
      }
      @include max() {
        display: none;
        width: 100%;
        margin: auto;
        @include padding(sp,0,95,27,0);
        @include size(sp,fs,30);
        letter-spacing: 0.25em;
      }
    }
    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
    }
    &::before {
      @include size(pc,r,2);
      @include size(pc,b,-9);
      @include size(pc,w,16);
      @include size(pc,h,16);
      border-right: 2px solid currentColor;
      border-bottom: 2px solid transparent;
      transform: rotateZ(-45deg);
      transition: border 0.2s ease;
      @include max() {
        @include size(sp,r,2);
        @include size(sp,b,-10);
        @include size(sp,w,16);
        @include size(sp,h,16);
      }
    }
    &::after {
      right: 0;
      left: 0;
      bottom: -2px;
      height: 2px;
      border-right: 2px solid transparent;
      border-bottom: 2px solid currentColor;
      transition: border 0.2s ease;
      @include max() {
        display: none;
      }
    }
    span {
      margin-right: -0.32em;
    }

    img {
      @include min() {
        display: block;
        position: absolute;
        @include size(pc,t,-12);
        @include size(pc,r,58);
        @include size(pc,w,43);
      }
      @include max() {
        display: block;
        position: absolute;
        @include size(sp,t,-32);
        @include size(sp,r,70);
        @include size(sp,w,80);
      }
    }
    &:hover {
      @include min() {
        &::before {
          border-width: 4px;
        }
        &::after {
          border-width: 4px;
        }
      }
    }
  }

  .entry-item__caption {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.1em;
    @include min() {
      @include size(pc,fs,14);
      line-height: 2.17;
    }
    @include max() {
      @include size(sp,fs,24);
      line-height: 2;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      @include size(pc,t,-15);
      display: block;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, currentColor, currentColor 4px, transparent 4px, transparent 2px);
      background-size: 6px 1px;
      background-position: top;
      background-repeat: repeat-x;
      @include max() {
        @include size(sp,t,-26);
      }
    }
  }

  .entry-dot-border {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      @include size(pc,b,-15);
      display: block;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, currentColor, currentColor 4px, transparent 4px, transparent 2px);
      background-size: 6px 1px;
      background-position: bottom;
      background-repeat: repeat-x;
      @include max() {
        @include size(sp,b,-26);
      }
    }
  }

  .entry-item-contact-link {
    padding-bottom: 4px;
    border-bottom: 1px solid currentColor;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 0.7;
    }
    &--map {
      @include margin(pc,0,0,0,16);
      @include max() {
        @include margin(sp,0,0,0,24);
      }
    }
  }
}
</style>
