<template>
  <div class="page page-gallery">
    <HeaderMenu></HeaderMenu>
    <div class="page-gallery__sec-01 page-gallery-main">
      <div class="main-block f-futura main-visual-block" id="mainVisual">
        <div class="main-block-title">
          <h1 class="main-block-title__main f-futura--m"><span>GALLERY</span></h1>
        </div>
      </div>
      <div class="page-gallery__main__sub">
        <div class="page-gallery__main__sub-title f-futura f-futura--d"><span>DATA&</span><br><span>PHOTO</span></div>
        <div class="page-gallery__main__copy main-block-copy f-midashi">写真とデータで見る <span class="f-futura f-futura--m">S-GROOVE</span></div>
      </div>
      <stickyLinkBt
          v-bind:isShown="showSectionIndex >= -1 && showSectionIndex != 0"
          v-bind:isHidden="showSectionIndex === 0"
          type="first"
        />
    </div>
    <div class="page-gallery__sec-02">
      <div class="page-gallery__block page-gallery__block-01" data-aos="">
        <div class="page-gallery__visual main-block-visual scroll-anime-image"></div>
        <div class="page-gallery__detail">
          <div class="main-block-title f-futura">
            <h2 class="main-block-title__main f-futura--m"><span class="scroll-anime-letter scroll-anime-letter--delay-image-01">OUR</span><span class="scroll-anime-letter scroll-anime-letter--delay-image-02">DATA</span></h2>
          </div>
          <div class="page-gallery__nums f-futura f-futura--m">
            <dl>
              <dt class="f-midashi">従業員数</dt>
              <dd>1653<span class="page-gallery__unit f-midashi">名</span><br><div class="page-gallery__small">男性:<span>81</span>名<br class="dn-pc"> 女性:<span>1572</span>名</div></dd>
            </dl>
            <dl>
              <dt class="f-midashi">男女比</dt>
              <dd>5:95</dd>
            </dl>
            <dl>
              <dt class="f-midashi">平均年齢</dt>
              <dd>32.94<span class="page-gallery__unit f-midashi">歳</span><br><div class="page-gallery__small">男性:<span>34.30</span>歳<br class="dn-pc"> 女性:<span>32.87</span>歳</div></dd>
            </dl>
            <dl>
              <dt><div class="page-gallery__caption f-futura f-futura--b"><span>2018</span>年<span>9</span>月現在</div></dt>
            </dl>
          </div>
        </div>
      </div>
      <div class="page-gallery__block page-gallery__block-02" data-aos="">
        <div class="page-gallery__visual main-block-visual scroll-anime-image"><div class="page-gallery__caption f-futura f-futura--b"><span>2018</span>年<span>9</span>月現在</div></div>
        <div class="page-gallery__detail">
          <div class="page-gallery__nums f-futura f-futura--m">
            <dl>
              <dt class="f-midashi">月間残業時間平均</dt>
              <dd>5.2<span class="page-gallery__unit f-midashi">時間</span></dd>
            </dl>
            <dl>
              <dt class="f-midashi">有給取得平均数</dt>
              <dd>8.2<span class="page-gallery__unit f-midashi">日/年</span></dd>
            </dl>
          </div>
          <div class="page-gallery__copy main-block-copy f-midashi">業界の中でも「働く環境」改善に<br>積極的に取り組んでいます</div>
        </div>
      </div>
      <div class="page-gallery__block page-gallery__block-03" data-aos="">
        <div class="page-gallery__visual main-block-visual scroll-anime-image"><div class="page-gallery__caption f-futura f-futura--b"><span>2018</span>年<span>9</span>月現在</div></div>
        <div class="page-gallery__detail">
          <div class="page-gallery__detail__inner">
            <div class="page-gallery__copy main-block-copy f-midashi">女性管理職比率も高い会社です</div>
            <div class="page-gallery__nums f-futura f-futura--m">
              <dl>
                <dt class="f-midashi">役員</dt>
                <dd>1<span class="page-gallery__unit f-midashi">名/3名中</span></dd>
              </dl>
              <dl>
                <dt class="f-midashi">管理職</dt>
                <dd>13<span class="page-gallery__unit f-midashi">名/19名中</span></dd>
              </dl>
            </div>
          </div>
          <div class="page-gallery__detail__inner">
            <div class="page-gallery__copy main-block-copy f-midashi">産休明けワーキングマザーも<br>多数活躍しています</div>
            <div class="page-gallery__nums f-futura f-futura--m">
              <dl>
                <dt class="f-midashi">産休からの復職率</dt>
                <dd>98<span class="page-gallery__unit f-midashi">%</span></dd>
              </dl>
              <dl>
                <dt class="f-midashi">育児休業取得率</dt>
                <dd>100<span class="page-gallery__unit f-midashi">%（82名）</span></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="page-gallery__block page-gallery__block-04" data-aos="">
        <div class="page-gallery__visual main-block-visual scroll-anime-image"></div>
        <div class="page-gallery__detail">
          <div class="main-block-title f-futura">
            <h2 class="main-block-title__main f-futura--m"><span class="scroll-anime-letter scroll-anime-letter--delay-image-01">STORE</span></h2>
          </div>
          <div class="page-gallery__nums f-futura f-futura--m">
            <dl>
              <dt class="f-midashi">店舗数</dt>
              <dd>277<span class="page-gallery__unit f-midashi">店舗</span></dd>
            </dl>
            <dl>
              <dd><span class="page-gallery__unit f-midashi">北海道</span><span class="f-futura f-futura--m">11</span></dd>
            </dl>
            <dl>
              <dd><span class="page-gallery__unit f-midashi">東北</span><span class="f-futura f-futura--m">9</span></dd>
            </dl>
            <dl>
              <dd><span class="page-gallery__unit f-midashi">関東</span><span class="f-futura f-futura--m">124</span></dd>
            </dl>
            <dl>
              <dd><span class="page-gallery__unit f-midashi">中京</span><span class="f-futura f-futura--m">29</span></dd>
            </dl>
            <dl>
              <dd><span class="page-gallery__unit f-midashi">関西</span><span class="f-futura f-futura--m">55</span></dd>
            </dl>
            <dl>
              <dd><span class="page-gallery__unit f-midashi">中国</span><span class="f-futura f-futura--m">11</span></dd>
            </dl>
            <dl>
              <dd><span class="page-gallery__unit f-midashi">九州</span><span class="f-futura f-futura--m">38</span></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="page-gallery__sec-03 js-link-show">
      <div class="main-block-title f-futura" data-aos="">
        <h2 class="main-block-title__main f-futura--m"><span class="scroll-anime-letter scroll-anime-letter--delay-image-01">PHOTO</span></h2>
      </div>
      <ul class="page-gallery__photos">
        <li v-on:click="show = true,activeSlide = 0,updateSlide()"><img src="./../../assets/img/gallery/img-photo-01.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 1,updateSlide()"><img src="./../../assets/img/gallery/img-photo-02.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 2,updateSlide()"><img src="./../../assets/img/gallery/img-photo-03.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 3,updateSlide()"><img src="./../../assets/img/gallery/img-photo-04.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 4,updateSlide()"><img src="./../../assets/img/gallery/img-photo-05.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 5,updateSlide()"><img src="./../../assets/img/gallery/img-photo-06.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 6,updateSlide()"><img src="./../../assets/img/gallery/img-photo-07.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 7,updateSlide()"><img src="./../../assets/img/gallery/img-photo-08.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 8,updateSlide()"><img src="./../../assets/img/gallery/img-photo-09.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 9,updateSlide()"><img src="./../../assets/img/gallery/img-photo-10.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 10,updateSlide()"><img src="./../../assets/img/gallery/img-photo-11.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 11,updateSlide()"><img src="./../../assets/img/gallery/img-photo-12.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 12,updateSlide()"><img src="./../../assets/img/gallery/img-photo-13.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 13,updateSlide()"><img src="./../../assets/img/gallery/img-photo-14.jpg" alt=""></li>
        <li v-on:click="show = true,activeSlide = 14,updateSlide()"><img src="./../../assets/img/gallery/img-photo-15.jpg" alt=""></li>
      </ul>
    </div>
    <vk-modal :show.sync="show" class="page-gallery__modal">
      <div class="page-gallery__modal-close f-futura f-futura--b text-hover" @click.prevent="show = false">
        <div class="page-gallery__modal-close__letters page-gallery__modal-close__letters--01 ">
          <div class="target target--01"><span>C</span><span>C</span></div>
          <div class="target target--02"><span>L</span><span>L</span></div>
        </div>
        <div class="page-gallery__modal-close__letters page-gallery__modal-close__letters--02">
          <div class="target target--03"><span>S</span><span>S</span></div>
          <div class="target target--04"><span>E</span><span>E</span></div>
        </div>
      </div>
      <swiper :options="swiperOption" ref="gallery" :class="slideClass">
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-01.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-02.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-03.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-04.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-05.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-06.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-07.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-08.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-09.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-10.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-11.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-12.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-13.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-14.jpg" alt=""></div></swiper-slide>
        <swiper-slide><div class="slide-inner"><img src="./../../assets/img/gallery/img-modal-photo-15.jpg" alt=""></div></swiper-slide>
        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </swiper>
    </vk-modal>
    <entrySec>
      <stickyLinkBt
        to="/entry"
        v-bind:isShown="showSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 0"
        v-bind:isHidden="passedSectionIndex === 0"
        type="entry"
      />
    </entrySec>
  </div>
</template>

<script>
import AOS from 'aos'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import HeaderMenu from './../parts/_headerMenu.vue'
import InterviewBlock from './../parts/_interviewBlock.vue'
import entrySec from './../parts/_entrySec.vue'
import stickyLinkBt from './../parts/_stickyLinkBt.vue'
import Utils from './../../utils/Utils.js'

export default {
  components: {
    HeaderMenu,
    InterviewBlock,
    entrySec,
    swiper,
    swiperSlide,
    stickyLinkBt
  },
  data() {
    return {
      show: false,
      swiperOption: {
        speed: 500,
        slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: window.innerWidth > 768 ? 240 / 1440 * window.innerWidth : 240 / 1440 * window.innerWidth,
        loop: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        on: {
          slideNextTransitionStart: () => {
            this.slideClass = 'is-next'
          },
          slideNextTransitionEnd: () => {
            this.slideClass = ''
          },
          slidePrevTransitionStart: () => {
            this.slideClass = 'is-prev'
          },
          slidePrevTransitionEnd: () => {
            this.slideClass = ''
          }
        }
      },
      slideClass: '',
      activeSlide: '',
      passedSectionIndex: null,
      activeSectionIndex: null,
      showSectionIndex: null,
      waypointsInstances: []
    }
  },
  computed: {
    swiper() {
      return this.$refs.gallery.swiper
    }
  },
  beforeDestroy: function () {
    this.waypointsInstances.forEach(instance => {
      instance.destroy()
    })
    this.swiper.destroy()
  },
  mounted() {
    AOS.init({
      offset: window.innerWidth > 768 ? 200 : 100,
      once: true
    })

    const utils = new Utils()
    utils.loadImage()

    this.waypoints()
  },
  methods: {
    updateSlide() {
      this.swiper.slideTo(this.activeSlide, 0, false)
    },
    waypoints() {
      const elems = this.$el.getElementsByClassName('js-link-target')
      const showElems = this.$el.getElementsByClassName('js-link-show')
      const nodes = Array.prototype.slice.call(elems, 0)
      const nodes02 = Array.prototype.slice.call(showElems, 0)
      const me = this

      nodes.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.activeSectionIndex = idx
              } else {
                me.activeSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = window.innerWidth > 768 ? (64 / 864 * window.innerHeight) : (40 / 667 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )

        // すぎさったsectionの管理
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.passedSectionIndex = idx
              } else {
                me.passedSectionIndex = idx - 1
              }
            },
            offset: function() {
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = -_linkTargetElementHeight / 2
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })

      nodes02.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.showSectionIndex = idx
              } else {
                me.showSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = (64 / 864 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })
    }
  }
}
</script>

<style lang="scss">
@import './../../assets/style/_mixin.scss';

.page-gallery {
  .page-gallery-main {
    position: relative;
    background-color: #ccccca;
    color: #ffffff;
    @include min() {
      @include padding(pc,160,157,128,157);
    }
    @include max() {
      @include padding(sp,224,0,128,115);
    }
    .main-block {
      width: 100%;
      background-color: #f6b658;
      @include min() {
        @include size(pc,h,608);
        background-image: url(./../../assets/img/gallery/img-gallery-main.jpg);
      }
      @include max() {
        @include size(sp,h,768);
        background-image: url(./../../assets/img/gallery/sp/img-gallery-main.jpg);
      }

      &::before, &::before {
        background-color: #f6b658;
      }
    }
    .main-block-title {
      @include max() {
        @include margin(sp,0,0,0,0);
      }
    }
    .main-block-title__main {
      position: relative;
      @include min() {
        @include size(pc,t,-59);
        left: 0.4em;
        letter-spacing: 0.521em;
        text-align: center;
      }
      @include max() {
        @include size(sp,t,-58);
        @include size(sp,l,-96);
        margin-right: -0.88em;
        letter-spacing: 0.376em;
        span {
          text-align: right;
        }
      }
    }
    .page-gallery__main__sub {
      position: absolute;
      @include min() {
        @include size(pc,w,486);
         @include size(pc,t,413);
         @include size(pc,r,0);
      }
      @include max() {
        @include size(sp,w,530);
         @include size(sp,t,346);
         @include size(sp,l,54);
      }
    }
    .page-gallery__main__sub-title {
      line-height: 1.6;
      @include min() {
        @include margin(pc,0,0,16,0);
        @include size(pc,fs,60);
        span {
          &:first-child {
            letter-spacing: 0.824em;
          }
          &:last-child {
            letter-spacing: 0.79em;
          }
        }
      }
      @include max() {
        @include margin(sp,0,0,330,0);
        @include size(sp,fs,60);
        span {
          &:first-child {
            letter-spacing: 0.824em;
          }
          &:last-child {
            letter-spacing: 0.79em;
          }
        }
      }
    }
    .page-gallery__main__copy {
      letter-spacing: 0.24em;
      @include min() {
        @include padding(pc,0,0,27,4);
        @include size(pc,fs,20);
      }
      @include max() {
        @include padding(sp,0,0,27,4);
        @include size(sp,fs,28);
      }
      .f-futura {
        @include min() {
          letter-spacing: 0.31em;
        }
        @include max() {
          @include margin(sp,0,0,0,-3);
          letter-spacing: 0.23em;
          @include size(sp,fs,30);
        }
      }
    }
  }
  .scroll-anime-image {
    &::before {
      background-color: #eee8da;
    }
  }
}

.page-gallery__sec-02 {
  background-color: #eee8da;
}

.page-gallery__block {
  position: relative;
}

.page-gallery__detail {
  position: absolute;
}

.page-gallery__nums {
  dl {
    text-align: center;
    &:not(:last-child) {
      @include margin(pc,0,0,62,0);
      @include max() {
        @include margin(sp,0,0,44,0);
      }
    }
    dt {
      letter-spacing: 0.28em;
      @include min() {
        @include size(pc,fs,20);
      }
      @include max() {
        @include margin(sp,0,0,10,0);
        margin-left: -0.5em;
        @include size(sp,fs,26);
        letter-spacing: 0.12em;
      }
    }
    dd {
      display: inline-block;
      position: relative;
      letter-spacing: 0.08em;
      line-height: 1;
      white-space: nowrap;
      @include min() {
        @include size(pc,fs,68);
      }
      @include max() {
        @include size(sp,fs,68);
      }
    }
  }
}

.page-gallery__unit {
  @include min() {
    @include size(pc,fs,20);
    letter-spacing: 0.4em;
  }
  @include max() {
    margin-left: 0.2em;
    @include size(sp,fs,24);
    letter-spacing: 0.3em;
  }
}

.page-gallery__copy {
  letter-spacing: 0.24em;
  line-height: 1.7;
  @include min() {
    @include padding(pc,0,0,16,4);
    @include size(pc,fs,20);
  }
}

.page-gallery__caption {
  font-weight: 700;
  @include min() {
    @include size(pc,fs,12);
  }
  @include max() {
    @include size(sp,fs,20);
    transform: scale(0.8);
  }
  & > span {
    @include min() {
      @include size(pc,fs,14);
    }
    @include max() {
      @include size(sp,fs,22);
    }
  }
}

.page-gallery__block-01, .page-gallery__block-02 {
  color: #ee5b62;
}

.page-gallery__block-03, .page-gallery__block-04 {
  color: #2b10bf;
}

.page-gallery__block-01 {
  @include min() {
    @include padding(pc,128,0,128,0);
  }
  @include max() {
    @include padding(sp,160,0,380,0);
  }
  .main-block-visual {
    @include min() {
      @include size(pc,w,1112);
      @include size(pc,h,704);
      background-image: url(./../../assets/img/gallery/img-gallery-01.jpg);
    }
    @include max() {
      @include size(sp,w,523);
      @include size(sp,h,704);
      background-image: url(./../../assets/img/gallery/sp/img-gallery-01.jpg);
    }
  }
  .page-gallery__detail {
    @include min() {
      display: flex;
      @include size(pc,t,365);
      @include size(pc,r,234);
    }
    @include max() {
      @include size(sp,t,84);
      @include size(sp,r,2);
    }
  }
  .page-gallery__nums {
    @include min() {
      position: relative;
      @include size(pc,t,-94);
    }
  }

  .page-gallery__unit {
    @include min() {
      position: absolute;
      @include size(pc,t,38);
      @include size(pc,r,-29);
    }
  }
  .page-gallery__caption {
    @include max() {
      @include margin(sp,0,-14,0,0);
    }
  }
  .page-gallery__small {
    display: block;
    letter-spacing: 0.2em;
    font-weight: 700;
    @include min() {
      @include size(pc,fs,12);
      @include margin(pc,9,0,0,0);
    }
    @include max() {
      @include size(sp,fs,20);
      @include margin(sp,4,0,0,0);
      line-height: 1.4;
      transform: scale(0.8);
    }
    & > span {
      @include min() {
        @include size(pc,fs,14);
      }
      @include max() {
        @include size(sp,fs,22);
      }
    }
  }
  .main-block-title {
    @include min() {
      @include margin(pc,0,110,0,0);
    }
    @include max() {
      overflow: hidden;
    }
  }
  .main-block-title__main {
    line-height: 1.12;
    @include min() {
      @include size(pc,fs,90);
    }
    @include max() {
      @include margin(sp,0,0,68,0);
      @include size(sp,fs,88);
    }
    span {
      &:first-child {
        letter-spacing: 0.647em;
        @include max() {
          letter-spacing: 0.66em;
        }
      }
      &:last-child {
        position: relative;
        left: 0.05em;
        letter-spacing: 0.29em;
        @include max() {
          letter-spacing: 0.31em;
        }
      }
    }
  }
}

.page-gallery__block-02 {
  @include min() {
    @include padding(pc,0,0,128,0);
  }
  @include max() {
    @include padding(sp,0,0,320,0);
  }
  .main-block-visual {
    position: relative;
    @include min() {
      @include size(pc,w,1125);
      @include size(pc,h,704);
      @include margin(pc,0,0,0,158);
      background-image: url(./../../assets/img/gallery/img-gallery-02.jpg);
    }
    @include max() {
      @include size(sp,w,635);
      @include size(sp,h,704);
      margin-left: auto;
      background-image: url(./../../assets/img/gallery/sp/img-gallery-02.jpg);
    }
  }
  .page-gallery__detail {
    display: flex;
    @include min() {
      align-items: flex-start;
      @include size(pc,t,104);
      @include size(pc,r,101);
    }
    @include max() {
      flex-direction: column-reverse;
      @include size(sp,t,-146);
      @include size(sp,r,104);
    }
  }
  .page-gallery__nums {
    display: flex;
    @include min() {
      position: relative;
      @include size(pc,t,0);
      @include margin(pc,0,226,0,0);
    }
    dl {
      &:not(:last-child) {
        @include margin(pc,0,54,0,0);
        @include max() {
          @include margin(sp,0,0,0,84);
        }
      }
      dt {
        text-align: left;
      }
      &:last-child {
        @include max() {
          position: relative;
          @include size(sp,r,-72);
        }
      }
    }
  }
  .page-gallery__unit {
    @include min() {
      @include margin(pc,0,0,0,8);
    }
  }
  .page-gallery__caption {
    position: absolute;
    letter-spacing: 0.28em;
    @include min() {
      @include size(pc,r,8);
      @include size(pc,b,8);
    }
    @include max() {
      @include size(sp,r,0);
      @include size(sp,b,8);
    }
  }
  .main-block-title {
    @include min() {
      @include margin(pc,0,110,0,0);
    }
  }
  .main-block-title__main {
    line-height: 1.12;
    @include min() {
      @include size(pc,fs,90);
      span {
        &:first-child {
          letter-spacing: 0.647em;
        }
        &:last-child {
          position: relative;
          left: 0.05em;
          letter-spacing: 0.29em;
        }
      }
    }
  }
  .page-gallery__copy {
    @include min() {
      @include size(pc,w,386);
    }
    @include max() {
      @include size(sp,w,528);
      @include margin(sp,0,0,152,0);
      @include padding(sp,0,0,18,0);
      letter-spacing: 0.33em;
      white-space: nowrap;
    }
  }
}

.page-gallery__block-03 {
  @include min() {
    @include padding(pc,0,0,192,0);
  }
  @include max() {
    @include padding(sp,0,0,256,0);
  }
  .main-block-visual {
    @include min() {
      @include size(pc,w,885);
      @include size(pc,h,704);
      margin-left: auto;
      background-image: url(./../../assets/img/gallery/img-gallery-03.jpg);
    }
    @include max() {
      @include size(sp,w,635);
      @include size(sp,h,704);
      margin-left: auto;
      background-image: url(./../../assets/img/gallery/sp/img-gallery-03.jpg);
    }
  }
  .page-gallery__detail {
    @include min() {
      @include size(pc,t,132);
      @include size(pc,l,157);
    }
    @include max() {
      @include size(sp,t,-164);
      @include size(sp,l,56);
    }
  }
  .page-gallery__detail__inner {
    &:first-child {
      @include min() {
        @include margin(pc,0,0,120,0);
      }
      @include max() {
        @include margin(sp,0,0,52,0);
      }
      .page-gallery__nums {
        @include max() {
          overflow: hidden;
        }
      }
      dl {
        dd {
          @include max() {
            width: 2em;
            .page-gallery__unit {
              position: absolute;
              @include size(sp,l,306);
              @include size(sp,b,12);
              @include size(sp,w,200);
              text-align: left;
              transform: translate3d(-100%,0,0);
            }
          }
        }
      }
    }
    &:last-child {
      .page-gallery__nums {
        dl {
          dd {
            @include max() {
              width: 3em;
              text-indent: 0.6em;
              white-space: nowrap;
            }
            .page-gallery__unit {
              margin-left: 0.8em;
              @include max() {
                margin-left: 0.1em;
              }
            }
          }
          &:first-child {
            .page-gallery__unit {
              @include max() {
                position: relative;
                right: -0.98em;
              }
            }
          }
          &:last-child {
            dd {
              @include max() {
                @include margin(sp,0,-10,0,0);
              }
            }
          }
        }
      }
    }
  }
  .page-gallery__nums {
    @include min() {
      display: flex;
      position: relative;
      @include size(pc,t,0);
      @include margin(pc,0,226,0,0);
    }
    dl {
      @include min() {
        min-width: (206 / 1440 * 100vw);
        text-align: left;
        &:not(:last-child) {
          @include margin(pc,0,65,0,0);
        }
      }
      @include max() {
        @include margin(sp,0,0,46,-246);
      }
      dt {
        @include min() {
          text-align: left;
        }
        @include max() {
          margin-left: 0.1em;
        }
      }
    }
  }
  .page-gallery__unit {
    @include min() {
      @include margin(pc,0,0,0,8);
    }
  }
  .page-gallery__caption {
    position: absolute;
    letter-spacing: 0.28em;
    @include min() {
      @include size(pc,r,8);
      @include size(pc,b,8);
    }
    @include max() {
      @include size(sp,r,0);
      @include size(sp,b,8);
    }
  }
  .main-block-title {
    @include min() {
      @include margin(pc,0,110,0,0);
    }
  }
  .main-block-title__main {
    line-height: 1.12;
    @include min() {
      @include size(pc,fs,90);
      span {
        &:first-child {
          letter-spacing: 0.647em;
        }
        &:last-child {
          position: relative;
          left: 0.05em;
          letter-spacing: 0.29em;
        }
      }
    }
  }
  .page-gallery__copy {
    @include min() {
      @include size(pc,w,550);
      @include margin(pc,0,0,40,0);
      @include padding(pc,0,0,22,2);
    }
    @include max() {
      @include size(sp,w,528);
      @include margin(sp,0,0,54,0);
      @include padding(sp,0,0,18,0);
      letter-spacing: 0.33em;
      white-space: nowrap;
    }
  }
}

.page-gallery__block-04 {
  z-index: 10;
  @include min() {
    @include margin(pc,0,0,-416,0);
  }
  @include max() {
    @include margin(sp,0,0,-484,0);
  }
  .main-block-visual {
    @include min() {
      @include size(pc,w,1112);
      @include size(pc,h,672);
      background-image: url(./../../assets/img/gallery/img-gallery-04.jpg);
    }
    @include max() {
      @include size(sp,w,584);
      @include size(sp,h,672);
      background-image: url(./../../assets/img/gallery/sp/img-gallery-04.jpg);
    }
  }
  .page-gallery__detail {
    @include min() {
      @include size(pc,t,-47);
      @include size(pc,r,24);
    }
    @include max() {
      @include size(sp,t,-47);
      @include size(sp,r,24);
    }
  }
  .page-gallery__nums {
    @include min() {
      position: relative;
      @include size(pc,w,191);
      @include margin(pc,0,0,0,258);
    }
    @include max() {
      @include size(sp,w,232);
      margin-left: auto;
    }
    dl {
      @include max() {
        text-align: left;
      }
      &:first-child {
        @include max() {
          @include margin(sp,0,0,44,0);
          dt {
            margin-left: 0;
            margin-bottom: 0;
          }
          .page-gallery__unit {
            margin-left: 0.5em;
            letter-spacing: 0.5em;
          }
        }
      }
      &:not(:last-child) {
        @include min() {
          @include margin(pc,0,0,49,0);
        }
      }
      &:not(:first-child) {
        @include min() {
          @include margin(pc,0,0,4,0);
        }
        @include max() {
          @include margin(sp,0,0,4,0);
          @include padding(sp,0,24,0,0);
        }
        dd {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          letter-spacing: 0.2em;
          @include min() {
            @include size(pc,fs,44);
          }
          @include max() {
            @include size(sp,fs,44);
          }
          .page-gallery__unit {
            margin-left: 0;
            text-align-last: justify;
            letter-spacing: 0;
            @include min() {
              @include size(pc,w,64);
            }
            @include max() {
              width: 3.2em;
            }
          }
        }
      }
      dt {
        text-align: left;
      }
    }
  }
  .page-gallery__unit {
    @include min() {
      @include margin(pc,0,0,0,5);
    }
  }
  .main-block-title {
    @include min() {
      @include margin(pc,0,110,81,0);
    }
    @include max() {
      @include margin(sp,0,0,80,0);
    }
  }
  .main-block-title__main {
    line-height: 1.12;
    letter-spacing: 0.55em;
    @include min() {
      @include size(pc,fs,90);
    }
    @include max() {

      @include size(sp,fs,90);
      overflow: hidden;
      span {
        @include margin(sp,0,-36,0,0);
      }
    }
  }
  .page-gallery__copy {
    @include min() {
      @include size(pc,w,500);
      @include margin(pc,0,0,40,0);
      @include padding(pc,0,0,22,2);
    }
  }
}

.page-gallery__sec-03 {
  position: relative;
  background-color: #f0f0f0;
  color: #2b10bf;
  @include min() {
    @include padding(pc,523,0,96,0);
  }
  @include max() {
    @include padding(sp,612,0,96,0);
  }
  .main-block-title__main {
    position: absolute;
    z-index: 10;
    @include min() {
      @include size(pc,t,801);
      @include size(pc,l,130);
      @include size(pc,fs,88);
      letter-spacing: 0.58em;
    }
    @include max() {
      display: none;
    }
  }

  .page-gallery__photos {
    display: flex;
    flex-wrap: wrap;
    @include min() {
      @include padding(pc,0,157,0,157);
    }
    @include max() {
      @include padding(sp,0,0,0,55);
    }
    li {
      position: relative;
      @include size(pc,w,(1126 / 3 - 69 * 2 / 3));
      @include margin(pc,0,0,64,0);
      cursor: pointer;
      .is-firefox.is-windows &, .is-ie &, .is-edge & {
        width: calc(100% / 3 - (75 / 1440 * 100vw) * 2 / 3);
        @include max() {
          width: calc(50% - (42 / 750 * 100vw) / 2);
        }
      }
      .is-chrome.is-windows & {
        width: calc(100% / 3 - (69 / 1440 * 100vw) * 2 / 3);
        @include max() {
          width: calc(50% - (37 / 750 * 100vw) / 2);
        }
      }
      @include min() {
        @include size(pc,h,256);
        &:not(:nth-child(3n)) {
          @include margin(pc,0,69,64,0);
        }
      }
      @include max() {
        @include size(sp,w,(695 / 2 - 37 / 2));
        @include size(sp,h,256);
        @include margin(sp,0,0,64,0);
        &:not(:nth-child(2n)) {
          @include margin(sp,0,37,64,0);
        }
      }
      &::before, &::after {
        html:not(.is-ie):not(.is-edge) & {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: opacity 0.1s ease;
         }
      }
      &::before {
        background-color: #f5c2bf;
        mix-blend-mode: color;
        opacity: 0.7;
        z-index: 5;
      }
      &::after {
        background-color: #2b10bf;
        mix-blend-mode: lighten;
        opacity: 0.75;
        z-index: 10;
      }
      img {
        position: relative;
        width: 100%;
        height: 100%;
        transition: filter 0.1s ease;
        z-index: 0;
        html:not(.is-ie):not(.is-edge) & {
          filter: saturate(0%);
        }
      }
      &:hover {
        @include min() {
          img {
            html:not(.is-ie):not(.is-edge) & {
              filter: saturate(100%);
            }
          }
          &::before, &::after {
            opacity: 0;
          }
        }
      }
    }
  }
}

.page-gallery__modal {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #eee8da;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  &.uk-open {
    opacity: 1;
    z-index: 9999;
    pointer-events: all;
    .swiper-container {
      transition-delay: 0.2s;
      opacity: 1;
    }
    .swiper-slide {
      .slide-inner {
        transition-delay: 0.15s;
        transform: translate3d(0,0,0) skew(0deg);
      }
    }
  }

  .swiper-wrapper{
    @include min() {
      transition-timing-function: cubic-bezier(.67,.24,.38,.8);
    }
  }

  .swiper-container {
    top: 50vh;
    @include size(pc,h,513);
    transform: translate3d(0,-50%,0);
    opacity: 0.3;
    transition: opacity 0.3s ease;
    @include max() {
      @include size(sp,h,513);
    }
    &.is-next ,&.is-prev{
      .slide-inner {
        transition-delay: 0s;
      }
    }
    &.is-next {
      .slide-inner {
        @include min() {
          animation: slideNext 0.5s cubic-bezier(.67,.24,.38,.8);
        }
      }
    }
    &.is-prev {
      .slide-inner {
        @include min() {
          animation: slidePrev 0.5s cubic-bezier(.67,.24,.38,.8);
        }
      }
    }

    @keyframes slideNext {
      0% {
        transform: skew(0deg)
      }
      20% {
        transform: skew(4deg)
      }
      100% {
        transform: skew(0deg)
      }
    }
    @keyframes slidePrev {
      0% {
        transform: skew(0deg)
      }
      20% {
        transform: skew(-4deg)
      }
      100% {
        transform: skew(0deg)
      }
    }
  }

  .swiper-slide {
    @include min() {
      @include size(pc,w,669);
    }
    .slide-inner {
      position: relative;
      transform-origin: bottom center;
      transform: translate3d(30vw,0,0) skew(4deg);
      transition: transform 0.3s cubic-bezier(.67,.24,.38,.8) 0.4s;
      img {
        position: relative;
        display: block;
        width: 100%;
        transition: transform 0.3s ease;
        transform: skew(0deg);
        z-index: 0;
      }
    }
  }

  .swiper-button-prev, .swiper-button-next {
    top: 0;
    margin-top: 0;
    cursor: pointer;
    @include min() {
      @include size(pc,w, 144);
      @include size(pc,h, 513);
      background: none;
    }
    @include max() {
      display: none;
    }
    &:focus {
      outline: 0;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}

.page-gallery__modal-close {
  display: block;
  position: absolute;
  top: 0;
  margin-right: -0.44em;
  border-left: 2px solid #000;
  letter-spacing: 0.37em;
  line-height: 1.49;
  cursor: pointer;
  @include min() {
    right: 0;
    @include size(pc,w, 107);
    @include size(pc,h, 73);
    @include padding(pc,20,0,3,29);
    @include size(pc,fs, 18);
  }
  @include max() {
    @include size(sp,r, 11);
    @include size(sp,w, 97);
    @include size(sp,h, 93);
    @include padding(sp,22,0,15,29);
    @include size(sp,fs, 20);
    letter-spacing: 0.57em;
  }
}

.page-gallery__modal-close__letters {
  display: flex;
  height: 1.4em;
  overflow: hidden;
  .target {
    @include min() {
      width: 1.24em;
    }
    @include max() {
      width: 1.24em;
    }
  }
}
</style>
