<template>
  <div class="page page-interview-detail page-interview-detail--03 js-changeBg" data-color="pink">
    <HeaderMenu></HeaderMenu>
    <div class="page-interview-detail-head page-interview-detail-head--01">
      <div class="page-interview-detail-head__sp-title f-futura f-futura--b dn-pc">INTERVIEW<span class="num">03</span></div>
      <div class="page-interview-detail-head__title f-futura" id="mainVisual">
        <div class="page-interview-detail-head__title__inner is-pos-bottom">
          <h1 class="f-futura--m"><div class='is-shopstaff'><span class='four-letters'>SHOP</span><br><span class='five-letters'>STAFF</span></div></h1>
          <div class="f-futura--b"><span class="dn-sp">I N T E R V I E W&emsp;0 3&emsp;/&emsp;</span>M I K U&emsp;H O R I N O U C H I</div>
        </div>
      </div>
      <div class="page-interview-detail-head__bottom f-midashi">
        <div class="page-interview-detail-head__copy">大事な役割を任せてもらえる喜び</div>
        <div class="page-interview-detail-head__years">14年卒 / 入社4年目</div>
      </div>
      <stickyLinkBt
        v-bind:isShown="showSectionIndex >= -1 && showSectionIndex != 0"
        v-bind:isHidden="showSectionIndex > 0"
      />
    </div>
    <div class="page-interview-detail-body js-link-show js-changeBg" data-color="white">
      <div class="page-interview-detail-sec page-interview-detail-sec--01">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">自分の手で作る<br>ブランドイメージ</div>
            <div class="main-block-text">今いるところは、都内にあるゴルフブランドのフラッグシップショップで、オープニングから携わっています。オープンから1年半、今は販売だけでなく、店舗のインスタグラムの更新を任せてもらっています。色々な人に広く見られるものなので、他のブランドとは違うな、と思ってもらえるように工夫して更新しています。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--02">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">先輩方の応援のおかげで<br>頑張れたロープレコンテスト</div>
            <div class="main-block-text">全国の販売員が集まるロープレコンテストに出場して表現力賞をいただくことができました。自分でも表現の抑揚などを意識して練習していたところだったのでとても嬉しかったです。本社や店舗のスタッフの方などたくさんの方が応援に来てくださいました。優しい先輩方に恵まれたおかげだと思っています。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--03">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual main-block-visual--01"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">憧れの先輩と魅力的な仲間</div>
            <div class="main-block-text">フラッグシップショップのオープニングメンバーに選ばれたこともそうですし、ブランドの発信などの仕事を任されることも増えてとてもやりがいを感じています。他の店舗も経験していますが、なにより、ロールプレイングコンテストで優勝した憧れの先輩やとても個性的で魅力的な仲間たちに囲まれています。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--04">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">期待してもらえることが<br>モチベーションに</div>
            <div class="main-block-text">フラッグシップショップのオープニングメンバーに選ばれたこともそうですし、お店を知ってもらう重要な役割のインスタグラムを任せてもらえたりと、期待してもらえる環境が自信になります。働いてから自分の長所を見つけられることもあると思うので、まずはぜひ挑戦してみてください。</div>
          </div>
        </div>
      </div>
      <router-link to="/interview" class="back-bt f-futura f-futura--b"><span>ALL INTERVIEW</span></router-link>
    </div>
    <InterviewBlock title="NEXT INTERVIEW" id="" addClass="interview-block--type02 interview-block--next interview-block--next-01 js-changeBg" dataColor="pink" job="<div class='is-shopstaff'><span class='four-letters'>SHOP</span><br><span class='five-letters'>STAFF</span></div>" name="RIE OHARA" copy="ショップで出会い<br>憧れた先輩と一緒に" year="17年卒 / 入社2年目" url="04">
      <stickyLinkBt
        to="04"
        v-bind:isShown="showSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 0 && passedSectionIndex != 0"
        v-bind:isHidden="passedSectionIndex === 0"
        type="blue"
      />
    </InterviewBlock>
    <entrySec>
      <stickyLinkBt
        to="/entry"
        v-bind:isShown="showSectionIndex === 1 && passedSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 1"
        v-bind:isHidden="passedSectionIndex === 1"
        type="entry"
      />
    </entrySec>
  </div>
</template>

<script>
import AOS from 'aos'
import HeaderMenu from './../parts/_headerMenu.vue'
import InterviewBlock from './../parts/_interviewBlock.vue'
import entrySec from './../parts/_entrySec.vue'
import stickyLinkBt from './../parts/_stickyLinkBt.vue'
import Utils from './../../utils/Utils.js'

export default {
  components: {
    InterviewBlock,
    entrySec,
    HeaderMenu,
    stickyLinkBt
  },
  data() {
    return {
      fixedBgClass: [],
      currentSection: null,
      passedSectionIndex: null,
      activeSectionIndex: null,
      showSectionIndex: null,
      waypointsInstances: []
    }
  },
  mounted() {
    AOS.init({
      offset: window.innerWidth > 768 ? 200 : 100,
      once: true
    })

    const utils = new Utils()
    utils.loadImage()

    this.waypoints()
  },
  beforeDestroy: function () {
    this.waypointsInstances.forEach(instance => {
      instance.destroy()
    })
  },
  methods: {
    waypoints() {
      const elems = this.$el.getElementsByClassName('js-link-target')
      const showElems = this.$el.getElementsByClassName('js-link-show')
      const nodes = Array.prototype.slice.call(elems, 0)
      const nodes02 = Array.prototype.slice.call(showElems, 0)
      const me = this

      nodes.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.activeSectionIndex = idx
              } else {
                me.activeSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = window.innerWidth > 768 ? (64 / 864 * window.innerHeight) : (40 / 667 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )

        // すぎさったsectionの管理
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.passedSectionIndex = idx
              } else {
                me.passedSectionIndex = idx - 1
              }
            },
            offset: function() {
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = -_linkTargetElementHeight / 2
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })

      nodes02.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.showSectionIndex = idx
              } else {
                me.showSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = (64 / 864 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })
    }
  }
}
</script>

<style lang="scss">
@import './../../assets/style/_mixin.scss';
@import './../../assets/style/interviewDetail.scss';

.page-interview-detail--03 {
  .page-interview-detail-head__title {
    background-color: #bee2f8;
    &::before, &::after {
      background-color: #bee2f8;
    }
    @include min() {
      background-image: url(./../../assets/img/interview-03/img-main.jpg);
    }
    @include max() {
      background-image: url(./../../assets/img/interview-03/sp/img-main.jpg);
    }
  }

  .page-interview-detail-sec--01 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-03/img-visual-01.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-03/sp/img-visual-01.jpg);
      }
    }
  }

  .page-interview-detail-sec--02 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-03/img-visual-02.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-03/sp/img-visual-02.jpg);
      }
    }
}

  .page-interview-detail-sec--03 {
    .main-block-visual--01 {
      @include min() {
        background-image: url(./../../assets/img/interview-03/img-visual-03.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-03/sp/img-visual-03.jpg);
      }
    }
  }

  .page-interview-detail-sec--04 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-03/img-visual-04.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-03/sp/img-visual-04.jpg);
      }
    }
  }

  .interview-block--next {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-04.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-04.jpg);
      }
    }
  }
}

</style>
