<template>
  <div class="page page-interview-detail page-interview-detail--01 js-changeBg" data-color="pink">
    <HeaderMenu></HeaderMenu>
    <div class="page-interview-detail-head page-interview-detail-head--01">
      <div class="page-interview-detail-head__sp-title f-futura f-futura--b dn-pc">INTERVIEW<span class="num">01</span></div>
      <div class="page-interview-detail-head__title f-futura" id="mainVisual">
        <div class="page-interview-detail-head__title__inner">
          <h1 class="f-futura--m"><div class='is-shopstaff'><span class='four-letters'>SHOP</span><br><span class='five-letters'>STAFF</span></div></h1>
          <div class="f-futura--b"><span class="dn-sp">I N T E R V I E W&emsp;0 1&emsp;/&emsp;</span>Z H A O&emsp;Y I N G</div>
        </div>
      </div>
      <div class="page-interview-detail-head__bottom f-midashi">
        <div class="page-interview-detail-head__copy">必ず自分の成長につながる</div>
        <div class="page-interview-detail-head__years">18年卒 / 入社1年目</div>
      </div>
      <stickyLinkBt
        v-bind:isShown="showSectionIndex >= -1 && showSectionIndex != 0"
        v-bind:isHidden="showSectionIndex > 0"
      />
    </div>
    <div class="page-interview-detail-body js-link-show js-changeBg" data-color="white">
      <div class="page-interview-detail-sec page-interview-detail-sec--01">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">コミュニケーションの不安が<br>自分の成長実感へ</div>
            <div class="main-block-text">私は中国出身ということもあり、最初は日本語の敬語や言葉遣いに不安がいっぱいでした。最初の本社の研修で、言葉遣いだけでなく笑顔やお辞儀などの基本的な接客マナーを教わったことで勉強になって、今では好きなブランドの洋服を着て笑顔で店頭に立っています。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--02">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">毎日の仕事が成長につながる</div>
            <div class="main-block-text">半年ぐらいすると、研修で学んだ知識をショップで活かすだけでなく、自分が勧めたコーディネートがお客様に気に入ってもらえたり、自分の着ている服を参考にしてもらえます。たくさんのお客様と接していくことでコミュニケーション力が上がっている実感があり、とても嬉しいです。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--03 page-interview-detail-sec--03--has-morevisual">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual main-block-visual--01"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">身近にいる店長が<br>ロールモデル</div>
            <div class="main-block-text">今のショップにいる店長は、仕事中は集中して業務を行い、休憩中はプライベートの趣味などの話を素敵な笑顔で話してくれます。オンオフの切り替えのうまさと素敵な先輩が身近にいることで、とても頼もしく思っています。</div>
          </div>
          <div class="main-block-visual main-block-visual--02"></div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--04">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">デザイン企画の仕事を<br>やってみたい！</div>
            <div class="main-block-text">販売の現場で経験を積んで、お客さんとじかに接することで、気持ちや考えを汲み取れるようになることを目指しています。今の経験もこれからの経験も時間がたてば必ず自分の成長につながります。そして、もともとパタンナーの勉強をしていたことを活かして、将来、デザイン企画の関連の仕事をやってみたいです。</div>
          </div>
        </div>
      </div>
      <router-link to="/interview" class="back-bt f-futura f-futura--b"><span>ALL INTERVIEW</span></router-link>
    </div>
    <InterviewBlock title="NEXT INTERVIEW" id="" addClass="interview-block--type02 interview-block--next interview-block--next-01 js-link-show js-changeBg" dataColor="pink" job="<div class='is-shopstaff'><span class='four-letters scroll-anime-letter scroll-anime-letter--motion-small'>SHOP</span><span class='five-letters scroll-anime-letter scroll-anime-letter--motion-small scroll-anime-letter--delay-01'>STAFF</span></div>" name="RIO KADONO" copy="研修を受けてから<br>社外のブランドへ" year="18年卒 / 入社1年目" url="02">
      <stickyLinkBt
        to="02"
        v-bind:isShown="showSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 0 && passedSectionIndex != 0"
        v-bind:isHidden="passedSectionIndex === 0"
        type="blue"
      />
    </InterviewBlock>
    <entrySec>
      <stickyLinkBt
        to="/entry"
        v-bind:isShown="showSectionIndex === 1 && passedSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 1"
        v-bind:isHidden="passedSectionIndex === 1"
        type="entry"
      />
    </entrySec>
  </div>
</template>

<script>
import AOS from 'aos'
import HeaderMenu from './../parts/_headerMenu.vue'
import InterviewBlock from './../parts/_interviewBlock.vue'
import entrySec from './../parts/_entrySec.vue'
import stickyLinkBt from './../parts/_stickyLinkBt.vue'
import Utils from './../../utils/Utils.js'

export default {
  components: {
    InterviewBlock,
    entrySec,
    HeaderMenu,
    stickyLinkBt
  },
  data() {
    return {
      fixedBgClass: [],
      currentSection: null,
      passedSectionIndex: null,
      activeSectionIndex: null,
      showSectionIndex: null,
      waypointsInstances: []
    }
  },
  mounted() {
    AOS.init({
      offset: window.innerWidth > 768 ? 200 : 100,
      once: true
    })
    const utils = new Utils()
    utils.loadImage()
    this.waypoints()
  },
  beforeDestroy: function () {
    this.waypointsInstances.forEach(instance => {
      instance.destroy()
    })
  },
  methods: {
    waypoints() {
      const elems = this.$el.getElementsByClassName('js-link-target')
      const showElems = this.$el.getElementsByClassName('js-link-show')
      const nodes = Array.prototype.slice.call(elems, 0)
      const nodes02 = Array.prototype.slice.call(showElems, 0)
      const me = this

      nodes.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.activeSectionIndex = idx
              } else {
                me.activeSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = window.innerWidth > 768 ? (64 / 864 * window.innerHeight) : (40 / 667 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )

        // すぎさったsectionの管理
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.passedSectionIndex = idx
              } else {
                me.passedSectionIndex = idx - 1
              }
            },
            offset: function() {
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = -_linkTargetElementHeight / 2
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })

      nodes02.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.showSectionIndex = idx
              } else {
                me.showSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = (64 / 864 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })
    }
  }
}
</script>

<style lang="scss">
@import './../../assets/style/_mixin.scss';
@import './../../assets/style/interviewDetail.scss';

.page-interview-detail--01 {
  .page-interview-detail-head__title {
    background-color: #fcaec4;
    &::before, &::after {
      background-color: #fcaec4;
    }
    @include min() {
      background-image: url(./../../assets/img/interview-01/img-main.jpg);
    }
    @include max() {
      background-image: url(./../../assets/img/interview-01/sp/img-main.jpg);
    }
  }

  .page-interview-detail-sec--01 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-01/img-visual-01.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-01/sp/img-visual-01.jpg);
      }
    }
  }

  .page-interview-detail-sec--02 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-01/img-visual-02.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-01/sp/img-visual-02.jpg);
      }
    }
}

  .page-interview-detail-sec--03 {
    .main-block-visual--01 {
      @include min() {
        background-image: url(./../../assets/img/interview-01/img-visual-03.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-01/sp/img-visual-03.jpg);
      }
    }
    .main-block-visual--02 {
      @include min() {
        background-image: url(./../../assets/img/interview-01/img-visual-04.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-01/sp/img-visual-04.jpg);
      }
    }
  }

  .page-interview-detail-sec--04 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-01/img-visual-05.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-01/sp/img-visual-05.jpg);
      }
    }
  }

  .interview-block--next {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-02.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-02.jpg);
      }
    }
  }
}

</style>
