<template>
  <div class="page page-interview">
    <HeaderMenu></HeaderMenu>
    <div class="page-interview-sec-01 page-interview-main js-link-show js-changeBg" data-color="white">
      <stickyLinkBt
          v-bind:isShown="showSectionIndex >= -1 && showSectionIndex != 0"
          v-bind:isHidden="showSectionIndex === 0 || showSectionIndex >= 1"
          type="brown"
        />
      <div class="main-block f-futura main-visual-block" id="mainVisual">
        <div class="main-block-title">
          <h2 class="main-block-title__main f-futura--m"><span>INTER<br class="dn-pc"><i class="dn-pc">-</i>VIEW</span></h2>
        </div>
        <div class="main-block-title__sub f-futura--m"><span>SHOP STAFF / STORE MANAGER / MANAGER<br>OFFICE STAFF / CAFE MANAGER / TRAINER</span></div>
        <div class="main-block-copy f-midashi">販売から企画、その先へ</div>
      </div>
    </div>
    <div class="page-interview-sec-02 page-interview-list js-link-show js-changeBg" data-color="pink">
      <div class="page-interview-list__head">
        <h3 class="page-interview-list__title">
          <span class="f-futura f-futura--m">SALES</span>
          <span class="f-midashi">販売職</span>
        </h3>
        <div class="page-interview-list__subtitle f-futura f-futura--b">INTERVIEW</div>
      </div>
      <InterviewBlock title="INTERVIEW<span class='num'>01</span>" id="interview-item-01" addClass="interview-block--type01 interview-block-01" data="blue" job="<div class='is-shopstaff'><span class='four-letters scroll-anime-letter scroll-anime-letter--motion-small'>SHOP</span><span class='five-letters scroll-anime-letter scroll-anime-letter--motion-small scroll-anime-letter--delay-01'>STAFF</span></div>" name="ZHAO YING" copy="必ず自分の成長に<br class='dn-pc'>つながる" year="18年卒 / 入社1年目" url="/interview/01">
        <stickyLinkBt
          to="/interview/01"
          v-bind:isShown="showSectionIndex === 0 && activeSectionIndex <= 0"
          v-bind:isActive="activeSectionIndex === 0 && passedSectionIndex != 0"
          v-bind:isHidden="passedSectionIndex === 0"
          type="blue"
        />
      </InterviewBlock>
      <InterviewBlock title="INTERVIEW<span class='num'>02</span>" id="interview-item-02" addClass="interview-block--type02 interview-block-02" data="blue" job="<div class='is-shopstaff'><span class='four-letters scroll-anime-letter scroll-anime-letter--motion-small'>SHOP</span><span class='five-letters scroll-anime-letter scroll-anime-letter--motion-small scroll-anime-letter--delay-01'>STAFF</span></div>" name="RIO KADONO" copy="研修を受けてから<br>社外のブランドへ" year="18年卒 / 入社1年目" url="/interview/02">
        <stickyLinkBt
          to="/interview/02"
          v-bind:isShown="passedSectionIndex === 0"
          v-bind:isActive="activeSectionIndex === 1 && passedSectionIndex != 1"
          v-bind:isHidden="passedSectionIndex === 1"
          type="blue"
        />
      </InterviewBlock>
      <InterviewBlock title="INTERVIEW<span class='num'>03</span>" id="interview-item-03" addClass="interview-block--type03 interview-block-03" data="blue" job="<div class='is-shopstaff scroll-anime-letter scroll-anime-letter--motion-small'><span class='five-letters'>SHOP</span><br class='dn-pc'><span class='five-letters'>STAFF</span></div>" name="MIKU HORINOUCHI" copy="大事な役割を<br>任せてもらえる喜び" year="14年卒 / 入社4年目" url="/interview/03">
        <stickyLinkBt
          to="/interview/03"
          v-bind:isShown="passedSectionIndex === 1"
          v-bind:isActive="activeSectionIndex === 2 && passedSectionIndex != 2"
          v-bind:isHidden="passedSectionIndex === 2"
          type="blue"
        />
      </InterviewBlock>
      <InterviewBlock title="INTERVIEW<span class='num'>04</span>" id="interview-item-02" addClass="interview-block--type02 interview-block-04" data="blue" job="<div class='is-shopstaff'><span class='four-letters scroll-anime-letter scroll-anime-letter--motion-small'>SHOP</span><span class='five-letters scroll-anime-letter scroll-anime-letter--motion-small scroll-anime-letter--delay-01'>STAFF</span></div>" name="RIE OHARA" copy="ショップで出会い<br>憧れた先輩と一緒に" year="17年卒 / 入社2年目" url="/interview/04">
        <stickyLinkBt
          to="/interview/04"
          v-bind:isShown="passedSectionIndex === 2"
          v-bind:isActive="activeSectionIndex === 3 && passedSectionIndex != 3"
          v-bind:isHidden="passedSectionIndex === 3 && showSectionIndex === 1"
          type="blue"
        />
      </InterviewBlock>
    </div>
    <div class="page-interview-sec-03 page-interview-list js-link-show js-changeBg" data-color="green">
      <div class="page-interview-list__head">
        <h3 class="page-interview-list__title">
          <span class="f-futura f-futura--m">MANAGER</span>
          <span class="f-midashi">店長 / 管理職</span>
        </h3>
        <div class="page-interview-list__subtitle f-futura f-futura--b">INTERVIEW</div>
      </div>
      <InterviewBlock title="INTERVIEW<span class='num'>05</span>" id="interview-item-04" addClass="interview-block--type01 interview-block-05" data="light-yellow" job="<div class='is-blandmanager'><span class='six-letters four-letters scroll-anime-letter scroll-anime-letter--motion-small'>BRAND-</span><span class='six-letters scroll-anime-letter scroll-anime-letter--motion-small scroll-anime-letter--delay-01'>MANAGER</span></div>" name="CHINAMI FUKUURA" copy="頑張ることの<br>楽しさを伝えたい" year="12年卒 / 入社6年目" url="/interview/05">
        <stickyLinkBt
          to="/interview/05"
          v-bind:isShown="showSectionIndex === 1 && passedSectionIndex === 3"
          v-bind:isActive="activeSectionIndex === 4 && passedSectionIndex != 4"
          v-bind:isHidden="passedSectionIndex === 4"
          type="light-yellow"
        />
      </InterviewBlock>
      <InterviewBlock title="INTERVIEW<span class='num'>06</span>" id="interview-item-05" addClass="interview-block--type02 interview-block-06" data="light-yellow" job="<div class='is-shopmanager'><span class='five-letters four-letters scroll-anime-letter scroll-anime-letter--motion-small'>SHOP-</span><span class='six-letters scroll-anime-letter scroll-anime-letter--motion-small scroll-anime-letter--delay-01'>MANAGER</span></div>" name="KAORI YAMADA" copy="自分自身も<br>綺麗になれる仕事" year="13年卒 / 入社5年目" url="/interview/06">
        <stickyLinkBt
          to="/interview/06"
          v-bind:isShown="passedSectionIndex === 4"
          v-bind:isActive="activeSectionIndex === 5 && passedSectionIndex != 5"
          v-bind:isHidden="passedSectionIndex === 5 && showSectionIndex === 2"
          type="light-yellow"
        />
      </InterviewBlock>
    </div>
    <div class="page-interview-sec-04 page-interview-list js-link-show js-changeBg" data-color="light-gray">
      <div class="page-interview-list__head">
        <h3 class="page-interview-list__title">
          <span class="f-futura f-futura--m">VARIOUS</span>
          <span class="f-midashi">カフェ / デスク / 教育職</span>
        </h3>
        <div class="page-interview-list__subtitle f-futura f-futura--b">INTERVIEW</div>
      </div>
      <InterviewBlock title="INTERVIEW<span class='num'>07</span>" id="interview-item-07" addClass="interview-block--type01 interview-block-07" data="orange" job="<div class='is-shopmanager'><span class='five-letters scroll-anime-letter scroll-anime-letter--motion-small'>CAFE-</span><span class='six-letters scroll-anime-letter scroll-anime-letter--motion-small scroll-anime-letter--delay-01'>MANAGER</span></div>" name="TOMOFUMI KUBOTA" copy="ただ売るではなく<br>人と接するということ" year="入社22年目" url="/interview/07">
        <stickyLinkBt
          to="/interview/07"
          v-bind:isShown="showSectionIndex === 2 && passedSectionIndex === 5"
          v-bind:isActive="activeSectionIndex === 6 && passedSectionIndex != 6"
          v-bind:isHidden="passedSectionIndex === 6"
          type="red"
        />
      </InterviewBlock>
      <InterviewBlock title="INTERVIEW<span class='num'>08</span>" id="interview-item-08" addClass="interview-block--type02 interview-block-08" data="orange" job="<span class='six-letters scroll-anime-letter scroll-anime-letter--motion-small'>OFFICE</span>" name="RISA WADA" copy="自分の頑張り次第で<br>チャレンジできる" year="15年卒 / 3年目" url="/interview/08">
        <stickyLinkBt
          to="/interview/08"
          v-bind:isShown="passedSectionIndex === 6"
          v-bind:isActive="activeSectionIndex === 7 && passedSectionIndex != 7"
          v-bind:isHidden="passedSectionIndex === 7"
          type="red"
        />
      </InterviewBlock>
      <InterviewBlock title="INTERVIEW<span class='num'>09</span>" id="interview-item-09" addClass="interview-block--type03 interview-block-09" data="orange" job="<div class='is-stafftrainer'><span class='six-letters scroll-anime-letter scroll-anime-letter--motion-small scroll-anime-letter--delay-01'>STAFF-</span><span class='six-letters scroll-anime-letter scroll-anime-letter--motion-small scroll-anime-letter--delay-01'>TRAINER</span></div>" name="AKIKO IKEDA" copy="柔軟な働き方だから<br>続けられる" year="入社23年目" url="/interview/09">
        <stickyLinkBt
          to="/interview/09"
          v-bind:isShown="passedSectionIndex === 7"
          v-bind:isActive="activeSectionIndex === 8 && passedSectionIndex != 8"
          v-bind:isHidden="passedSectionIndex === 8"
          type="red"
        />
      </InterviewBlock>
    </div>
    <entrySec>
      <stickyLinkBt
        to="/entry"
        v-bind:isShown="showSectionIndex === 3"
        v-bind:isActive="activeSectionIndex === 9"
        v-bind:isHidden="passedSectionIndex === 9"
        type="entry"
      />
    </entrySec>
  </div>
</template>

<script>
import AOS from 'aos'
import HeaderMenu from './../parts/_headerMenu.vue'
import InterviewBlock from './../parts/_interviewBlock.vue'
import entrySec from './../parts/_entrySec.vue'
import stickyLinkBt from './../parts/_stickyLinkBt.vue'
import Utils from './../../utils/Utils.js'

export default {
  components: {
    HeaderMenu,
    InterviewBlock,
    entrySec,
    stickyLinkBt
  },
  data() {
    return {
      currentSection: null,
      passedSectionIndex: null,
      activeSectionIndex: null,
      showSectionIndex: null,
      waypointsInstances: []
    }
  },
  mounted() {
    AOS.init({
      offset: window.innerWidth > 768 ? 200 : 100,
      once: true
    })

    const utils = new Utils()
    utils.loadImage()

    this.waypoints()
  },
  beforeDestroy: function () {
    this.waypointsInstances.forEach(instance => {
      instance.destroy()
    })
  },
  methods: {
    waypoints() {
      const elems = this.$el.getElementsByClassName('js-link-target')
      const showElems = this.$el.getElementsByClassName('js-link-show')
      const nodes = Array.prototype.slice.call(elems, 0)
      const nodes02 = Array.prototype.slice.call(showElems, 0)
      const me = this

      nodes.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.activeSectionIndex = idx
              } else {
                me.activeSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = window.innerWidth > 768 ? (64 / 864 * window.innerHeight) : (40 / 667 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )

        // すぎさったsectionの管理
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.passedSectionIndex = idx
              } else {
                me.passedSectionIndex = idx - 1
              }
            },
            offset: function() {
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = -_linkTargetElementHeight / 2
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })

      nodes02.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.showSectionIndex = idx
              } else {
                me.showSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = (64 / 864 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })
    }
  }
}
</script>

<style lang="scss">
@import './../../assets/style/_mixin.scss';

.page-interview {
  .interview-block-01 {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-01.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-01.jpg);
      }

    }
  }

  .interview-block-02 {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-02.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-02.jpg);
      }
    }
  }

  .interview-block-03 {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-03.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-03.jpg);
      }
    }
    .interview-block__detail-box {
      @include min() {
        @include size(pc,w,842);
        @include size(pc,h,608);
      }
    }
    .interview-block__detail__head {
      @include min() {
        @include padding(pc,169,0,115,51);
      }
    }
    .interview-block__detail__foot {
      @include min() {
        @include margin(pc,0,0,0,507);
      }
    }
    .interview-block__name {
      @include min() {
        @include margin(pc,0,32,0,0);
        text-align: right;
      }
    }
    .is-shopstaff {
      @include max() {
        margin-right: -0.53em;
      }
      .five-letters:first-child {
        @include min() {
          @include margin(pc,0,30,0,0);
          text-align: right;
        }
        @include max() {
          letter-spacing: 0.53em;
        }
      }
    }
  }

  .interview-block-04 {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-04.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-04.jpg);
      }
    }
  }

  .interview-block-05 {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-05.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-05.jpg);
      }
    }
    .is-stafftrainer {
      @include max() {
        span {
          &:first-child {
            letter-spacing: 0.38em;
          }
          &:last-child {
            letter-spacing: 0.12em;
          }
        }
      }
    }
  }

  .interview-block-06 {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-06.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-06.jpg);
      }
    }
  }

  .interview-block-07 {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-07.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-07.jpg);
      }
    }
    .interview-block__name {
      @include min() {
        @include margin(pc,0,-10,0,0);
        text-align: right;
      }
    }
  }

  .interview-block-08 {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-08.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-08.jpg);
      }
    }
  }

  .interview-block-09 {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-09.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-09.jpg);
      }
    }
  }

  .interview-block-05, .interview-block-07 {
    @include max() {
      .interview-block__detail {
        right: 0;
      }
      .interview-block__detail-box {
        @include size(sp,w,583);
        border-right: 0;
      }
      .interview-block__work-year {
        text-align: right;
      }
      .interview-block__detail__foot {
        @include margin(sp,0,0,0,150);
      }
    }
  }
}

.page-interview-main {
  background-color: #f0f0f0;
  color: #2b10bf;
  @include min() {
    @include padding(pc,193,157,128,157);
  }
  @include max() {
    @include padding(sp,224,0,128,115);
  }
  .main-block {
    width: 100%;
    background-color: #e1e4ea;
    @include min() {
      @include size(pc,h,576);
      background-image: url(./../../assets/img/interview/img-interview-main.jpg);
    }
    @include max() {
      @include size(sp,h,768);
      background-image: url(./../../assets/img/interview/sp/img-interview-main.jpg);
    }
    &::before, &::after {
      background-color: #e1e4ea;
    }
  }
  .main-block-title {
    @include max() {
      @include margin(sp,0,0,0,0);
    }
  }
  .main-block-title__main {
    position: relative;
    @include min() {
      @include size(pc,t,-50);
      left: 0.19em;
      letter-spacing: 0.43em;
      text-align: center;
    }
    @include max() {
      @include size(sp,t,-76);
      @include size(sp,l,-34);
      letter-spacing: 0.53em;
      line-height: 1.06;
    }
  }
  .main-block-title__sub {
    position: relative;
    @include min() {
      display: inline-block;
      @include margin(pc,-5,151,0,114);
      @include size(pc,fs,16);
      line-height: 2.1;
      letter-spacing: 0.167em;
    }
    @include max() {
      @include margin(sp,-68,0,102,-34);
      @include size(sp,fs,18);
      line-height: 2;
      letter-spacing: 0.09em;
    }
  }
  .main-block-copy {
    position: relative;
    @include min() {
      display: inline-block;
      @include size(pc,w,330);
      @include margin(pc,-6,0,0,0);
      vertical-align: top;
      text-align: center;
    }
    @include max() {
      display: inline-block;
      @include margin(sp,0,0,0,-34);
    }
  }
  .sticky-link-bt {
    &.is-hidden {
      position: fixed;
    }
  }
}

.page-interview-list {
  @include padding(pc,0,0,150,0);
  .interview-block--type02 {
    .interview-block__detail__foot {
      @include min() {
        @include margin(pc,0,0,0,280);
      }
    }
  }
}

.page-interview-list__head {
  position: relative;
  @include min() {
    @include size(pc,t,-33);
    @include margin(pc,0,0,49,157);
  }
  @include max() {
    @include size(sp,t,-33);
    @include margin(sp,0,0,60,64);
  }
}

.page-interview-list__title {
  & > span {
    &:first-child {
      letter-spacing: 0.37em;
      @include min() {
        @include size(pc,fs,66);
      }
      @include max() {
        @include size(sp,fs,66);
      }
    }
    &:last-child {
      letter-spacing: 0.2em;
      @include min() {
        @include size(pc,fs,18);
      }
      @include max() {
        @include margin(sp,0,0,0,-8);
        @include size(sp,fs,20);
      }
    }
  }
}

.page-interview-list__subtitle {
  letter-spacing: 0.53em;
  @include min() {
    @include margin(pc,-8,0,0,4);
    @include size(pc,fs,20);
  }
  @include max() {
    @include margin(sp,-8,0,0,4);
    @include size(sp,fs,18);
  }
}

.page-interview-sec-02 {
  background-color: #f5c2bf;
  color: #2b10bf;
  .interview-block__visual {
    &::before {
      background-color: #f5c2bf;
    }
  }
}

.page-interview-sec-03 {
  background-color: #8bc4c4;
  color: #fff9a9;
  .interview-block__visual {
    &::before {
      background-color: #8bc4c4;
    }
  }
}

.page-interview-sec-04 {
  background-color: #d3e7e7;
  color: #ee5b62;
  .interview-block__visual {
    &::before {
      background-color: #d3e7e7;
    }
  }
  .page-interview-list__title {
    .f-midashi {
      @include max() {
        display: block;
        @include margin(sp,-8,0,12,0);
      }
    }
  }
}
</style>
