<template>
  <div class="page page-interview-detail page-interview-detail--05 js-changeBg" data-color="green">
    <HeaderMenu></HeaderMenu>
    <div class="page-interview-detail-head page-interview-detail-head--01">
      <div class="page-interview-detail-head__sp-title f-futura f-futura--b dn-pc">INTERVIEW<span class="num">05</span></div>
      <div class="page-interview-detail-head__title f-futura" id="mainVisual">
        <div class="page-interview-detail-head__title__inner">
          <h1 class="f-futura--m"><div class='is-blandmanager'><span class='six-letters'>BRAND-</span><br><span class='six-letters'>MANAGER</span></div></h1>
          <div class="f-futura--b"><span class="dn-sp">I N T E R V I E W&emsp;0 5&emsp;/&emsp;</span>C H I N A M I&emsp;F U K U U R A</div>
        </div>
      </div>
      <div class="page-interview-detail-head__bottom f-midashi">
        <div class="page-interview-detail-head__copy">頑張ることの楽しさを伝えたい</div>
        <div class="page-interview-detail-head__years">12年卒 / 入社6年目</div>
      </div>
      <stickyLinkBt
        v-bind:isShown="showSectionIndex >= -1 && showSectionIndex != 0"
        v-bind:isHidden="showSectionIndex > 0"
      />
    </div>
    <div class="page-interview-detail-body js-link-show js-changeBg" data-color="white">
      <div class="page-interview-detail-sec page-interview-detail-sec--01">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">マネージャーとしての<br>キャリアアップ</div>
            <div class="main-block-text">ブランドマネージャーとして事業と全国の販売をつなぐ役割を担当しています。会議やオフィスワーク、各店舗への訪問といった形で日々動いています。ROSE BUDはこれから伸びていくブランドなので、商品検討や販促会議などでブランドの活性化に向けて努めています。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--02">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">自分の意見で商品が<br>できる喜び</div>
            <div class="main-block-text">入社からどんどんキャリアアップするたびに自分で考え、進んでアイデアや意見を出せるようになりました。サンプル商品に対して自分の意見が反映されて、商品化しヒットしたときは「あの時意見を出して良かった」と嬉しく感じます。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--03">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual main-block-visual--01"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">お世話になっている<br>上司が次の目標</div>
            <div class="main-block-text">店長としてキャリアアップしてからお世話になっている上司が憧れであり、次の目標です。いつも的確な指導と困った時はサポートしていただいています。今取り組んでいる、スタッフの働きやすい環境づくりと、目標を持って頑張ることの楽しさを伝えられるマネージャーになりたいです。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--04">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">おしゃれを楽しんで働く</div>
            <div class="main-block-text">S-GROOVEは、一人一人の社員に対するサポートがとても厚く、自分が目指すことができるものがたくさんある会社です。おしゃれを楽しんで、日々働くことが楽しいと思える。そんな社会人生活を一緒に送りましょう！</div>
          </div>
        </div>
      </div>
      <router-link to="/interview" class="back-bt f-futura f-futura--b"><span>ALL INTERVIEW</span></router-link>
    </div>
    <InterviewBlock title="NEXT INTERVIEW" id="" addClass="interview-block--type02 interview-block--next interview-block--next-02 js-changeBg" dataColor="green" job="<div class='is-shopmanager'><span class='five-letters'>SHOP-</span><br><span class='six-letters'>MANAGER</span></div>" name="KAORI YAMADA" copy="自分自身も<br>綺麗になれる仕事" year="13年卒 / 入社5年目" url="06">
      <stickyLinkBt
        to="06"
        v-bind:isShown="showSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 0 && passedSectionIndex != 0"
        v-bind:isHidden="passedSectionIndex === 0"
        type="light-yellow"
      />
    </InterviewBlock>
    <entrySec>
      <stickyLinkBt
        to="/entry"
        v-bind:isShown="showSectionIndex === 1 && passedSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 1"
        v-bind:isHidden="passedSectionIndex === 1"
        type="entry"
      />
    </entrySec>
  </div>
</template>

<script>
import AOS from 'aos'
import HeaderMenu from './../parts/_headerMenu.vue'
import InterviewBlock from './../parts/_interviewBlock.vue'
import entrySec from './../parts/_entrySec.vue'
import stickyLinkBt from './../parts/_stickyLinkBt.vue'
import Utils from './../../utils/Utils.js'

export default {
  components: {
    InterviewBlock,
    entrySec,
    HeaderMenu,
    stickyLinkBt
  },
  data() {
    return {
      fixedBgClass: [],
      currentSection: null,
      passedSectionIndex: null,
      activeSectionIndex: null,
      showSectionIndex: null,
      waypointsInstances: []
    }
  },
  mounted() {
    AOS.init({
      offset: window.innerWidth > 768 ? 200 : 100,
      once: true
    })

    const utils = new Utils()
    utils.loadImage()

    this.waypoints()
  },
  beforeDestroy: function () {
    this.waypointsInstances.forEach(instance => {
      instance.destroy()
    })
  },
  methods: {
    waypoints() {
      const elems = this.$el.getElementsByClassName('js-link-target')
      const showElems = this.$el.getElementsByClassName('js-link-show')
      const nodes = Array.prototype.slice.call(elems, 0)
      const nodes02 = Array.prototype.slice.call(showElems, 0)
      const me = this

      nodes.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.activeSectionIndex = idx
              } else {
                me.activeSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = window.innerWidth > 768 ? (64 / 864 * window.innerHeight) : (40 / 667 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )

        // すぎさったsectionの管理
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.passedSectionIndex = idx
              } else {
                me.passedSectionIndex = idx - 1
              }
            },
            offset: function() {
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = -_linkTargetElementHeight / 2
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })

      nodes02.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.showSectionIndex = idx
              } else {
                me.showSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = (64 / 864 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })
    }
  }
}
</script>

<style lang="scss">
@import './../../assets/style/_mixin.scss';
@import './../../assets/style/interviewDetail.scss';

.page-interview-detail--05 {
  .page-interview-detail-head__title {
    background-color: #f3d8de;
    &::before, &::after {
      background-color: #f3d8de;
    }
    @include min() {
      background-image: url(./../../assets/img/interview-05/img-main.jpg);
    }
    @include max() {
      background-image: url(./../../assets/img/interview-05/sp/img-main.jpg);
    }
  }

  .page-interview-detail-sec--01 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-05/img-visual-01.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-05/sp/img-visual-01.jpg);
      }
    }
  }

  .page-interview-detail-sec--02 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-05/img-visual-02.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-05/sp/img-visual-02.jpg);
      }
    }
}

  .page-interview-detail-sec--03 {
    .main-block-visual--01 {
      @include min() {
        background-image: url(./../../assets/img/interview-05/img-visual-03.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-05/sp/img-visual-03.jpg);
      }
    }
  }

  .page-interview-detail-sec--04 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-05/img-visual-04.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-05/sp/img-visual-04.jpg);
      }
    }
  }

  .interview-block--next {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-06.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-06.jpg);
      }
    }
  }
}

</style>
