<template>
  <div class="page page-interview-detail page-interview-detail--08 js-changeBg" data-color="light-gray">
    <HeaderMenu></HeaderMenu>
    <div class="page-interview-detail-head page-interview-detail-head--01">
      <div class="page-interview-detail-head__sp-title f-futura f-futura--b dn-pc">INTERVIEW<span class="num">08</span></div>
      <div class="page-interview-detail-head__title f-futura" id="mainVisual">
        <div class="page-interview-detail-head__title__inner">
          <h1 class="f-futura--m"><span class='six-letters'>OFFICE</span></h1>
          <div class="f-futura--b"><span class="dn-sp">I N T E R V I E W&emsp;0 8&emsp;/&emsp;</span>R I S A&emsp;W A D A</div>
        </div>
      </div>
      <div class="page-interview-detail-head__bottom f-midashi">
        <div class="page-interview-detail-head__copy">自分の頑張り次第でチャレンジできる</div>
        <div class="page-interview-detail-head__years">15年卒 / 3年目</div>
      </div>
      <stickyLinkBt
        v-bind:isShown="showSectionIndex >= -1 && showSectionIndex != 0"
        v-bind:isHidden="showSectionIndex > 0"
      />
    </div>
    <div class="page-interview-detail-body js-link-show js-changeBg" data-color="white">
      <div class="page-interview-detail-sec page-interview-detail-sec--01">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">チャレンジできる社風</div>
            <div class="main-block-text">販売員から事務になりたいという希望は、会社によっては通らないこともあると思いますが、S-GROOVEは自分の頑張り次第で挑戦するチャンスをもらえます。以前は販売員として働いていましたが、今は大学で学んだことを活かし、最前線で頑張るスタッフのことをバックアップしたいと考えています。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--02">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">細かい業務もスタッフの<br>ことを思えば頑張れる</div>
            <div class="main-block-text">様々な雇用形態があるので、雇用形態別に書類を作成したり、販売員1人1人の勤怠の管理を教わりながらやっています。どちらも不備があると社員が困ってしまうので、細かく確認をしながら慎重に行なっています。大変ですが、責任感を持ってお仕事をしています。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--03">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual main-block-visual--01"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">受け身から自分で<br>提案ができるように</div>
            <div class="main-block-text">入社した当初は接客のことが何も分からず、日々言われたことをこなすのに精一杯でした。でも、だんだんと受け身で仕事をするだけではなく、自分で考えて行動ができるようになりました。後輩が出来て、教える立場になり、自分も新しいことにチャレンジしています。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--04">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">キャリアは<br>自分次第でひらける</div>
            <div class="main-block-text">就活時は自分を見失いがちになるかと思いますが、そんな時こそ自分の長所や興味のあることを考えてみてください。S-GROOVEでは思っているよりもキャリアの可能性は広がっていて、さらに自分次第で切りひらいていくことができます。</div>
          </div>
        </div>
      </div>
      <router-link to="/interview" class="back-bt f-futura f-futura--b"><span>ALL INTERVIEW</span></router-link>
    </div>
    <InterviewBlock title="NEXT INTERVIEW" id="" addClass="interview-block--type03 interview-block--next interview-block--next-03 js-link-show js-changeBg" dataColor="light-gray" job="<div class='is-stafftrainer'><span class='six-letters'>STAFF-</span><br><span class='six-letters'>TRAINER</span></div>" name="AKIKO IKEDA" copy="柔軟な働き方だから<br>続けられる" year="入社23年目" url="09">
      <stickyLinkBt
        to="09"
        v-bind:isShown="showSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 0 && passedSectionIndex != 0"
        v-bind:isHidden="passedSectionIndex === 0"
        type="red"
      />
    </InterviewBlock>
    <entrySec>
      <stickyLinkBt
        to="/entry"
        v-bind:isShown="showSectionIndex === 1 && passedSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 1"
        v-bind:isHidden="passedSectionIndex === 1"
        type="entry"
      />
    </entrySec>
  </div>
</template>

<script>
import AOS from 'aos'
import HeaderMenu from './../parts/_headerMenu.vue'
import InterviewBlock from './../parts/_interviewBlock.vue'
import entrySec from './../parts/_entrySec.vue'
import stickyLinkBt from './../parts/_stickyLinkBt.vue'
import Utils from './../../utils/Utils.js'

export default {
  components: {
    InterviewBlock,
    entrySec,
    HeaderMenu,
    stickyLinkBt
  },
  data() {
    return {
      fixedBgClass: [],
      currentSection: null,
      passedSectionIndex: null,
      activeSectionIndex: null,
      showSectionIndex: null,
      waypointsInstances: []
    }
  },
  mounted() {
    AOS.init({
      offset: window.innerWidth > 768 ? 200 : 100,
      once: true
    })

    const utils = new Utils()
    utils.loadImage()

    this.waypoints()
  },
  beforeDestroy: function () {
    this.waypointsInstances.forEach(instance => {
      instance.destroy()
    })
  },
  methods: {
    waypoints() {
      const elems = this.$el.getElementsByClassName('js-link-target')
      const showElems = this.$el.getElementsByClassName('js-link-show')
      const nodes = Array.prototype.slice.call(elems, 0)
      const nodes02 = Array.prototype.slice.call(showElems, 0)
      const me = this

      nodes.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.activeSectionIndex = idx
              } else {
                me.activeSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = window.innerWidth > 768 ? (64 / 864 * window.innerHeight) : (40 / 667 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )

        // すぎさったsectionの管理
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.passedSectionIndex = idx
              } else {
                me.passedSectionIndex = idx - 1
              }
            },
            offset: function() {
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = -_linkTargetElementHeight / 2
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })

      nodes02.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.showSectionIndex = idx
              } else {
                me.showSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = (64 / 864 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })
    }
  }
}
</script>

<style lang="scss">
@import './../../assets/style/_mixin.scss';
@import './../../assets/style/interviewDetail.scss';

.page-interview-detail--08 {
  .page-interview-detail-head__title {
    background-color: #bce0f8;
    &::before, &::after {
      background-color: #bce0f8;
    }
    @include min() {
      background-image: url(./../../assets/img/interview-08/img-main.jpg);
    }
    @include max() {
      background-image: url(./../../assets/img/interview-08/sp/img-main.jpg);
    }
    .six-letters {
      @include min() {
        margin-right: -0.32em;
      }
    }
  }

  .page-interview-detail-sec--01 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-08/img-visual-01.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-08/sp/img-visual-01.jpg);
      }
    }
  }

  .page-interview-detail-sec--02 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-08/img-visual-02.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-08/sp/img-visual-02.jpg);
      }
    }
}

  .page-interview-detail-sec--03 {
    .main-block-visual--01 {
      @include min() {
        background-image: url(./../../assets/img/interview-08/img-visual-03.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-08/sp/img-visual-03.jpg);
      }
    }
  }

  .page-interview-detail-sec--04 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-08/img-visual-04.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-08/sp/img-visual-04.jpg);
      }
    }
  }

  .interview-block--next {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-09.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-09.jpg);
      }
    }
  }
}

</style>
