<template>
  <div class="page page-interview-detail page-interview-detail--04 js-changeBg" data-color="pink">
    <HeaderMenu></HeaderMenu>
    <div class="page-interview-detail-head page-interview-detail-head--01">
      <div class="page-interview-detail-head__sp-title f-futura f-futura--b dn-pc">INTERVIEW<span class="num">04</span></div>
      <div class="page-interview-detail-head__title f-futura" id="mainVisual">
        <div class="page-interview-detail-head__title__inner is-pos-bottom">
          <h1 class="f-futura--m"><div class='is-shopstaff'><span class='four-letters'>SHOP</span><br><span class='five-letters'>STAFF</span></div></h1>
          <div class="f-futura--b"><span class="dn-sp">I N T E R V I E W&emsp;0 4&emsp;/&emsp;</span>R I E&emsp;O H A R A</div>
        </div>
      </div>
      <div class="page-interview-detail-head__bottom f-midashi">
        <div class="page-interview-detail-head__copy">ショップで出会い憧れた先輩と一緒に</div>
        <div class="page-interview-detail-head__years">17年卒 / 入社2年目</div>
      </div>
      <stickyLinkBt
        v-bind:isShown="showSectionIndex >= -1 && showSectionIndex != 0"
        v-bind:isHidden="showSectionIndex > 0"
      />
    </div>
    <div class="page-interview-detail-body js-link-show js-changeBg" data-color="white">
      <div class="page-interview-detail-sec page-interview-detail-sec--01">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">ショップで出会い憧れた<br>先輩と一緒に</div>
            <div class="main-block-text">就活面接用のワンピースを購入しに行った時、対応していただいた体験が印象的で「この人と一緒に働きたい」という憧れに変わり、S-GROOVEに入社を決めました。一緒に働くという夢が叶って、優しく１から丁寧に教えていただきました。今でも先輩の接客や対応に近づけるように頑張っています。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--02">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">もっと販売スキルをあげたい</div>
            <div class="main-block-text">入社してもうすぐ3年目。入店しやすいように笑顔でお客様にお声がけしたり、コミュニケーションを取りながら着まわしや色の提案をして気に入っていただけることが嬉しくやりがいがあります。ゆくゆくはお客様のクローゼットを管理できるくらいになっていきたいです。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--03 page-interview-detail-sec--03--has-morevisual">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual main-block-visual--01"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">研修で学んだたくさんのこと</div>
            <div class="main-block-text">研修では、挨拶や礼儀など基本的なことから、ゲームなどでコミュニケーションを取ったりと、たくさんのことを学ぶことができます。目上のお客様に対して不安でいっぱいでしたが、先輩や上司が優しくアドバイスしていただけたことで、自分も成長でき、お客様に「また来るね！」と言っていただけることがとても嬉しいです。</div>
          </div>
          <div class="main-block-visual main-block-visual--02"></div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--04">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">好きなブランドの服で<br>楽しく働く</div>
            <div class="main-block-text">社員割引制度があることで好きなブランドの洋服を買うこともできるし、就業環境や福利厚生も充実しているし、何よりスタッフ同士がみんな仲良しです。憧れの先輩のようにはまだなれていませんが、自分の好きなことで成長できる場所だとおもいます！</div>
          </div>
        </div>
      </div>
      <router-link to="/interview" class="back-bt f-futura f-futura--b"><span>ALL INTERVIEW</span></router-link>
    </div>
    <InterviewBlock title="NEXT INTERVIEW" id="" addClass="interview-block--type01 interview-block--next interview-block--next-02 js-link-show js-changeBg" dataColor="green" job="<div class='is-blandmanager'><span class='six-letters'>BRAND-</span><br><span class='six-letters'>MANAGER</span></div>" name="CHINAMI FUKUURA" copy="頑張ることの楽しさを<br>伝えたい" year="13年卒 / 入社5年目" url="05">
      <stickyLinkBt
        to="05"
        v-bind:isShown="showSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 0 && passedSectionIndex != 0"
        v-bind:isHidden="passedSectionIndex === 0"
        type="light-yellow"
      /></InterviewBlock>
    <entrySec>
      <stickyLinkBt
        to="/entry"
        v-bind:isShown="showSectionIndex === 1 && passedSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 1"
        v-bind:isHidden="passedSectionIndex === 1"
        type="entry"
      />
    </entrySec>
  </div>
</template>

<script>
import AOS from 'aos'
import HeaderMenu from './../parts/_headerMenu.vue'
import InterviewBlock from './../parts/_interviewBlock.vue'
import entrySec from './../parts/_entrySec.vue'
import stickyLinkBt from './../parts/_stickyLinkBt.vue'
import Utils from './../../utils/Utils.js'

export default {
  components: {
    InterviewBlock,
    entrySec,
    HeaderMenu,
    stickyLinkBt
  },
  data() {
    return {
      fixedBgClass: [],
      currentSection: null,
      passedSectionIndex: null,
      activeSectionIndex: null,
      showSectionIndex: null,
      waypointsInstances: []
    }
  },
  mounted() {
    AOS.init({
      offset: window.innerWidth > 768 ? 200 : 100,
      once: true
    })

    const utils = new Utils()
    utils.loadImage()

    this.waypoints()
  },
  beforeDestroy: function () {
    this.waypointsInstances.forEach(instance => {
      instance.destroy()
    })
  },
  methods: {
    waypoints() {
      const elems = this.$el.getElementsByClassName('js-link-target')
      const showElems = this.$el.getElementsByClassName('js-link-show')
      const nodes = Array.prototype.slice.call(elems, 0)
      const nodes02 = Array.prototype.slice.call(showElems, 0)
      const me = this

      nodes.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.activeSectionIndex = idx
              } else {
                me.activeSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = window.innerWidth > 768 ? (64 / 864 * window.innerHeight) : (40 / 667 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )

        // すぎさったsectionの管理
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.passedSectionIndex = idx
              } else {
                me.passedSectionIndex = idx - 1
              }
            },
            offset: function() {
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = -_linkTargetElementHeight / 2
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })

      nodes02.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.showSectionIndex = idx
              } else {
                me.showSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = (64 / 864 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })
    }
  }
}
</script>

<style lang="scss">
@import './../../assets/style/_mixin.scss';
@import './../../assets/style/interviewDetail.scss';

.page-interview-detail--04 {
  .page-interview-detail-head__title {
    background-color: #f8b2c7;
    &::before, &::after {
      background-color: #f8b2c7;
    }
    @include min() {
      background-image: url(./../../assets/img/interview-04/img-main.jpg);
    }
    @include max() {
      background-image: url(./../../assets/img/interview-04/sp/img-main.jpg);
    }
  }

  .page-interview-detail-sec--01 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-04/img-visual-01.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-04/sp/img-visual-01.jpg);
      }
    }
  }

  .page-interview-detail-sec--02 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-04/img-visual-02.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-04/sp/img-visual-02.jpg);
      }
    }
  }

  .page-interview-detail-sec--03 {
    .main-block-visual--01 {
      @include min() {
        background-image: url(./../../assets/img/interview-04/img-visual-03.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-04/sp/img-visual-03.jpg);
      }
    }
    .main-block-visual--02 {
      @include min() {
        background-image: url(./../../assets/img/interview-04/img-visual-04.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-04/sp/img-visual-04.jpg);
      }
    }
  }

  .page-interview-detail-sec--04 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-04/img-visual-05.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-04/sp/img-visual-05.jpg);
      }
    }
  }

  .interview-block--next {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-05.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-05.jpg);
      }
    }
  }

  .interview-block--type01.interview-block--next {
    .interview-block__detail {
      @include max() {
        right: 0;
      }
    }
    .interview-block__detail-box {
      @include max() {
        @include size(sp,w,582);
        border-right: 0;
      }
    }
  }
}

</style>
