<template>
  <div class="page page-interview-detail page-interview-detail--07 js-changeBg" data-color="light-gray">
    <HeaderMenu></HeaderMenu>
    <div class="page-interview-detail-head page-interview-detail-head--01">
      <div class="page-interview-detail-head__sp-title f-futura f-futura--b dn-pc">INTERVIEW<span class="num">07</span></div>
      <div class="page-interview-detail-head__title f-futura" id="mainVisual">
        <div class="page-interview-detail-head__title__inner">
          <h1 class="f-futura--m"><div class='is-shopmanager'><span class='five-letters'>CAFE-</span><br><span class='six-letters'>MANAGER</span></div></h1>
          <div class="f-futura--b"><span class="dn-sp">I N T E R V I E W&emsp;0 7&emsp;/&emsp;</span>T O M O F U M I&emsp;K U B O T A</div>
        </div>
      </div>
      <div class="page-interview-detail-head__bottom f-midashi">
        <div class="page-interview-detail-head__copy">ただ売るではなく人と接するということ</div>
        <div class="page-interview-detail-head__years">入社22年目</div>
      </div>
      <stickyLinkBt
        v-bind:isShown="showSectionIndex >= -1 && showSectionIndex != 0"
        v-bind:isHidden="showSectionIndex > 0"
      />
    </div>
    <div class="page-interview-detail-body js-link-show js-changeBg" data-color="white">
      <div class="page-interview-detail-sec page-interview-detail-sec--01">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">世界一おいしいカフェラテを</div>
            <div class="main-block-text">Urth Caffe はL.A.発祥の「世界一おいしいカフェラテ」を提供することで有名なカフェです。今までアパレルブランドに長年関わってマネージャーをやってきました。Urth Caffe もただオーダーを受けて提供するのではなく、アパレルブランドのような接客をすることを目的に飲食に挑戦しました。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--02">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">L.A.での実地研修へ</div>
            <div class="main-block-text">本場の研修を１週間みっちりやることでカフェブランドのあり方を学ぶことがありました。もちろんコーヒーの入れ方をバリスタに見てもらうこともありますが、なによりブランドとしてのあり方や空間としての考え方を学ぶことが多かったと思います。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--03">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual main-block-visual--01"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">すべてに共通している想い</div>
            <div class="main-block-text">アパレルや飲食といっても、接客、人と接することに共通する部分、"お客様により良い体験を提供すること" はどの仕事でも同じだと思っています。逆に、ブランドが違うと客層も違うし気にすることが変わります。いろいろなアパレルブランドや印象などの経験から引き出しは増えていることを実感しています。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--04">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">新しいチャレンジに向けて</div>
            <div class="main-block-text">レディース、メンズ、スポーツブランド、飲食と本当に多岐に渡る経験をへて、視野を広げることができました。今までの自分の経験を活かし、これからもどんどん新しい領域や業種にもチャレンジしていくつもりです。</div>
          </div>
        </div>
      </div>
      <router-link to="/interview" class="back-bt f-futura f-futura--b"><span>ALL INTERVIEW</span></router-link>
    </div>
    <InterviewBlock title="NEXT INTERVIEW" id="" addClass="interview-block--type02 interview-block--next interview-block--next-03 js-link-show js-changeBg" dataColor="light-gray" job="<span class='six-letters'>OFFICE</span>" name="RISA WADA" copy="自分の頑張り次第で<br>チャレンジできる" year="15年卒 / 3年目" url="08">
      <stickyLinkBt
        to="08"
        v-bind:isShown="showSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 0 && passedSectionIndex != 0"
        v-bind:isHidden="passedSectionIndex === 0"
        type="red"
      />
    </InterviewBlock>
    <entrySec>
      <stickyLinkBt
        to="/entry"
        v-bind:isShown="showSectionIndex === 1 && passedSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 1"
        v-bind:isHidden="passedSectionIndex === 1"
        type="entry"
      />
    </entrySec>
  </div>
</template>

<script>
import AOS from 'aos'
import HeaderMenu from './../parts/_headerMenu.vue'
import InterviewBlock from './../parts/_interviewBlock.vue'
import entrySec from './../parts/_entrySec.vue'
import stickyLinkBt from './../parts/_stickyLinkBt.vue'
import Utils from './../../utils/Utils.js'

export default {
  components: {
    InterviewBlock,
    entrySec,
    HeaderMenu,
    stickyLinkBt
  },
  data() {
    return {
      fixedBgClass: [],
      currentSection: null,
      passedSectionIndex: null,
      activeSectionIndex: null,
      showSectionIndex: null,
      waypointsInstances: []
    }
  },
  mounted() {
    AOS.init({
      offset: window.innerWidth > 768 ? 200 : 100,
      once: true
    })

    const utils = new Utils()
    utils.loadImage()

    this.waypoints()
  },
  beforeDestroy: function () {
    this.waypointsInstances.forEach(instance => {
      instance.destroy()
    })
  },
  methods: {
    waypoints() {
      const elems = this.$el.getElementsByClassName('js-link-target')
      const showElems = this.$el.getElementsByClassName('js-link-show')
      const nodes = Array.prototype.slice.call(elems, 0)
      const nodes02 = Array.prototype.slice.call(showElems, 0)
      const me = this

      nodes.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.activeSectionIndex = idx
              } else {
                me.activeSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = window.innerWidth > 768 ? (64 / 864 * window.innerHeight) : (40 / 667 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )

        // すぎさったsectionの管理
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.passedSectionIndex = idx
              } else {
                me.passedSectionIndex = idx - 1
              }
            },
            offset: function() {
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = -_linkTargetElementHeight / 2
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })

      nodes02.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.showSectionIndex = idx
              } else {
                me.showSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = (64 / 864 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })
    }
  }
}
</script>

<style lang="scss">
@import './../../assets/style/_mixin.scss';
@import './../../assets/style/interviewDetail.scss';

.page-interview-detail--07 {
  .page-interview-detail-head__title {
    background-color: #f8a1b8;
    &::before, &::after {
      background-color: #f8a1b8;
    }
    @include min() {
      background-image: url(./../../assets/img/interview-07/img-main.jpg);
    }
    @include max() {
      background-image: url(./../../assets/img/interview-07/sp/img-main.jpg);
    }
  }

  .page-interview-detail-sec--01 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-07/img-visual-01.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-07/sp/img-visual-01.jpg);
      }
    }
  }

  .page-interview-detail-sec--02 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-07/img-visual-02.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-07/sp/img-visual-02.jpg);
      }
    }
}

  .page-interview-detail-sec--03 {
    .main-block-visual--01 {
      @include min() {
        background-image: url(./../../assets/img/interview-07/img-visual-03.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-07/sp/img-visual-03.jpg);
      }
    }
  }

  .page-interview-detail-sec--04 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-07/img-visual-04.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-07/sp/img-visual-04.jpg);
      }
    }
  }

  .interview-block--next {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-08.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-08.jpg);
      }
    }
  }
}

</style>
