<template>
  <div class="page page-interview-detail page-interview-detail--02 js-changeBg" data-color="pink">
    <HeaderMenu></HeaderMenu>
    <div class="page-interview-detail-head page-interview-detail-head--01">
      <div class="page-interview-detail-head__sp-title f-futura f-futura--b dn-pc">INTERVIEW<span class="num">02</span></div>
      <div class="page-interview-detail-head__title f-futura" id="mainVisual">
        <div class="page-interview-detail-head__title__inner">
          <h1 class="f-futura--m"><div class='is-shopstaff'><span class='four-letters'>SHOP</span><br><span class='five-letters'>STAFF</span></div></h1>
          <div class="f-futura--b"><span class="dn-sp">I N T E R V I E W&emsp;0 2&emsp;/&emsp;</span>R I O&emsp;K A D O N O</div>
        </div>
      </div>
      <div class="page-interview-detail-head__bottom f-midashi">
        <div class="page-interview-detail-head__copy">研修を受けてから社外のブランドへ</div>
        <div class="page-interview-detail-head__years">18年卒 / 入社1年目</div>
      </div>
      <stickyLinkBt
        v-bind:isShown="showSectionIndex >= -1 && showSectionIndex != 0"
        v-bind:isHidden="showSectionIndex > 0"
      />
    </div>
    <div class="page-interview-detail-body js-link-show js-changeBg" data-color="white">
      <div class="page-interview-detail-sec page-interview-detail-sec--01">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">多くのブランドで働ける魅力</div>
            <div class="main-block-text">エキスパート職としてグループ外のブランドで働いています。S-GROOVEのブランドで先に経験をさせてもらってから配属になったので、安心して社外のブランドで働くことができています。ブランドによって客層が違って、色々なお客様がいることが分かっていたので、言葉の速さやトーンなどを変えるなどの工夫もできるようになりました。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--02">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">お客様の声がモチベーション</div>
            <div class="main-block-text">初めての接客でも、研修でロープレをたくさんしたおかげでイメージができるようになりました。お客様からの喜びの声をいただくことが1番嬉しいので、お客様と接客した後は毎回、どうしてよかったのか、ダメだったのかを考え、次の接客に活かしています。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--03">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual main-block-visual--01"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">まずは今任せてもらって<br>いることを頑張る！</div>
            <div class="main-block-text">エキスパート職として、外部派遣で働いていますので、一人でできる事や任せてもらえることも増えました。今後は接客を強化できるように、備品チェックやストック整理などの基本的な仕事は早く終わらせられるようになりたいです。最終的にはディスプレイやコーディネートを考えられるお仕事をしたいです。</div>
          </div>
        </div>
      </div>
      <div class="page-interview-detail-sec page-interview-detail-sec--04">
        <div class="main-block main-block--with-text">
          <div class="main-block-visual"></div>
          <div class="main-block__detail">
            <div class="main-block-copy f-midashi">いろんな自分になれる会社</div>
            <div class="main-block-text">S-GROOVEは全く違うジャンルの服が着られるし、様々な客層のお客様とお話ができる会社だと思います。私自身も1つの場所で働いていたらできなかった経験を通して、新しい自分が発見できました。つまり、S-GROOVEはいろんな自分になれる会社だと思っています！</div>
          </div>
        </div>
      </div>
      <router-link to="/interview" class="back-bt f-futura f-futura--b"><span>ALL INTERVIEW</span></router-link>
    </div>
    <InterviewBlock title="NEXT INTERVIEW" id="" addClass="interview-block--type03 interview-block-03 interview-block--next interview-block--next-01 js-link-show js-changeBg" dataColor="pink" job="<div class='is-shopstaff scroll-anime-letter scroll-anime-letter--motion-small'><span class='five-letters'>SHOP</span><br class='dn-pc'><span class='five-letters'>STAFF</span></div>" name="MIKU HORINOUCHI" copy="大事な役割を<br>任せてもらえる喜び" year="14年卒 / 入社4年目" url="03">
      <stickyLinkBt
        to="03"
        v-bind:isShown="showSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 0 && passedSectionIndex != 0"
        v-bind:isHidden="passedSectionIndex === 0"
        type="blue"
      />
    </InterviewBlock>
    <entrySec>
      <stickyLinkBt
        to="/entry"
        v-bind:isShown="showSectionIndex === 1 && passedSectionIndex === 0"
        v-bind:isActive="activeSectionIndex === 1"
        v-bind:isHidden="passedSectionIndex === 1"
        type="entry"
      />
    </entrySec>
  </div>
</template>

<script>
import AOS from 'aos'
import HeaderMenu from './../parts/_headerMenu.vue'
import InterviewBlock from './../parts/_interviewBlock.vue'
import entrySec from './../parts/_entrySec.vue'
import stickyLinkBt from './../parts/_stickyLinkBt.vue'
import Utils from './../../utils/Utils.js'

export default {
  components: {
    InterviewBlock,
    entrySec,
    HeaderMenu,
    stickyLinkBt
  },
  data() {
    return {
      fixedBgClass: [],
      currentSection: null,
      passedSectionIndex: null,
      activeSectionIndex: null,
      showSectionIndex: null,
      waypointsInstances: []
    }
  },
  mounted() {
    AOS.init({
      offset: window.innerWidth > 768 ? 200 : 100,
      once: true
    })

    const utils = new Utils()
    utils.loadImage()

    this.waypoints()
  },
  beforeDestroy: function () {
    this.waypointsInstances.forEach(instance => {
      instance.destroy()
    })
  },
  methods: {
    waypoints() {
      const elems = this.$el.getElementsByClassName('js-link-target')
      const showElems = this.$el.getElementsByClassName('js-link-show')
      const nodes = Array.prototype.slice.call(elems, 0)
      const nodes02 = Array.prototype.slice.call(showElems, 0)
      const me = this

      nodes.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.activeSectionIndex = idx
              } else {
                me.activeSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = window.innerWidth > 768 ? (64 / 864 * window.innerHeight) : (40 / 667 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )

        // すぎさったsectionの管理
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.passedSectionIndex = idx
              } else {
                me.passedSectionIndex = idx - 1
              }
            },
            offset: function() {
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = -_linkTargetElementHeight / 2
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })

      nodes02.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.showSectionIndex = idx
              } else {
                me.showSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = (64 / 864 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })
    }
  }
}
</script>

<style lang="scss">
@import './../../assets/style/_mixin.scss';
@import './../../assets/style/interviewDetail.scss';

.page-interview-detail--02 {
  .page-interview-detail-head__title {
    background-color: #f7efb1;
    &::before, &::after {
      background-color: #f7efb1;
    }
    @include min() {
      background-image: url(./../../assets/img/interview-02/img-main.jpg);
    }
    @include max() {
      background-image: url(./../../assets/img/interview-02/sp/img-main.jpg);
    }
  }

  .page-interview-detail-sec--01 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-02/img-visual-01.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-02/sp/img-visual-01.jpg);
      }
    }
  }

  .page-interview-detail-sec--02 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-02/img-visual-02.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-02/sp/img-visual-02.jpg);
      }
    }
}

  .page-interview-detail-sec--03 {
    .main-block-visual--01 {
      @include min() {
        background-image: url(./../../assets/img/interview-02/img-visual-03.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-02/sp/img-visual-03.jpg);
      }
    }
  }

  .page-interview-detail-sec--04 {
    .main-block-visual {
      @include min() {
        background-image: url(./../../assets/img/interview-02/img-visual-04.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview-02/sp/img-visual-04.jpg);
      }
    }
  }

  .interview-block--next {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/interview/img-interview-03.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/interview/sp/img-interview-03.jpg);
      }
    }
    .interview-block__detail-box {
      @include min() {
        @include size(pc,w,842);
        @include size(pc,h,608);
      }
    }
    .interview-block__detail__head {
      @include min() {
        @include padding(pc,169,0,115,51);
      }
    }
    .interview-block__detail__foot {
      @include min() {
        @include margin(pc,0,0,0,507);
      }
    }
    .interview-block__name {
      @include min() {
        @include margin(pc,0,32,0,0);
        text-align: right;
      }
    }
    .is-shopstaff {
      @include max() {
        margin-right: -0.53em;
      }
      .five-letters:first-child {
        @include min() {
          @include margin(pc,0,30,0,0);
          text-align: right;
        }
        @include max() {
          letter-spacing: 0.53em;
        }
      }
    }
  }
}

</style>
