<template>
  <div class="page page-top">
    <HeaderMenu></HeaderMenu>
    <div class="sec sec-01">
      <div class="main-visual js-link-show js-changeBg" data-color="yellow">
        <h1 class="main-visual__ttl">
          <span><img src="./../../assets/img/top/img-top-ttl-01.svg" alt=""></span>
          <span><img src="./../../assets/img/top/img-top-ttl-02.svg" alt=""></span>
        </h1>
        <div class="main-visual__copy f-midashi"><span>ひとりひとりが<br class="dn-pc">輝くために</span><span>エス・グルーヴ<br class="dn-pc">新卒採用</span></div>
        <div id="main-visual__bg" class="main-visual__bg" :class="fixedBgClass">
          <div class="main-visual__bg__main"></div>
          <div class="main-visual__bg__filter"></div>
        </div>
        <div id="main-visual-border" class="main-visual__border"></div>
        <stickyLinkBt
          v-bind:isShown="showSectionIndex >= -1 && showSectionIndex != 0"
          v-bind:isHidden="showSectionIndex === 0 || showSectionIndex >= 1"
          type="first"
        />
      </div>
      <div class="top-about js-link-show js-changeBg" id="about" data-aos="" data-color="yellow">
        <div class="js-link-target"></div>
        <router-link to="/about" class="top-about__inner">
          <div class="top-about__head f-futura f-futura--m">
            <span class="scroll-anime-letter">ABOUT</span>
            <span class="scroll-anime-letter scroll-anime-letter--delay-01">S-GROOVE</span>
          </div>
          <div class="top-about__body">
            <div class="top-about__copy f-midashi">接客・販売のプロフェッショナル</div>
            <div class="top-about__blands f-futura f-futura--d">ROSE BUD / Laline / JILL STUART / HUMAN WOMAN / H standard ADORE / BOSCH / B ability / NATURAL BEAUTY / PINKY&DIANNE<br class="dn-sp">PEARLY GATES / MASTER BUNNY EDITION / Jack Bunny<br class="dn-sp">New Balance Golf / St ANDREWS</div>
          </div>
        </router-link>
        <stickyLinkBt
          to="/about"
          v-bind:isShown="showSectionIndex === 0 && passedSectionIndex != 0"
          v-bind:isActive="activeSectionIndex === 0 && passedSectionIndex != 0"
          v-bind:isHidden="passedSectionIndex === 0 && showSectionIndex === 1"
          type="yellow"
        />
      </div>
      <!-- <img src="./../../assets/img/img-page.jpg" alt=""> -->
    </div>
    <div class="sec sec-02 sec-interview js-link-show js-changeBg" data-color="pink">
      <div class="sec-interview__main" data-aos="">
        <div class="main-block f-futura scroll-anime-image">
          <div class="main-block-title">
            <h2 class="main-block-title__main f-futura--m"><span class="scroll-anime-letter scroll-anime-letter--delay-image-01">INTER</span><span class="scroll-anime-letter scroll-anime-letter--delay-image-02">-VIEW</span></h2>
            <div class="main-block-title__sub f-futura--d">SHOP  STAFF / MANAGER / STORE MANAGER / SHOP  STAFF / MANAGER / STORE MANAGER / SHOP  STAFF</div>
          </div>
          <div class="main-block-copy f-midashi">販売から企画、その先へ</div>
        </div>
      </div>
      <InterviewBlock
      title="INTERVIEW<span class='num'>04</span>"
      id="interview01"
      addClass="interview-block--type01 interview-block-01"
      data="blue"
      job="<div class='is-shopstaff'><span class='four-letters scroll-anime-letter scroll-anime-letter--motion-small'>SHOP</span><span class='five-letters scroll-anime-letter scroll-anime-letter--motion-small scroll-anime-letter--delay-01'>STAFF</span></div>"
      name="RIE OHARA" copy="ショップで出会い<br>憧れた先輩と一緒に" year="17年卒 / 入社2年目" url="/interview/04">
        <stickyLinkBt
          to="/interview/04"
          v-bind:isShown="showSectionIndex === 1 && passedSectionIndex === 0"
          v-bind:isActive="activeSectionIndex === 1 && passedSectionIndex != 1"
          v-bind:isHidden="passedSectionIndex === 1"
          type="blue"
        />
      </InterviewBlock>
      <InterviewBlock
      title="INTERVIEW<span class='num'>06</span>" id="interview02" addClass="interview-block--type02 interview-block-02" data="blue" job="<div class='is-shopmanager'><span class='five-letters scroll-anime-letter scroll-anime-letter--motion-small'>SHOP-</span><span class='six-letters scroll-anime-letter scroll-anime-letter--motion-small scroll-anime-letter--delay-01'>MANAGER</span></div>" name="KAORI YAMADA" copy="自分自身も<br>綺麗になれる仕事" year="13年卒 / 入社5年目" url="/interview/06">
        <stickyLinkBt
          to="/interview/06"
          v-bind:isShown="passedSectionIndex === 1"
          v-bind:isActive="activeSectionIndex === 2 && passedSectionIndex != 2"
          v-bind:isHidden="passedSectionIndex === 2"
          type="blue"
        />
      </InterviewBlock>
      <InterviewBlock
      title="INTERVIEW<span class='num'>09</span>" id="interview03" addClass="interview-block--type03 interview-block-03" data="blue" job="<div class='is-stafftrainer'><span class='six-letters scroll-anime-letter scroll-anime-letter--motion-small'>STAFF-</span><span class='six-letters scroll-anime-letter scroll-anime-letter--motion-small scroll-anime-letter--delay-01'>TRAINER</span></div>" name="AKIKO IKEDA" copy="柔軟な働き方だから<br>続けられる" year="入社23年目" url="/interview/09">
        <stickyLinkBt
          to="/interview/09"
          v-bind:isShown="passedSectionIndex === 2"
          v-bind:isActive="activeSectionIndex === 3 && passedSectionIndex != 3"
          v-bind:isHidden="passedSectionIndex === 3"
          type="blue"
        />
      </InterviewBlock>
    </div>
    <div class="sec sec-03 sec-benefit js-link-show js-changeBg" data-aos="" data-color="offwhite">
      <div class="js-link-target"></div>
      <router-link to="/benefit" class="main-block f-futura scroll-anime-image">
        <div class="main-block-title">
          <h2 class="main-block-title__main f-futura--m"><span class="scroll-anime-letter">BENEFIT</span></h2>
        </div>
        <div class="main-block-copy main-block-copy--link f-midashi">輝いて働くために <br class="dn-pc">私たちだからできること</div>
      </router-link>
      <stickyLinkBt
          to="/benefit"
          v-bind:isShown="showSectionIndex === 2 && passedSectionIndex === 3"
          v-bind:isActive="activeSectionIndex === 4 && passedSectionIndex != 4"
          v-bind:isHidden="passedSectionIndex === 4"
          type="brown"
        />
    </div>
    <div class="sec sec-04 sec-gallery js-link-show js-changeBg" data-aos="" data-color="gray">
      <div class="js-link-target"></div>
      <div class="sec-gallery__bg sec-gallery__bg--01"><div class="sec-gallery__bg-img scroll-anime-image"></div></div>
      <div class="sec-gallery__bg sec-gallery__bg--02"><div class="sec-gallery__bg-img"></div></div>
      <div class="main-block f-futura">
        <div class="main-block-title">
          <div class="main-block-title__sub f-futura--m"><span class="scroll-anime-letter scroll-anime-letter--delay-image-01">DATA&</span><span class="scroll-anime-letter scroll-anime-letter--delay-image-02">PHOTO</span></div>
          <h2 class="main-block-title__main f-futura--m"><span class="scroll-anime-letter scroll-anime-letter--delay-image-03">GALLERY</span></h2>
        </div>
        <router-link to="/gallery" class="main-block-copy f-midashi">写真とデータで見る <span class="f-futura f-futura--m">S-GROOVE</span></router-link>
      </div>
      <stickyLinkBt
        to="/gallery"
        v-bind:isShown="showSectionIndex === 3 && passedSectionIndex === 4"
        v-bind:isActive="activeSectionIndex === 5 && passedSectionIndex != 5"
        v-bind:isHidden="passedSectionIndex === 5"
        type="white"
      />
    </div>
    <entrySec id="" addClass="sec sec-05">
      <stickyLinkBt
        to="/entry"
        v-bind:isShown="showSectionIndex === 4 && passedSectionIndex === 5"
        v-bind:isActive="activeSectionIndex === 6"
        v-bind:isHidden="passedSectionIndex === 6"
        type="entry"
      />
    </entrySec>
  </div>
</template>

<script>
import AOS from 'aos'
import $ from 'jquery'
import HeaderMenu from './../parts/_headerMenu.vue'
import InterviewBlock from './../parts/_interviewBlock.vue'
import entrySec from './../parts/_entrySec.vue'
import stickyLinkBt from './../parts/_stickyLinkBt.vue'
import Utils from './../../utils/Utils.js'

export default {
  description: '',
  keywords: '',
  components: {
    InterviewBlock,
    entrySec,
    stickyLinkBt,
    HeaderMenu
  },
  data() {
    return {
      fixedBgClass: [],
      currentSection: null,
      passedSectionIndex: null,
      activeSectionIndex: null,
      showSectionIndex: null,
      waypointsInstances: []
    }
  },
  mounted() {
    AOS.init({
      offset: $(window).innerWidth() > 768 ? 400 : 100,
      once: true
    })
    this.$mainVisual = $('#main-visual-border')
    this.mainVisualBorderTopW = parseInt(this.$mainVisual.css('border-top-width'))
    this.mainVisualBorderRightW = parseInt(this.$mainVisual.css('border-right-width'))
    this.mainVisualBorderLeftW = parseInt(this.$mainVisual.css('border-left-width'))
    this.mainVisualBorderBottomW = parseInt(this.$mainVisual.css('border-bottom-width'))
    this.$mainBg = $('.main-visual__bg')
    this.scroll = 0

    this.init()
    this.stickyBg(this.scroll)
    const utils = new Utils()
    utils.loadImage()
    this.waypoints()

    window.addEventListener('resize', () => {
      const orientation = window.orientation
      if (orientation === 0) {
        this.$mainBg = $('.main-visual__bg')
        this.mainBgTopPos = parseInt(this.$mainBg.css('top'))
        console.log(this.mainBgTopPos)
      }
    })

    window.addEventListener('scroll', this.handleScroll, false)
  },
  beforeDestroy: function () {
    this.waypointsInstances.forEach(instance => {
      instance.destroy()
    }, false)

    window.removeEventListener('scroll', this.handleScroll, false)
  },
  methods: {
    init() {
      this.mainBgTopPos = parseInt(this.$mainBg.css('top'))
    },
    handleScroll() {
      this.scroll = window.scrollY || window.pageYOffset
      this.changeBorder(this.scroll)
      this.stickyBg(this.scroll)
    },
    changeBorder(scroll) {
      const windowW = $(window).innerWidth()
      this.scrollY = windowW > 768 ? scroll * 0.001 >= 1 ? 1 : scroll * 0.0012 : scroll * 0.002 >= 1 ? 1 : scroll * 0.002
      const mainVisualBorderTopNum = (this.mainVisualBorderTopW - this.mainVisualBorderTopW * this.scrollY)
      const mainVisualBorderTopW = mainVisualBorderTopNum > 0 ? mainVisualBorderTopNum * 100 / windowW : 0
      const mainVisualBorderRightNum = (this.mainVisualBorderRightW - this.mainVisualBorderRightW * this.scrollY)
      const mainVisualBorderRightW = mainVisualBorderRightNum > 0 ? mainVisualBorderRightNum * 100 / windowW : 0
      const mainVisualBorderLeftNum = (this.mainVisualBorderLeftW - this.mainVisualBorderLeftW * this.scrollY)
      const mainVisualBorderLeftW = mainVisualBorderLeftNum > 0 ? mainVisualBorderLeftNum * 100 / windowW : 0
      const mainVisualBorderBottomNum = (this.mainVisualBorderBottomW - this.mainVisualBorderBottomW * this.scrollY)
      const mainVisualBorderBottomW = mainVisualBorderBottomNum > 0 ? mainVisualBorderBottomNum * 100 / windowW : 0
      this.$mainVisual.css({
        'border-top-width': `${mainVisualBorderTopW}vw`,
        'border-right-width': `${mainVisualBorderRightW}vw`,
        'border-left-width': `${mainVisualBorderLeftW}vw`,
        'border-bottom-width': `${mainVisualBorderBottomW}vw`
      })

      if (mainVisualBorderTopW === 0) {
        if (this.fixedBgClass.indexOf('is-filtered') === -1) {
          this.fixedBgClass.push('is-filtered')
        }
      } else {
        this.fixedBgClass = this.fixedBgClass.filter(n => n !== 'is-filtered')
      }
    },
    stickyBg(scroll) {
      if (scroll >= this.mainBgTopPos) {
        if (this.fixedBgClass.indexOf('is-fixed') === -1) {
          this.fixedBgClass.push('is-fixed')
        }
      } else {
        this.fixedBgClass = this.fixedBgClass.filter(n => n !== 'is-fixed')
      }
    },
    waypoints() {
      const elems = this.$el.getElementsByClassName('js-link-target')
      const showElems = this.$el.getElementsByClassName('js-link-show')
      const nodes = Array.prototype.slice.call(elems, 0)
      const nodes02 = Array.prototype.slice.call(showElems, 0)
      const me = this

      nodes.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.activeSectionIndex = idx
              } else {
                me.activeSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = window.innerWidth > 768 ? (64 / 864 * window.innerHeight) : (40 / 667 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )

        // すぎさったsectionの管理
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.passedSectionIndex = idx
              } else {
                me.passedSectionIndex = idx - 1
              }
            },
            offset: function() {
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = -_linkTargetElementHeight / 2
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })

      nodes02.forEach((elem, idx) => {
        // 下方向へのスクロールでのアニメーション
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.showSectionIndex = idx
              } else {
                me.showSectionIndex = idx - 1
              }
            },
            offset: function() {
              // 下の線と揃ったら。
              const _stickyLinkBtBottom = (64 / 864 * window.innerHeight)
              const _linkTargetElementHeight = this.element.clientHeight
              const _offsetFromTopOfTheViewPort = window.innerHeight - _stickyLinkBtBottom - _linkTargetElementHeight
              return _offsetFromTopOfTheViewPort
            }
          })
        )
      })
    }
  }
}
</script>

<style lang="scss">
@import './../../assets/style/_mixin.scss';

.page-top {
  background-color: #cad8eb;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -30vw;
    width: 160vw;
    height: 100vh;
    z-index: 9999;
    background-color: #faf160;
    transition: width 1.2s cubic-bezier(1,.04,1,.76), transform 1.2s cubic-bezier(1,.04,1,.76);
    transform: matrix3d(1, 0, 0, 0, -0.65, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    @include max() {
      transform: matrix3d(1, 0, 0, 0, -0.35, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    html.is-ie &, html.is-edge & {
      display: none;
    }
    .is-mounted & {
      width: 0;
      transform: none;
    }
  }
}

.sec {
  position: relative;
  z-index: 200;
  overflow: hidden;
}

.sec.sec-01 {
  position: relative;
  z-index: 100;
}

.main-visual {
  position: relative;
  width: 100%;
  background-image: url(./../../assets/img/top/img-head-bg.jpg);
  background-repeat: repeat;
  &::before {
    content: '';
    display: block;
    @include min() {
      padding-top: 75.55555555555556vw;
      @media screen and (min-height: 75.55555555555556vw) {
        padding-top: 100vh;
      }
    }
    @include max() {
      padding-top: 100vh;
    }
  }
  &::after {
    background-color: #faf160;
  }
  .sticky-link-bt {
    &.is-shown {
      &::before {
        animation-delay: 2s !important;
      }
    }
    &.is-hidden {
      position: fixed;
    }
  }
}

.main-visual__bg {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(./../../assets/img/top/img-head-bg.jpg);
  background-size: cover;
  will-change: transform;
  opacity: 0;
  transition: opacity 0.8s ease-in 1.2s;
  @include min() {
    top: 20vw;
  }
  @include max() {
    top: 0;
  }
  img {
    width: 100%;
  }
  &.is-fixed {
    position: fixed;
    top: 0;
    bottom: auto;
  }

  .is-mounted & {
    opacity: 1;
  }
}

.main-visual__bg__main, .main-visual__bg__filter {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.2s ease-in;
  .is-filtered & {
    opacity: 1;
  }
}

.main-visual__bg__filter {
  opacity: 0;
  transition-delay: 0.1s;
  @include min() {
    background-image: url(./../../assets/img/top/img-main-filter.jpg);
  }
  @include max() {
    background-image: url(./../../assets/img/top/sp/img-main-filter.jpg);
  }
  .is-filtered & {
    opacity: 1;
    transition-delay: 0s;
  }
}

.main-visual__bg__main {
  opacity: 1;
  transition-delay: 0s;
  @include min() {
    background-image: url(./../../assets/img/top/img-main-bg.jpg);
  }
  @include max() {
    background-image: url(./../../assets/img/top/sp/img-main-bg.jpg);
  }
  .is-filtered & {
    opacity: 0;
    transition-delay: 0.1s;
  }
}

.main-visual__ttl,
.main-visual__copy {
  position: absolute;
  z-index: 10;
}

.main-visual__ttl {
  @include min() {
    @include size(pc,t,127);
    width: 54.44444444444444vw;
    left: calc(50% - 54.44444444444444vw / 2);
  }
  @include max() {
    @include size(sp,t,163);
    @include size(sp,l,62);
    @include size(sp,w,625);
  }
  img {
    width: 100%;
  }
  & > span {
    display: block;
    @include min() {
      @include size(pc,h,80);
    }
    html:not(.is-ie):not(.is-edge) & {
      clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
      transition: clip-path 1s cubic-bezier(.34,.07,.095,.995) 1.4s;
    }
    img {
      html:not(.is-ie):not(.is-edge) & {
        transition: transform 1s cubic-bezier(.34,.07,.095,.995) 1.4s;
        transform: translate3d(0,3vw,0) skewY(15deg);
        transform-origin: left;
        @include max() {
          transform: translate3d(0,30%,0) skewY(15deg);
        }
      }
    }
    &:first-child {
      @include min() {
        @include size(pc,w,777);
        @include margin(pc,0,0,33,0);
      }
      @media (max-width: 1020px) and (min-width: 768px) {
        @include margin(sp,0,0,33,0);
      }
    }
    &:last-child {
      html:not(.is-ie):not(.is-edge) & {
        transition-delay: 1.6s !important;
      }
      @include min() {
        @include size(pc,w,788);
      }
      img {
        html:not(.is-ie):not(.is-edge) & {
          transition-delay: 1.6s !important;
        }
      }
    }
    .is-mounted & {
      html:not(.is-ie):not(.is-edge) & {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
      }
      img {
        html:not(.is-ie):not(.is-edge) & {
          transform: translate3d(0,0,0) skewY(0deg);
        }
      }
    }
  }
}

.main-visual__copy {
  bottom: 29.4vw;
  right: 10.833333333333334vw;
  color: #3e3d34;
  @include max() {
    right: 0;
    @include size(sp,b, 322);
  }
  & > span {
    display: block;
    padding: 0 0.9vw 0 1.2vw;
    letter-spacing: 0.24em;
    @include max() {
      @include padding(sp,0,24,0,4);
    }
    &:first-child {
      padding-bottom: 1.5vw;
      border-bottom: 4px solid currentColor;
      @include size(pc,fs, 24);
      @include max() {
        padding-bottom: 2.66667vw;
        border-width: 2px;
        @include size(sp,fs, 28);
      }
    }
    &:last-child {
      padding-top: 1.7vw;
      @include size(pc,fs, 20);
      @include max() {
        padding-top: 3.3vw;
        @include size(sp,fs, 22);
      }
    }
  }
}

.main-visual__border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #faf160;
  @include min() {
    border-top-width: 20vw;
    border-left-width: 10.833333333333334vw;
    border-right-width: 10.833333333333334vw;
    border-bottom-width: 8.88888888888889vw;
  }
  @include max() {
    border-top-width: 38.4vw;
    border-left-width: 15.333333333333332vw;
    border-right-width: 15.333333333333332vw;
    border-bottom-width: 17.066666666666666vw;
  }
}

.top-about {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vw * 1200 / 1440);
  color: #faf160;
  z-index: 100;
  @include max() {
    @include size(sp,h,1120);
  }
  .js-link-target {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include min() {
      @include size(pc,t, -13);
      @include size(pc,w, 670);
      @include size(pc,h, 542);
    }
    @include max() {
      top: 0;
      @include size(sp,w, 670);
      @include size(sp,h, 918);
    }
  }

  .sticky-link-bt {
    &.is-active, &.is-hidden {
      @include min() {
        @include size(pc,b, 356);
      }
      @include max() {
        @include size(sp,b, 68);
      }
    }
  }
}

.top-about__inner {
  display: block;
  position: relative;
  @include size(pc,t, -13);
  @include size(pc,w, 670);
  margin: auto;
  @include max() {
    @include size(sp,t, -126);
    @include size(sp,w, 670);
  }
}

.top-about__head {
  @include margin(pc,0,0,26,0);
  @include size(pc,fs, 108);
  overflow: hidden;
  @include max() {
    @include margin(sp,0,0,48,0);
    @include size(sp,fs, 108);
  }
  span {
    display: block;
    &:first-child {
      margin-right: -0.887em;
      margin-bottom: 2px;
      letter-spacing: 0.787em;
    }
    &:last-child {
      margin-right: -0.3em;
      letter-spacing: 0.204em;
    }
  }
}

.top-about__copy {
  margin-right: -2em;
  @include size(pc,fs, 24);
  letter-spacing: 0.93em;
  @include max() {
     @include size(sp,fs, 28);
     letter-spacing: 0.65em;
  }
}

.top-about__blands {
  @include margin(pc,20,0,0,0);
  @include padding(pc,18,0,0,0);
  border-top: 4px solid currentColor;
  @include size(pc,fs, 18);
  letter-spacing: 0.133em;
  line-height: 2.23;
  @include max() {
    @include margin(sp,20,0,0,0);
    @include padding(sp,16,0,0,0);
    border-width: 2px;
    @include size(sp,fs, 20);
  }
}

.sec-interview{
  @include padding(pc,0,0,40,0);
  background: #f5c2bf;
  color: #2b10bf;
  @include max() {
    @include padding(sp,0,0,40,0);
  }

  .interview-block__visual {
    &::before {
      background-color: #f5c2bf;
    }
  }

  .interview-block-01 {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/top/img-interview-01.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/top/sp/img-interview-01.jpg);
      }
    }
  }

  .interview-block-02 {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/top/img-interview-02.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/top/sp/img-interview-02.jpg);
      }
    }
  }

  .interview-block-03 {
    .interview-block__visual {
      @include min() {
        background-image: url(./../../assets/img/top/img-interview-03.jpg);
      }
      @include max() {
        background-image: url(./../../assets/img/top/sp/img-interview-03.jpg);
      }
    }
  }
}

.sec-interview__main {
  @include padding(pc,128,100,80,100);
  @include max {
    @include padding(sp,160,0,80,100);
  }
  .main-block {
    @include size(pc,h, 544);
    @include min() {
      background-image: url(./../../assets/img/top/img-interview-main.jpg);
    }
    @include max {
      @include size(sp,h, 544);
      background-image: url(./../../assets/img/top/sp/img-interview-main.jpg);
    }
    &::before {
      right: 0;
      background: #f5c2bf;
    }
  }
  .main-block-title {
    position: relative;
    @include size(pc,w,512);
    @include size(pc,t,-62);
    @include size(pc,l,-33);
    @include margin(pc,0,0,84,0);
    @include max {
      @include size(sp,w,570);
      @include size(sp,t,-62);
      @include size(sp,l,-33);
      @include margin(sp,0,0,51,0);
    }
    &__main {
      @include margin(pc,0,0,17,0);
      margin-right: -0.52em;
      letter-spacing: 0.5em;
      @include max {
        @include margin(sp,0,0,18,0);
      }
      span:first-child {
        margin-bottom: 10px;
      }
    }
    &__sub {
      @include size(pc,fs, 16);
      letter-spacing: 0.133em;
      line-height: 2;
      @include max {
        @include size(sp,fs, 18);
      }
    }
  }
  .main-block-copy {
    @include min {
      @include size(pc,w,455);
      text-align: center;
    }
    @include max {
      display: inline-block;
      position: relative;
      @include size(sp,l,-33);
    }
  }
}

.sec-benefit {
  @include padding(pc,192,271,160,271);
  background: #eee8da;
  color: #3e3d34;
  @include max() {
    @include padding(sp,192,165,160,0);
    overflow: hidden;
  }
  .main-block {
    display: block;
    @include size(pc,h, 512);
    text-align: center;
    @include min() {
      background-image: url(./../../assets/img/top/img-benefit-main.jpg);
    }
    @include max() {
      @include size(sp,h, 512);
      background-image: url(./../../assets/img/top/sp/img-benefit-main.jpg);
    }
    &::before {
      background: #eee8da;
    }
  }
  .main-block-title {
    display: inline-block;
    position: relative;
    @include size(pc,t,-57);
    @include margin(pc,0,0,45,0);
    &__main {
      @include margin(pc,0,-56,17,0);
      margin-right: -0.52em;
      letter-spacing: 0.5em;
      @include max() {
        @include margin(sp,-28,0,0,32);
        letter-spacing: 0.468em;
        white-space: nowrap;
      }
    }
  }
  .main-block-copy {
    @include size(pc,w,543);
    text-align: left;
    letter-spacing: 0.245em;
    @include min {
      @include margin(pc,0,-271,0,0);
      margin-left: auto;
      @include size(pc,fs,20);
    }
    @include max() {
      position: absolute;
      @include size(sp,t,154);
      @include size(sp,r,-165);
      @include size(sp,w,375);
      @include padding(sp,0,0,20,0);
      letter-spacing: 0.178em;
      line-height: 1.5;
    }
  }
  .js-link-target {
    position: absolute;
    @include min {
      @include size(pc,t,192);
      @include size(pc,l,271);
      @include size(pc,w,898);
      @include size(pc,h,512);
    }
    @include max {
      @include size(sp,t,192);
      left: 0;
      @include size(sp,w,585);
      @include size(sp,h,512);
    }
  }
  .sticky-link-bt {
    &.is-active, &.is-hidden {
      @include min() {
        @include size(pc,b, 97);
      }
      @include max() {
        @include size(sp,b, 134);
      }
    }
  }
}

.sec-gallery {
  display: flex;
  @include size(pc,h, 864);
  color: #ffffff;
  @include max {
    @include size(sp,h, 864);
  }
  &__bg {
    background: #ccccca;
    @include min {
      width: 50%;
    }
    &--01 {
      @include min() {
        @include padding(pc,128,155,128,155);
      }
      @include max() {
        width: 100%;
        @include padding(sp,128,140,128,140);
      }
      .sec-gallery__bg-img {
        @include min() {
          @include size(pc,h, 608);
          background-image: url(./../../assets/img/top/img-gallery-01.jpg);
        }
        @include max() {
          width: 100%;
          height: 100%;
          background-image: url(./../../assets/img/top/sp/img-gallery-01.jpg);
        }
      }
    }
    &--02 {
      .sec-gallery__bg-img {
        height: 100%;
        background-image: url(./../../assets/img/top/img-gallery-02.jpg);
        @include max() {
          display: none;
        }
      }
    }
  }
  .sec-gallery__bg-img {
    background-size: cover;
    &::before {
      background: #ccccca;
    }
  }
  .main-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include size(pc,h, 512);
    text-align: center;
    @include max {
      @include size(sp,t, 159);
    }
  }
  .main-block-title {
    display: inline-block;
    position: relative;
    @include min {
      @include margin(pc,155,0,191,751);
    }
    @include max {
      @include margin(sp,0,0,180,0);
    }
    &__main {
      @include margin(pc,27,0,0,-38);
      @include size(pc,fs,88);
      margin-right: -0.52em;
      letter-spacing: 0.5em;
      @include max {
        @include margin(sp,27,0,0,36);
        @include size(sp,fs,88);
      }
    }
    &__sub {
      @include size(pc,fs,60);
      letter-spacing: 0.64em;
      line-height: 1.6;
      @include max {
        margin-bottom: 1vw;
        margin-right: -0.64em;
        @include size(sp,fs,60);
      }
      span {
        display: block;
      }
    }
  }
  .main-block-copy {
    position: relative;
    @include size(pc,w,600);
    @include size(pc,fs,20);
    text-align: center;
    letter-spacing: 0.245em;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      transition: height 0.1s linear;
      background-color: currentColor;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      @include min {
        @include size(pc,t,-524);
        @include size(pc,l,155);
        @include size(pc,w,410);
        @include size(pc,h,608);
      }
      @include max {
        @include size(sp,t,-512);
        @include size(sp,l,140);
        @include size(sp,w,470);
        @include size(sp,h,608);
      }
    }
    @include max {
      @include size(sp,w,635);
      @include size(sp,fs,28);
      letter-spacing: 0.285em;
      text-align: right;
    }

    &:hover {
      &::before {
        height: 4px;
      }
    }
  }

  .js-link-target {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include min {
      @include size(pc,w,1250);
      @include size(pc,h,672);
    }
    @include max {
      width: 100%;
      @include size(sp,h,608);
    }
  }
  .sticky-link-bt {
    &.is-active, &.is-hidden {
      @include min() {
        @include size(pc,b, 97);
      }
      @include max() {
        @include size(sp,b, 70);
      }
    }
  }
}

</style>
