<template>
  <div :id="id" class="entry-sec js-link-show js-changeBg" :class="addClass" data-aos="" data-color="offwhite">
    <div class="js-link-target"></div>
    <router-link to="/entry" class="main-block f-futura scroll-anime-image">
      <div class="main-block-title">
        <h2 class="main-block-title__main f-futura--m"><span class="scroll-anime-letter">ENTRY</span></h2>
        <div class="main-block-title__sub f-futura--d">Brand sales staff  / Expert sales staff </div>
      </div>
      <div class="main-block-copy main-block-copy--link f-midashi">応募内容・エントリー</div>
    </router-link>
    <div class="copyright f-futura f-futura--b">COPYRIGHT (C) S・GROOVE CO., LTD.</div>
    <slot><!--stickyLinkBt should come--></slot>
  </div>
</template>

<script>
export default {
  props: ['id', 'addClass']
}
</script>

<style lang='scss'>
@import './../../assets/style/_mixin.scss';

.entry-sec {
  position: relative;
  @include padding(pc,160,486,128,485);
  background-color: #eee8da;
  color: #2b10bf;
  @include max {
    @include padding(sp,160,140,128,141);
  }
  .main-block {
    display: block;
    @include size(pc,h, 576);
    background-image: url(./../../assets/img/common/img-entry-common.jpg);
    text-align: center;
    @include max {
      @include size(sp,h, 576);
    }
    &::before {
      background-color: #eee8da;
    }
  }
  .main-block-title {
    position: relative;
    @include size(pc,t,-62);
    @include size(pc,l,-39);
    @include margin(pc,0,-52,355,0);
    @include max {
      @include margin(sp,0,-26,348,0);
      @include size(sp,t,-56);
    }
    &__main {
      @include margin(pc,0,0,-17,0);
      margin-right: -0.7em;
      letter-spacing: 0.524em;
      html.is-windows.is-chrome & {
        margin-right: -0.89em;
      }
      @include max {
        @include margin(sp,0,0,-17,-32);
        margin-right: -0.9em;
      }
      span:first-child {
        margin-bottom: 10px;
        @include max {
          margin-bottom: 8px;
        }
      }
    }
    &__sub {
      @include margin(pc,0,0,0,40);
      @include size(pc,fs, 18);
      letter-spacing: 0.133em;
      line-height: 2;
      @include max {
        @include size(sp,fs, 20);
      }
    }
  }
  .main-block-copy {
    @include size(pc,w,558);
    @include margin(pc,0,0,0,-44);
    @include size(pc,fs, 20);
    text-align: left;
    @include max {
      @include size(sp,w,550);
      @include margin(sp,0,0,0,-42);
      @include size(sp,fs, 28);
    }
  }
  .copyright {
    color: #585850;
    @include size(pc,t,426);
    @include max {
      @include size(sp,t,214);
    }
  }

  .js-link-target {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include min {
      @include size(pc,w,1250);
      @include size(pc,h,549);
    }
    @include max {
      width: 100%;
      @include size(sp,t,16);
      @include size(sp,h,576);
    }
  }
  .sticky-link-bt {
    &.is-active, &.is-hidden {
      @include min() {
        @include size(pc,b, 127);
      }
      @include max() {
        @include size(sp,b, 70);
      }
    }
  }
}
</style>
