<template>
  <div class="header-menu">
    <ul class="f-futura f-futura--m">
      <li>
        <router-link to="/about" v-on:click.native="menuClose" class="text-hover-wrapper">
          <div class="text-hover">
            <div class="target"><span>A</span><span>A</span></div>
            <div class="target"><span>B</span><span>B</span></div>
            <div class="target"><span>O</span><span>O</span></div>
            <div class="target"><span>U</span><span>U</span></div>
            <div class="target"><span>T</span><span>T</span></div>
          </div>
        </router-link>
      </li>
      <li>
        <router-link to="/interview" v-on:click.native="menuClose" class="text-hover-wrapper">
          <div class="text-hover">
            <div class="target"><span>I</span><span>I</span></div>
            <div class="target"><span>N</span><span>N</span></div>
            <div class="target"><span>T</span><span>T</span></div>
            <div class="target"><span>E</span><span>E</span></div>
            <div class="target"><span>R</span><span>R</span></div>
            <div class="target"><span>V</span><span>V</span></div>
            <div class="target"><span>I</span><span>I</span></div>
            <div class="target"><span>E</span><span>E</span></div>
            <div class="target"><span>W</span><span>W</span></div>
          </div>
        </router-link>
      </li>
      <li>
        <router-link to="/benefit" v-on:click.native="menuClose" class="text-hover-wrapper">
          <div class="text-hover">
            <div class="target"><span>B</span><span>B</span></div>
            <div class="target"><span>E</span><span>E</span></div>
            <div class="target"><span>N</span><span>N</span></div>
            <div class="target"><span>E</span><span>E</span></div>
            <div class="target"><span>F</span><span>F</span></div>
            <div class="target"><span>I</span><span>I</span></div>
            <div class="target"><span>T</span><span>T</span></div>
          </div>
        </router-link>
      </li>
      <li>
        <router-link to="/gallery" v-on:click.native="menuClose" class="text-hover-wrapper">
          <div class="text-hover">
            <div class="target"><span>G</span><span>G</span></div>
            <div class="target"><span>A</span><span>A</span></div>
            <div class="target"><span>L</span><span>L</span></div>
            <div class="target"><span>L</span><span>L</span></div>
            <div class="target"><span>E</span><span>E</span></div>
            <div class="target"><span>R</span><span>R</span></div>
            <div class="target"><span>Y</span><span>Y</span></div>
          </div>
        </router-link>
      </li>
      <li>
        <router-link to="/entry" v-on:click.native="menuClose" class="text-hover-wrapper">
          <div class="text-hover">
            <div class="target"><span>E</span><span>E</span></div>
            <div class="target"><span>N</span><span>N</span></div>
            <div class="target"><span>T</span><span>T</span></div>
            <div class="target"><span>R</span><span>R</span></div>
            <div class="target"><span>Y</span><span>Y</span></div>
          </div>
        </router-link>
      </li>
    </ul>
    <a href="" target="blank" class="header-menu__corp f-futura f-futura--m">S-GROOVE CORPORATE SITE</a>
  </div>
</template>

<script>
import $ from 'jquery'
import Header from './_header'

export default {
  components: {
    Header
  },
  methods: {
    menuClose() {
      setTimeout(() => {
        $(window).trigger('menuClose')
      }, 300)
    }
  }
}
</script>

<style lang='scss'>
@import './../../assets/style/_mixin.scss';

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include padding(pc,0,0,90,0);
  background-color: #eee8da;
  color: #3e3d34;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s cubic-bezier(.79,.06,.79,.62);
  .is-menu-open &{
    opacity: 1;
    pointer-events: all;
    li {
      & > a {
        &::before {
          height: 0 !important;
          transition-delay: 0s;
        }
        &::after {
          background-position: 0, 0;
          transition-delay: 0s;
        }
      }
      &:last-child, &:nth-child(2) {
        & > a {
          &::before, &::after {
            transition-delay: 0.15s;
          }
        }
      }
    }
  }
  ul {
    width: 100%;
    @include padding(pc,168,0,90,0);
    @include size(pc,fs,57);
    letter-spacing: 0.13em;
    text-align: center;
    @include max() {
      @include padding(sp,180,0,90,0);
      @include size(sp,fs,60);
      letter-spacing: 0.09em;
    }
    li {
      position: relative;
      & > a {
        position: relative;
        display: inline-block;
        @include max() {
          display: block;
          @include padding(sp,40,0,40,0);
          .text-hover {
            justify-content: center;
          }
        }
        &::before, &::after {
          content: "";
          display: block;
          position: absolute;
          background-size: cover;
          @include max() {
            display: none;
          }
        }
        &::before {
          background-color: #eee8da;
          transition: height 0.8s cubic-bezier(.34,.07,.095,.995) 1s;
          z-index: 10;
        }
        &::after {
          z-index: 0;
          background-position: 0 2vw;
          transition: background-position 0.8s cubic-bezier(.34,.07,.095,.995) 1s;
          .is-ie & {
            background-position: 0 0;
          }
        }

        .text-hover {
          display: flex;
          position: relative;
          z-index: 10;
          @include max() {
            height: 1.02em;
          }
        }
      }

      &:first-child {
        @include min() {
          @include size(pc,l,-29);
          @include margin(pc,0,0,87,0);
        }
        & > a {
          &::before, &::after {
            @include min() {
              @include size(pc,t,-104);
              @include size(pc,l,-211);
              @include size(pc,w,239);
            }
          }
          &::before {
            @include min() {
              @include size(pc,h,288*0.4);
            }
          }
          &::after {
            @include min() {
              @include size(pc,h,288);
              background-image: url(./../../assets/img/common/img-menu-01.jpg);
            }
          }
        }
      }

      &:nth-child(2) {
        @include min() {
          @include size(pc,l,102);
          @include margin(pc,0,0,118,0);
        }
        & > a {
          &::before, &::after {
            @include min() {
              @include size(pc,t,-136);
              @include size(pc,r,-249);
              @include size(pc,w,296);
            }
          }
          &::before {
            @include min() {
              @include size(pc,h,224*0.4);
            }
          }
          &::after {
            @include min() {
              @include size(pc,h,224);
              background-image: url(./../../assets/img/common/img-menu-02.jpg);
            }
          }
        }
      }

      &:nth-child(3) {
        @include min() {
          @include size(pc,l,-162);
          @include margin(pc,0,0,56,0);
        }
        & > a {
          &::before, &::after {
            @include min() {
              @include size(pc,t,-101);
              @include size(pc,l,-222);
              @include size(pc,w,272);
            }
          }
          &::before {
            @include min() {
              @include size(pc,h,288*0.4);
            }
          }
          &::after {
            @include min() {
              @include size(pc,h,288);
              background-image: url(./../../assets/img/common/img-menu-03.jpg);
            }
          }
        }
      }

      &:nth-child(4) {
        @include min() {
          @include size(pc,l,68);
          @include margin(pc,0,0,83,0);
        }
        & > a {
          &::before, &::after {
            @include min() {
              @include size(pc,t,-199);
              @include size(pc,r,-202);
              @include size(pc,w,239);
            }
          }
          &::before {
            @include min() {
              @include size(pc,h,288*0.4);
            }
          }
          &::after {
            @include min() {
              @include size(pc,h,288);
              background-image: url(./../../assets/img/common/img-menu-04.jpg);
            }
          }
        }
      }

      &:last-child {
        margin-right: -0.23em;
      }
    }
  }
  &__corp {
    display: block;
    margin-right: -0.2em;
    @include size(pc,fs,20);
    letter-spacing: 0.2em;
    text-align: center;
    @include max() {
      @include size(sp,fs,20);
    }
  }
}
</style>
