<template>
  <div id="header" class="header">
    <router-link to="/" class="header__logo" @click.native="menuClose()">
      <img src="./../../assets/img/common/img-logo.svg" alt="">
      <div class="f-futura f-futura--b">NEW GRADUATES 2020</div>
    </router-link>
    <div class="header__nav dn-sp">
      <ul class="f-futura f-futura--b">
        <li>
          <router-link to="/about" class="text-hover">
            <div class="target"><span>A</span><span>A</span></div>
            <div class="target"><span>B</span><span>B</span></div>
            <div class="target"><span>O</span><span>O</span></div>
            <div class="target"><span>U</span><span>U</span></div>
            <div class="target"><span>T</span><span>T</span></div>
          </router-link>
        </li>
        <li>
          <router-link to="/interview" class="text-hover">
            <div class="target"><span>I</span><span>I</span></div>
            <div class="target"><span>N</span><span>N</span></div>
            <div class="target"><span>T</span><span>T</span></div>
            <div class="target"><span>E</span><span>E</span></div>
            <div class="target"><span>R</span><span>R</span></div>
            <div class="target"><span>V</span><span>V</span></div>
            <div class="target"><span>I</span><span>I</span></div>
            <div class="target"><span>E</span><span>E</span></div>
            <div class="target"><span>W</span><span>W</span></div>
          </router-link>
        </li>
        <li>
          <router-link to="/benefit" class="text-hover">
            <div class="target"><span>B</span><span>B</span></div>
            <div class="target"><span>E</span><span>E</span></div>
            <div class="target"><span>N</span><span>N</span></div>
            <div class="target"><span>E</span><span>E</span></div>
            <div class="target"><span>F</span><span>F</span></div>
            <div class="target"><span>I</span><span>I</span></div>
            <div class="target"><span>T</span><span>T</span></div>
          </router-link>
        </li>
        <li>
          <router-link to="/gallery" class="text-hover">
            <div class="target"><span>G</span><span>G</span></div>
            <div class="target"><span>A</span><span>A</span></div>
            <div class="target"><span>L</span><span>L</span></div>
            <div class="target"><span>L</span><span>L</span></div>
            <div class="target"><span>E</span><span>E</span></div>
            <div class="target"><span>R</span><span>R</span></div>
            <div class="target"><span>Y</span><span>Y</span></div>
          </router-link>
        </li>
        <li>
          <router-link to="/entry" class="text-hover">
            <div class="target"><span>E</span><span>E</span></div>
            <div class="target"><span>N</span><span>N</span></div>
            <div class="target"><span>T</span><span>T</span></div>
            <div class="target"><span>R</span><span>R</span></div>
            <div class="target"><span>Y</span><span>Y</span></div>
          </router-link>
        </li>
      </ul>
    </div>
    <div class="header__menu-open f-futura f-futura--b text-hover" :class="classList" v-touch:tap="menuOpne">
      <div class="header__menu-open__letters header__menu-open__letters--01 ">
        <div class="target target--01"><span>{{ buttonTxt01 }}</span><span>{{ buttonTxt02 }}</span></div>
        <div class="target target--02"><span>{{ buttonTxt03 }}</span><span>{{ buttonTxt04 }}</span></div>
      </div>
      <div class="header__menu-open__letters header__menu-open__letters--02">
        <div class="target target--03"><span>{{ buttonTxt05 }}</span><span>{{ buttonTxt06 }}</span></div>
        <div class="target target--04"><span>{{ buttonTxt07 }}</span><span>{{ buttonTxt08 }}</span></div>
      </div>
    </div>
    <div class="copyright header__copy f-futura f-futura--b">COPYRIGHT (C) S・GROOVE CO., LTD.</div>
  </div>
</template>

<script>
import $ from 'jquery'
import StickyLinkBt from './../parts/_stickyLinkBt'

export default {
  components: {
    StickyLinkBt
  },
  data() {
    return {
      classList: '',
      buttonTxt01: 'M',
      buttonTxt02: 'M',
      buttonTxt03: 'E',
      buttonTxt04: 'E',
      buttonTxt05: 'N',
      buttonTxt06: 'N',
      buttonTxt07: 'U',
      buttonTxt08: 'U'
    }
  },
  mounted() {
    this.htmlClassList = document.getElementsByTagName('html')[0].classList
    $(window).on('menuClose', this.menuClose)
  },
  methods: {
    menuOpne() {
      if (this.htmlClassList.contains('is-menu-open') === true) {
        $('html').css({
          position: '',
          width: '',
          top: ''
        })
        window.scroll(0, this.current_scrollY)

        this.htmlClassList.remove('is-menu-open')
        this.buttonTxt02 = 'M'
        this.buttonTxt04 = 'E'
        this.buttonTxt06 = 'N'
        this.buttonTxt08 = 'U'
        this.classList = 'is-animate'
        setTimeout(() => {
          this.buttonTxt01 = 'M'
          this.buttonTxt03 = 'E'
          this.buttonTxt05 = 'N'
          this.buttonTxt07 = 'U'
          this.classList = ''
        }, 1000)
      } else {
        this.current_scrollY = window.scrollY || window.pageYOffset

        setTimeout(() => {
          $('html').css({
            position: 'fixed',
            width: '100%'
          })
        }, 400)

        this.htmlClassList.add('is-menu-open')
        this.buttonTxt02 = 'C'
        this.buttonTxt04 = 'L'
        this.buttonTxt06 = 'S'
        this.buttonTxt08 = 'E'
        this.classList = 'is-animate'
        setTimeout(() => {
          this.buttonTxt01 = 'C'
          this.buttonTxt03 = 'L'
          this.buttonTxt05 = 'S'
          this.buttonTxt07 = 'E'
          this.classList = ''
        }, 1000)
      }
    },
    menuClose() {
      this.htmlClassList.remove('is-menu-open')
      this.buttonTxt02 = 'M'
      this.buttonTxt04 = 'E'
      this.buttonTxt06 = 'N'
      this.buttonTxt08 = 'U'
      this.classList = 'is-animate'

      $('html').css({
        position: '',
        width: '',
        top: ''
      })

      setTimeout(() => {
        this.buttonTxt01 = 'M'
        this.buttonTxt03 = 'E'
        this.buttonTxt05 = 'N'
        this.buttonTxt07 = 'U'
        this.classList = ''
      }, 1000)
    }
  }
}
</script>

<style lang='scss'>
@import './../../assets/style/_mixin.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #585850;
  &__logo,
  &__nav,
  &__menu-open {
    position: absolute;
  }
  &__nav,
  &__menu-open {
    z-index: 800;
  }
  &__logo {
    z-index: 1100;
    top: 0;
    left: 0;
    box-sizing: content-box;
    @include min() {
      @include padding(pc,36,40,36,40);
      @include size(pc,w, 168);
      @include size(pc,fs, 13);
    }
    @include max() {
      @include padding(sp,38,34,38,34);
      @include size(sp,w, 195);
      @include size(sp,fs, 14);
    }
    img {
      display: block;
      width: 100%;
      @include margin(pc,0,0,11,0);
    }
    .f-futura--b {
      letter-spacing: 0.13em;
      margin-right: -0.24em;
      @include max() {
        transform-origin: left;
        letter-spacing: 0.2em;
        margin-right: -4.7em;
      }
      .is-edge &,.is-ie &, .is-firefox & ,.is-safari & {
        margin-right: -0.6em;
      }
    }
    .is-menu-open & {
      position: fixed;
      animation: opacityLogo 0.3s ease;
    }

    @keyframes opacityLogo {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  &__nav {
    left: calc(50% + 1px);
    @include size(pc,t, 31);
    transform: translateX(-50%);
    ul {
      display: flex;
      @include size(pc,fs, 17);
      letter-spacing: 0.11em;
    }
    li {
      &:not(:last-child) {
        @include min() {
          @include margin(pc,0,40,0,0);
          @include size(pc,t, 34);
        }
      }
    }
  }
  &__menu-open {
    display: block;
    position: fixed;
    top: 0;
    margin-right: -0.44em;
    border-left: 2px solid #000;
    letter-spacing: 0.37em;
    line-height: 1.49;
    cursor: pointer;
    z-index: 1200;
    @include min() {
      right: 0;
      @include size(pc,w, 107);
      @include padding(pc,20,0,3,29);
      @include size(pc,fs, 18);
    }
    @include max() {
      @include size(sp,r, 11);
      @include size(sp,w, 97);
      @include padding(sp,22,0,15,29);
      @include size(sp,fs, 20);
      letter-spacing: 0.57em;
    }
    &.text-hover {
      height: auto;
    }
    &.is-animate {
      pointer-events: none
    }
  }
}
.header__menu-open__letters {
  display: flex;
  height: 1.4em;
  overflow: hidden;
  .target {
    @include min() {
      width: 1.24em;
    }
    @include max() {
      width: 1.24em;
    }
  }
  .is-animate & {
    .target {
      span {
        animation: textHover 0.3s ease 0s forwards;
      }
    }
  }

  @keyframes textHover {
    0% {
      transform: translate3d(0,0,0);
    }
    100% {
      transform: translate3d(0,-100%,0);
    }
  }
}
.copyright {
  position: absolute;
  -webkit-font-smoothing: antialiased;
  z-index: 800;
  @include min() {
    @include size(pc,t, 534);
    @include size(pc,l, -165);
    @include size(pc,fs, 13);
    letter-spacing: 0.37em;
    transform: rotate3d(0, 0, 1, 90deg);
  }
  @include max() {
    @include size(sp,t, 616);
    @include size(sp,l, -248);
    @include size(sp,fs, 16);
    letter-spacing: 0.32em;
    transform: rotate3d(0, 0, 1, 90deg) scale3d(0.8, 0.8, 1);
  }
  img {
    width: 100%;
  }
}
</style>
