<template>
  <div :id="id" class="interview-block f-futura" :class="addClass" data-aos="" :data-color="dataColor">
    <div class="js-link-target"></div>
    <div class="interview-block__visual scroll-anime-image"></div>
    <div class="interview-block__detail">
      <div class="interview-block__title f-futura--b" v-html="title"></div>
      <router-link :to="url" class="interview-block__detail-box" :class="detailAddClass">
        <div class="interview-block__detail-box__inner">
          <div class="interview-block__detail__head">
            <div class="interview-block__job f-futura--m" v-html="job.replace(/\n/g,'<br/>')"></div>
            <div class="interview-block__name">
              <span class="f-futura--b">{{ name }}</span>
            </div>
          </div>
          <div class="interview-block__detail__foot f-midashi">
            <div class="interview-block__copy"  v-html="copy.replace(/\n/g,'<br/>')"></div>
            <div class="interview-block__work-year">{{ year }}</div>
          </div>
        </div>
      </router-link>
    </div>
    <slot><!--stickyLinkBt should come--></slot>
  </div>
</template>

<script>
import stickyLinkBt from './../parts/_stickyLinkBt.vue'

export default {
  props: ['title', 'id', 'addClass', 'dataColor', 'job', 'name', 'copy', 'year', 'url', 'detailAddClass'],
  components: {
    stickyLinkBt
  }
}
</script>

<style lang='scss'>
@import './../../assets/style/_mixin.scss';

.interview-block {
  position: relative;
  @include margin(pc,40,0,80,0);
  @include padding(pc,40,0,40,0);
  @include max {
    @include margin(sp,48,0,80,0);
    @include padding(sp,48,0,40,0);
  }
  &--type01 {
    .interview-block__visual {
      @include size(pc,w, 557);
      @include size(pc,h, 768);
      @include min {
        @include margin(pc,0,0,0,158);
      }
      @include max {
        @include size(sp,w, 479);
        @include size(sp,h, 609);
        margin-top: 27.8%;
      }
    }
    .interview-block__detail {
      @include size(pc,r, 156);
      @include min {
        top: 8.5%;
      }
      @include max {
        top: 0;
        @include size(sp,r, 40);
      }
    }
    .interview-block__detail-box {
      @include size(pc,w, 1012);
      @include size(pc,h, 576);
      @include max {
        @include size(sp,w, 543);
        @include size(sp,h, 576);
        @include padding(sp,68,0,0,0);
      }
    }
    .interview-block__detail-box__inner {
      @include min {
        text-align: right;
      }
    }
    .interview-block__detail__head {
      @include min {
        @include padding(pc,70,56,82,0);
        text-align: left;
      }
    }
    .interview-block__detail__foot {
      @include min {
        @include margin(pc,0,0,0,390);
        text-align: right;
      }
      @include max {
        @include size(sp,w,388);
        margin: auto;
      }
    }
    .interview-block__copy {
      margin-right: -0.24em;
    }
    .is-stafftrainer {
      @include min {
        margin-right: -0.42em;
      }
    }
    .is-shopmanager {
      @include min {
        margin-right: -0.65em;
      }
    }
    .sticky-link-bt.is-active, .sticky-link-bt.is-hidden {
      @include min {
        @include size(pc,b,136);
      }
      @include max {
        @include size(sp,b,80);
      }
    }
    .js-link-target {
      position: absolute;
      @include size(pc,l, 272);
      @include size(pc,t, 136);
      @include size(pc,w, 1012);
      @include size(pc,h, 576);
      @include max {
        @include size(sp,l, 166);
        @include size(sp,t, 64);
        @include size(sp,w, 543);
        @include size(sp,h, 369*2);
      }
    }
  }
  &--type02 {
    .interview-block__visual {
      @include size(pc,w, 885);
      @include size(pc,h, 576);
      margin-left: auto;
      @include max {
        @include size(sp,w, 531);
        @include size(sp,h, 576);
        margin-top: -5.4%;
        margin-bottom: 25.8%;
      }
    }
    .interview-block__detail {
      top: 11.1%;
      @include size(pc,l, 100);
      @include max {
        top: 12.2%;
        @include size(sp,l, 40);
      }
    }
    .interview-block__detail-box {
      @include size(pc,w, 842);
      @include size(pc,h, 576);
      @include max {
        @include size(sp,w, 544);
        @include size(sp,h, 576);
        @include padding(sp,68,0,0,0);
      }
    }
    .interview-block__detail__foot {
      @include max {
        @include size(sp,w, 388);
        margin: auto;
      }
    }
    .interview-block__job {
      @include min {
        @include margin(pc,0,0,7,0);
      }
    }
    .interview-block__detail__head {
      @include min {
        @include padding(pc,70,0,53,63);
      }
    }
    .interview-block__detail__foot {
      @include min {
        @include margin(pc,0,0,0,223);
      }
    }
    .sticky-link-bt.is-active, .sticky-link-bt.is-hidden {
      @include min {
        @include size(pc,b,-57);
      }
      @include max {
        @include size(sp,b,58);
      }
    }
    .js-link-target {
      position: absolute;
      @include size(pc,l, 100);
      @include size(pc,t, 137);
      @include size(pc,w, 842);
      @include size(pc,h, 576);
      @include max {
        @include size(sp,l, 40);
        @include size(sp,t, 164);
        @include size(sp,w, 544);
        @include size(sp,h, 576);
      }
    }
  }
  &--type03 {
    .interview-block__visual {
      @include size(pc,w, 728);
      @include size(pc,h, 736);
      @include min {
        @include margin(pc,223,0,0,100);
      }
      @include max {
        @include size(sp,w, 479);
        @include size(sp,h, 608);
        margin-top: 32.1%;
      }
    }
    .interview-block__detail {
      top: 13%;
      @include size(pc,r, 156);
      @include max {
        top: 0.1%;
        right: 0;
      }
    }
    .interview-block__detail-box {
      @include size(pc,w, 900);
      @include size(pc,h, 612);
      @include max {
        @include size(sp,w, 583);
        @include size(sp,h, 576);
        border-right: 0;
        @include padding(sp,68,0,0,0);
      }
    }
    .interview-block__detail-box__inner {
      @include max {
        text-align: center;
      }
    }
    .interview-block__job {
      @include margin(pc,0,0,26,0);
    }
    .interview-block__detail__head {
      @include min {
        @include padding(pc,70,0,98,321);
      }
      @include max {
        text-align: left;
      }
    }
    .interview-block__detail__foot {
      @include min {
        @include margin(pc,0,0,0,564);
      }
      @include max {
        @include size(sp,w, 382);
        margin-left: auto;
        text-align: left;
      }
    }
    .interview-block__copy {
      margin-right: -0.24em;
    }
    .sticky-link-bt.is-active, .sticky-link-bt.is-hidden {
      @include min {
        @include size(pc,b,224);
      }
      @include max {
        @include size(sp,b,110);
      }
    }
    .js-link-target {
      position: absolute;
      @include size(pc,l, 384);
      @include size(pc,t, 199);
      @include size(pc,w, 900);
      @include size(pc,h, 612);
      @include max {
        left: auto;
        @include size(sp,r, 0);
        @include size(sp,t, 66);
        @include size(sp,w, 583);
        @include size(sp,h, 369*2);
      }
    }
  }
}

.interview-block__visual {
  background-size: cover;
}

.interview-block__detail {
  position: absolute;
  @include max {
    overflow: hidden;
  }
}

.interview-block__detail-box {
  display: block;
  position: relative;
  border: 6px solid currentColor;
  transition: border 0.3s ease-in;
  @include max {
    border-width: 3px;
  }
  @media screen and (min-width: 1680px) {
    border-width: 8px;
  }
  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background-color: currentColor;
    transition: height 0.1s linear;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  &:hover {
    @include min {
      &::before, &::after {
        height: 4px;
        @media screen and (min-width: 1680px) {
          height: 5px;
        }
      }
      .interview-block__detail-box__inner {
        &::before, &::after {
          width: 4px;
          @media screen and (min-width: 1680px) {
            width: 5px;
          }
        }
      }
    }
  }
}

.interview-block__detail-box__inner {
  @include min {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 0;
      height: 100%;
      background-color: currentColor;
      transition: width 0.1s ease;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}

.interview-block__title {
  display: flex;
  align-items: center;
  justify-content: center;
  @include margin(pc,0,-9,30,0);
  @include size(pc,fs, 20);
  letter-spacing: 0.53em;
  @include max {
    @include margin(sp,0,-9,30,0);
    @include size(sp,fs, 18);
    letter-spacing: 0.52em;
  }
  .num {
    @include margin(pc,0,0,0,10);
    @include size(pc,fs, 26);
    letter-spacing: 0.14em;
    @include max {
      @include margin(sp,0,0,0,10);
      @include size(sp,fs, 26);
    }
  }
}

.interview-block__detail__head {
  display: inline-block;
  @include max {
    display: block;
    width: fit-content;
    margin: auto;
    @include padding(sp,0,0,76,0);
  }
}

.interview-block__job {
  @include size(pc,fs, 88);
  @include margin(pc,0,0,9,0);
  line-height: 1.14;
  @include max {
    @include size(sp,fs, 88);
    @include margin(sp,0,0,9,0);
    white-space: nowrap;
  }
}

.four-letters {
  letter-spacing: 0.53em;
}
.five-letters {
  letter-spacing: 0.38em;
}
.six-letters {
  letter-spacing: 0.276em;
  @include max {
    letter-spacing: 0.1em;
    margin-right: -0.1em;
  }
}
.is-shopmanager {
  .five-letters {
    letter-spacing: 0.87em;
    margin-right: -0.87em;
    @include max {
      letter-spacing: 0.63em;
      margin-right: -0.63em;
    }
  }
}
.is-stafftrainer {
  @include max {
    @include margin(sp,0,-52,0,0)
  }
  span:first-child {
    letter-spacing: 0.58em;
  }
  span:last-child {
    letter-spacing: 0.36em;
  }
}
.is-blandmanager {
  @include min {
    margin-right: -0.59em;
    html.is-windows.is-chrome & {
      margin-right: -0.66em;
    }
  }
  @include max {
    margin-right: -0.76em;
  }
  span:first-child {
    @include min {
      letter-spacing: 0.58em;
    }
    @include max {
      letter-spacing: 0.38em;
    }
  }
  span:last-child {
    @include min {
      margin-left: -0.03em;
      letter-spacing: 0.29em;
    }
    @include max {
      margin-left: -0.03em;
      letter-spacing: 0.11em;
    }
  }
}

.interview-block__name {
  @include padding(pc,0,0,0,7);
  @include size(pc,fs, 18);
  letter-spacing: 0.2em;
  @include max {
    @include size(sp,fs, 20);
    letter-spacing: 0.12em;
  }
  .interview-block__age {
    &::before {
      content: "/";
      display: inline-block;
      @include padding(pc,0,4,0,0);
    }
  }
}

.interview-block__detail__foot {
  position: relative;
  @include min {
    @include size(pc,w, 386);
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    @include size(pc,b, 36);
    width: 100%;
    border-bottom: 4px solid currentColor;
    @include max {
      @include size(sp,b, 38);
      border-width: 2px;
    }
  }
}

.interview-block__copy {
  @include padding(pc,0,0,42,0);
  @include size(pc,fs, 24);
  letter-spacing: 0.24em;
  line-height: (32 / 24);
  @include max {
    @include padding(sp,0,0,34,0);
    @include size(sp,fs, 28);
  }
}

.interview-block__work-year {
  @include size(pc,fs, 14);
  letter-spacing: 0.1em;
  @include max {
    @include size(sp,fs, 18);
    letter-spacing: 0.3em;
  }
}

.interview-block--next {
  margin: 0;

  &.interview-block--type01 {
    @include min {
      padding: 0;
    }
    @include max {
      @include padding(sp,160,0,0,0);
    }
    .interview-block__visual {
      @include max {
        margin: 0;
      }
    }
    .interview-block__detail {
      @include max {
        @include size(sp,t, -88);
      }
    }
    .interview-block__detail__foot {
      @include max {
        @include margin(sp,0,42,0,0);
        margin-left: auto;
        text-align: right;
      }
    }
    .js-link-target {
      @include min {
        @include size(pc,t, 94);
      }
      @include max {
        @include size(sp,t, -32);
      }
    }
    .sticky-link-bt {
      &.is-active, &.is-hidden {
        @include min {
          @include size(pc,b, 65);
        }
        @include max {
          @include size(sp,b, 40);
        }
      }
    }
  }

  &.interview-block--type02 {
    @include min {
      @include padding(pc,0,0,191,0);
    }
    @include max {
      @include margin(sp,0,0,-116,0);
    }
    .interview-block__visual {
      @include max {
        @include size(sp,t, -200);
      }
    }
    .interview-block__detail {
      @include min {
        @include size(pc,t, 33);
      }
      @include max {
        @include size(sp,t, -94);
      }
    }
    .interview-block__detail__foot {
      @include min {
        @include margin(pc,0,0,0,280);
      }
    }
    .js-link-target {
      @include min {
        @include size(pc,t, 94);
      }
      @include max {
        @include size(sp,t, -38);
      }
    }
    .sticky-link-bt {
      &.is-active, &.is-hidden {
        @include min {
          @include size(pc,b, 97);
        }
        @include max {
          @include size(sp,b, 254);
        }
      }
    }
  }

  &.interview-block--type03 {
    @include min {
      @include padding(pc,0,0,32,0);
    }
    @include max {
      @include padding(sp,96,0,0,0);
    }
    .interview-block__visual {
      margin-top: 0;
    }
    .interview-block__detail {
      @include min {
        top: -16.4%;
      }
      @include max {
        top: -26.1%;
      }
    }
    .js-link-target {
      @include min {
        @include size(pc,t, -65);
      }
      @include max {
        @include size(sp,t, -130);
      }
    }
    .sticky-link-bt {
      &.is-active, &.is-hidden {
        @include min {
          @include size(pc,b, 221);
        }
        @include max {
          @include size(sp,b, 70);
        }
      }
    }
  }

  &-01 {
    background-color: #f5c2bf;
    color: #2b10bf;
    .interview-block__visual {
      &::before {
        background-color: #f5c2bf;
      }
    }
  }

  &-02 {
    background-color: #8bc4c4;
    color: #fff9a9;
    .interview-block__visual {
      &::before {
        background-color: #8bc4c4;
      }
    }
  }

  &-03 {
    background-color: #d3e7e7;
    color: #ee5b62;
    .interview-block__visual {
      &::before {
        background-color: #d3e7e7;
      }
    }
  }

  .interview-block__title {
    @include min {
      @include margin(pc,0,-9,35,0);
    }
  }
}

</style>
