<template>
  <div v-bind:class="{
    'sticky-link-bt': true,
    'f-futura': true,
    'f-futura--b': true,
    'is-shown': isShown,
    'is-active': isActive,
    'is-hidden': isHidden,
    'is-yellow': type === 'yellow',
    'is-blue': type === 'blue',
    'is-brown': type === 'brown',
    'is-white': type === 'white',
    'is-entry': type === 'entry',
    'is-first': type === 'first',
    'is-light-yellow': type === 'light-yellow'
  }">

    <router-link v-if="to && type != 'entry' && type != 'entry-page'" v-bind:to="to" class="text-hover">
      <div class="sticky-link-bt__look">
        <div class="sticky-link-bt__look__letters sticky-link-bt__look__letters--01 ">
          <div class="target target--01"><span>L</span><span>L</span></div>
          <div class="target target--02"><span>O</span><span>O</span></div>
        </div>
        <div class="sticky-link-bt__look__letters sticky-link-bt__look__letters--02">
          <div class="target target--03"><span>O</span><span>O</span></div>
          <div class="target target--04"><span>K</span><span>K</span></div>
        </div>
      </div>
    </router-link>
    <router-link v-if="to && type === 'entry'" v-bind:to="to" class="text-hover">
      <div class="sticky-link-bt__look">
        <div class="sticky-link-bt__look__letters sticky-link-bt__look__letters--01">
          <div class="target target--01"><span>J</span><span>J</span></div>
          <div class="target target--02"><span>O</span><span>O</span></div>
        </div>
        <div class="sticky-link-bt__look__letters sticky-link-bt__look__letters--02">
          <div class="target target--03"><span>I</span><span>I</span></div>
          <div class="target target--04"><span>N</span><span>N</span></div>
        </div>
      </div>
    </router-link>
    <a v-if="to && type === 'entry-page'" v-bind:href="to" class="text-hover" target="_blank" onclick="ga('send', 'event', 'link', 'click');">
      <div class="sticky-link-bt__look">
      </div>
    </a>
    <div v-if="!to">
      <div class="sticky-link-bt__look">
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    to: { // リンクつけない時はfalseを与える
      type: [String, Boolean],
      default: false
    },
    isShown: Boolean, // 棒だけでていて、表示待機中。fixed
    isActive: Boolean, // lookとでてる
    isHidden: Boolean, // 過ぎ去って非表示になる
    type: {
      type: String,
      default: ''
    } // yellow or blue
  }
}
</script>

<style lang='scss'>
@import './../../assets/style/_mixin.scss';

.sticky-link-bt {
  position: fixed;
  @include size(pc,r, 97);
  bottom: (64 / 864 * 100vh);
  width: 2px;
  @include size(pc,h, 64);
  text-align: center;
  z-index: 300;
  @include max {
    bottom: (40 / 667 * 100vh);
    @include size(sp,r, 96);
    @include size(sp,h, 100);
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: currentColor;
    transition: height 0.15s ease;
  }
  & > a {
    display: block;
    position: relative;
    @include size(pc,w, 75);
    @include size(pc,h, 69);
    pointer-events: none;
    @include max {
      @include size(sp,w, 80);
      height: auto;
    }
  }
  .sticky-link-bt__look {
    display: block;
    position: relative;
    margin-right: -0.4em;
    @include padding(pc,0,0,0,16);
    color: currentColor;
    letter-spacing: 0.37em;
    line-height: 1.49;
    cursor: pointer;
    opacity: 0;
    clip-path: polygon(0 0,32% 0,15% 100%,0 100%);
    transition: clip-path 0.1s ease,-webkit-clip-path 0.1s ease, opacity 0.1s ease 0.1s;
    @include min() {
      right: 0;
      @include size(pc,w, 75);
      @include size(pc,h, 73);
      @include size(pc,fs, 18);
    }
    @include max() {
      @include size(sp,w, 97);
      @include size(sp,h, 80);
      @include padding(sp,0,0,0,20);
      @include size(sp,fs, 20);
      letter-spacing: 0.57em;
    }
    &::before, &::after  {
    content: "";
    display: block;
    position: absolute;
    }
    &::before {
      left: 0;
      @include size(pc,b,9);
      width: 0;
      height: 2px;
      border-bottom: 2px solid currentColor;
      border-right: 2px solid transparent;
      transition: width 0.15s ease;
    }
    &::after {
      @include size(pc,b, 8);
      @include size(pc,r, 7);
      width: 2px;
      @include size(pc,h, 14);
      transform: rotateZ(-45deg);
      transform-origin: right;
      border-bottom: 2px solid transparent;
      border-right: 2px solid currentColor;
      opacity: 0;
      @include max {
        bottom: 2px;
        @include size(sp,r, 23);
        @include size(sp,h, 16);
      }
    }
  }
  .sticky-link-bt__look__letters {
    display: flex;
    height: 1.4em;
    overflow: hidden;
    .target {
      width: 1em;
    }
    .target--03 {
      width: 1.1em;
    }
  }
  &.is-shown {
    &::before {
      top: 0;
      height: 100%;
    }
    &.is-active, &.is-hidden {
      &::before {
        transition-delay: 0s;
      }
    }
  }
  &.is-active {
    position: absolute;
    &::before {
      top: auto;
      bottom: 0;
      height: 0;
    }
    .sticky-link-bt__look {
      &::before {
        @include size(pc,w, 74);
        transition: width 0.15s ease 0.17s;
        @include max {
          @include size(sp,w, 80);
        }
      }
      &::after {
        opacity: 1;
        transition: opacity 0.1s ease 0.32s;
      }
    }
    & > a {
      pointer-events: auto;
      .sticky-link-bt__look {
        opacity: 1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: clip-path 0.4s ease,-webkit-clip-path 0.4s ease, opacity 0.1s ease;
      }
    }
  }
  &.is-hidden {
    position: absolute;
    &::before {
      top: auto;
      bottom: 0;
      transition-delay: 0s;
      height: 0;
    }
  }

  &.is-first.is-shown {
    &::before {
      animation: barAnime 1.8s ease-in-out 0.5s forwards;
    }
  }

  &.is-yellow {
    color: #faf160;
  }

  &.is-blue {
    color: #2b10bf;
  }

  &.is-first, &.is-brown {
    color: #3e3d34;
  }

  &.is-red {
    color: #ee5b62;
  }

  &.is-light-yellow {
    color: #fff9a9;
  }
}

@keyframes barAnime {
  0% {
    bottom: auto;
    top: 0;
    height: 100%;
  }
  1% {
    bottom: 0;
    top: auto;
  }
  25% {
    bottom: 0;
    top: auto;
    height: 0;
  }
  26% {
    bottom: auto;
    top: 0;
  }
  50% {
    bottom: auto;
    top: 0;
    height: 100%;
  }
  51% {
    bottom: 0;
    top: auto;
  }
  75% {
    bottom: 0;
    top: auto;
    height: 0;
  }
  76% {
    bottom: auto;
    top: 0;
  }
  100% {
    bottom: auto;
    top: 0;
    height: 100%;
  }
}
</style>
