<template>
  <button @click="$emit('input', id)" :class="[active, 'tab']" class="f-futura f-futura--d">
    {{ label }}
  </button>
</template>

<script>
export default {
  props: {
    id: Number,
    label: String,
    value: Number
  },
  computed: {
    active() {
      return this.value === this.id ? 'active' : false
    }
  }
}
</script>

<style lang='scss'>
@import './../../assets/style/_mixin.scss';

button {
  display: block;
  padding: 0;
  border: 0;
  background-color: inherit;
  color: currentColor;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}
</style>
