<template>
<div id="app" :class="classList" :data-color="dataBg">
  <Header/>
  <transition :name="transitionName" :duration='400' mode="out-in">
    <router-view/>
  </transition>
</div>
</template>

<script>
import Header from './components/parts/_header.vue'

export default {
  name: 'App',
  components: {
    Header
  },
  data() {
    return {
      dataBg: '',
      classList: '',
      transitionName: 'slide-left',
      waypointsInstances: []
    }
  },
  watch: {
    $route(to, from) {
      const toDepth = to.path === '/' ? 1 : to.path.split('/').length
      const fromDepth = from.path === '/' ? 1 : from.path.split('/').length
      this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
      if (to.path !== from.path) {
        this.dataBg = ''
        this.waypointsInstances.forEach(instance => {
          instance.destroy()
        })
        this.changeMeta(to)
        setTimeout(() => {
          this.handleScroll()
        }, 500)
      }
    }
  },
  mounted() {
    const to = this.$route
    this.classList = 'is-mounted'

    this.handleScroll()
    this.changeMeta(to)
  },
  methods: {
    handleScroll() {
      const elems = this.$el.getElementsByClassName('js-changeBg')
      const nodes = Array.prototype.slice.call(elems, 0)
      const me = this
      nodes.forEach((elem, idx) => {
        me.waypointsInstances.push(
          new window.Waypoint({
            element: elem,
            handler: (direction) => {
              if (direction === 'down') {
                me.dataBg = elem.dataset.color
              } else {
                const before = idx > 0 ? idx - 1 : 0
                me.dataBg = nodes[before].dataset.color
              }
            },
            offset: '50%'
          })
        )
      })
    },
    changeMeta(to) {
      const title = to.meta.title
      const description = to.meta.description
      const keywords = to.meta.keywords
      const url = to.path
      document.title = title
      document.querySelector('meta[property="og:title"]').setAttribute('content', title)
      document.querySelector('meta[property="og:description"]').setAttribute('content', description)
      document.querySelector('meta[property="og:url"]').setAttribute('content', `https://www.s-groove.co.jp/freshers${url}`)
      document.querySelector("meta[name='description']").setAttribute('content', description)
      document.querySelector('meta[name="keywords"]').setAttribute('content', keywords)
    }
  }
}
</script>

<style lang='scss'>
@import './assets/style/common.scss';

#app {
  transition: background-color 0.3s ease 0.3s;

  .top & {
    background-color: #faf160;
  }

  .about & {
    background-color: #c9d8f3;
    .page {
      &::after {
        background-color: #c9d8f3;
      }
    }
  }

  .interview & {
    background-color: #f0f0f0;
    .page {
      &::after {
        background-color: #f0f0f0;
      }
    }
  }

  .interview-detail--type01 & {
    background-color: #f5c2bf;
    .page {
      &::after {
        background-color: #f5c2bf;
      }
    }
  }

  .interview-detail--type02 & {
    background-color: #8bc4c4;
    .page {
      &::after {
        background-color: #8bc4c4;
      }
    }
  }

  .interview-detail--type03 & {
    background-color: #d3e7e7;
    .page {
      &::after {
        background-color: #d3e7e7;
      }
    }
  }

  .benefit & {
    background-color: #eee8da;
    .page {
      &::after {
        background-color: #eee8da;
      }
    }
  }

  .gallery & {
    background-color: #ccccca;
    .page {
      &::after {
        background-color: #ccccca;
      }
    }
  }

  .entry & {
    background-color: #eee8da;
    .page {
      &::after {
        background-color: #eee8da;
      }
    }
  }

  .is-menu-open & {
    background-color: #eee8da !important;
  }

  &[data-color="pink"] {
    background-color: #f5c2bf;
  }

  &[data-color="yellow"] {
    background-color: #faf160;
  }

  &[data-color="gray"] {
    background-color: #ccccca;
  }

  &[data-color="offwhite"] {
    background-color: #eee8da;
  }

  &[data-color="light-blue"] {
    background-color: #c9d8f3;
  }

  &[data-color="green"] {
    background-color: #8bc4c4;
  }

  &[data-color="light-gray"] {
    background-color: #d3e7e7;
  }

  &[data-color="white"] {
    background-color: #f0f0f0;
  }
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  overflow: hidden;
}

.slide-right-leave-active,
.slide-left-leave-active {
  transition: transform 0.4s cubic-bezier(0.71, 0.02, 0.8, 0.04);
}

.slide-right-leave-to,
.slide-left-enter-active {
  transform: translateX(100%) skew(8deg);
  @include max {
    transform: translateX(100%) skew(5deg);
  }
}

.slide-left-leave-to,
.slide-right-enter-active {
  transform: translateX(-100%) skew(8deg);
  @include max {
    transform: translateX(-100%) skew(5deg);
  }
}

.slide-left-enter-to,
.slide-right-enter-to {
  transition: transform 0.4s;
  transform: translateX(0%) skew(0deg);
}
</style>
